[2018-11-29 16:02] mykyta-bondarenko opened #5201 "[XM] Mac application has 'iPhone/iPhoneSimulator' configurations"
### Steps to Reproduce

1. Open VSfM
2. Create new XM project (there are only `Debug` and `Release`)
3. Add new XI project
   - XI is a start project - there are `Debug` and `Release`
   - XM is a start project - there are  `Debug|x86`, `Release|x86`, `Debug|iPhone`, `Release|iPhone`, `Debug|iPhoneSimulator` and `Release|iPhoneSimulator`

### Expected Behavior
There are `Debug` and `Release` confi

[2018-11-29 16:08] VincentDondain commented on #5201
Oh yea I can confirm that part:

1. Open VSfM
2. Create new XM project (there are only Debug and Release)
3. Add new XI project
    - XI is a start project - there are Debug and Release
    - XM is a start project - there are Debug|x86, Release|x86, Debug|iPhone, Release|iPhone, Debug|iPhoneSimulator and Release|iPhoneSimulator

That is not correct (:

A new XM project has the correct config, a ne

[2018-11-29 16:33] #4018 closed

[2018-11-29 16:50] lassana commented on #5126
Any workaround for this? Adding `-registrar:static` to `mtouch` argument doesn't make any difference.

[2018-11-29 16:58] projectgoav commented on #5126
I've not found one.

In the meantime I reverted back to the last working Xamarin iOS release I had (12.1.0.15) till either Xamarin or Apple fix it...

[2018-11-29 17:59] taori commented on #5103
Good news - Updated VS on mac today again - Problem is gone. Deployment+Debugging works with both now

[2018-11-29 20:01] VincentDondain commented on #5003
We have not received the requested information.

If you are still experiencing this issue please provide all the requested information then click the Reopen Issue button.

Thanks!

[2018-11-29 20:01] #5003 closed

[2018-11-29 20:09] praeclarum opened #5202 "FinderInfo metadata can make builds unsignable"
It's possible to add BundleResource files to a project that contain metadata (xattrs) that later will cause a build to be unsignable with this error:

[code]

The culprit is `com.apple.FinderInfo` and is clearable using instructions here: https://stackoverflow.com/questions/39652867/code-sign-error-in-macos-high-sierra-xcode-resource-fork-finder-information

### Steps to Reproduce

You need a file

[2018-11-29 22:36] mandel-macaque commented on #5183
@softlion I was taking a look at this issue and I noticed that there was a small issue with the link to the gist, I suppose you mean that the version info is [THIS gist](https://gist.github.com/softlion/98290692eaedc2ba692b52514c28dba3). Am I correct?

The logs from the mac in that gist do look a little [funny](https://gist.githubusercontent.com/softlion/98290692eaedc2ba692b52514c28dba3/raw/873269

[2018-11-29 22:42] VincentDondain commented on #5202
Hi @praeclarum,

I tried to add some random JPG/JPEG from Google as a bundle resource in a new Xamarin.iOS project, then open with preview, duplicate, resize and save but I don't think I was able to generate `com.apple.FinderInfo` (not quite sure where that file would live) but in any case I couldn't reproduce the signing issue.

Could you please attach a simple test project that shows the issue?

[2018-11-29 23:01] chamons opened #5203 "MMP should use LinkWith variable not own native_references"
MMP currently uses a XM specific `native_references` variable instead of the common `LinkWith`. This forced a small hack in this PR: https://github.com/xamarin/xamarin-macios/pull/5167

[2018-11-30 00:12] dalexsoto commented on #5188
Hello @CHYGO1985

Since you are binding a C library (not C++) I would recommend to avoid swig completely because it is not needed at all, in this case you can use the built in [.Net Platform Invoke](https://docs.microsoft.com/en-us/dotnet/framework/interop/consuming-unmanaged-dll-functions). I would recommend also reading [Interop with Native Libraries](https://www.mono-project.com/docs/advanced/p

[2018-11-30 00:12] #5188 closed

[2018-11-30 02:16] wjk opened #5204 "RegistrarAttribute without explicit name isn't honored by Xcode project generator"
### Steps to Reproduce

1. Download and open the repro project linked below.
2. Open the Main.storyboard file. Notice how the `AppDelegate` ObjC class files are present. Quit Xcode.
3. Open `AppDelegate.cs`, and change the line `[Register("AppDelegate")]` to just `[Register]`.
4. Reopen the Main.storyboard file. Notice how the AppDelegate ObjC classes are now missing.

### Expected Behavior

The X

[2018-11-30 08:21] rolfbjarne commented on #5126
@lassana

Can you try enabling the linker in the project's iOS Build options (either Link SDK or Link All) and see if that works?

[2018-11-30 12:47] lassana commented on #5126
@rolfbjarne , setting `Link Framework SDKs` and adding `-registrar:static` allow me to run the app on iOS 9 simulators. Thank you!

[2018-11-30 13:47] projectgoav commented on #5126
Just to add to my previous comment, I am able to run on iOS 10 simulators without adding `-registrar:static`

[2018-11-30 15:30] CHYGO1985 commented on #5188
@dalexsoto Thanks a lot for your help. It works in my local environment.
@VincentDondain Also really appreciate your help as well.

[2018-11-30 16:29] praeclarum opened #5210 "Accelerate Sparse Matrix library is not bound"
Accelerate's Sparse Matrix library is not bound. https://developer.apple.com/documentation/accelerate/sparse_solvers

Most of Accelerate isn't bound, but most of it can be easily be P/Invoked into.

The Sparse library, on the other hand, is hard to bind to because it uses C++ overloads as its API.

It would be wonderful if Xamarin supported this API. Specifically,functions like: https://developer.

[2018-11-30 16:42] praeclarum commented on #5202
Hi @VincentDondain, make sure you have the culprit metadata - this bug won't repro without it.

`com.apple.FinderInfo` is not a file - it's metadata stored in the file system. You can verify you have it by using `xattr`.

You can add it to any file using `xattr` (please read the attached SO post).

[2018-11-30 16:42] Aufty commented on #4610
Anybody have any suggestions? The SDK is DocumentReader (Regula).

Easy to reproduce. Create a project, add the SDK, run once on a device, stop, run it again, crash. Clean the project, run again, no problem, stop, run again, crash.

[2018-11-30 18:58] VincentDondain commented on #5210
@praeclarum could you precise the exact need for those framework/library to help us prioritize?

Also for Sparse you might be able to get 3rd party C# libraries. http://www.alglib.net/linear-solvers/sparse.php?

[2018-11-30 19:34] pp111 opened #5213 "Application referencing a native framework signing issue"
In my project I have referenced a Native framework (not signed). When I compile, the framework is copied to the bundle inside the /Contents/Frameworks as expected and everything works ok.

However when I try to deep sign the bundle it shows:
"bundle format is ambiguous (could be app or framework) In Subcomponent: <Path to the Framework>"

According to Apple, only two things allowed at the root of

[2018-11-30 19:59] VincentDondain commented on #5204
Well the simple answer to this is: do not change `[Register("AppDelegate")]` (:

I've never explored this myself but I believe there _might_ indeed be a chance to improve the Xcode syncing logic of VSMac (assigning the right label).

In any case this is probably not high priority as I believe the current solution works as expected (unless you can point at limiting factors).

[2018-11-30 20:14] VincentDondain commented on #5213
Hi,

Sorry I'm having a hard time reproduce this issue.

I created a new iOS project and added an Objective-C native framework I manually created as native reference.

1. The native framework isn't copied to `/Contents/Frameworks`, only `MyApp.app/Frameworks/MyFramework.framework`.
2. I do not have issues running `codesign --force --sign "my signature ID" "MyApplication.app" --deep` on that app bu

[2018-11-30 20:31] pp111 commented on #5213
Hi,

the project is for Mac, not iOS.

[2018-11-30 20:41] pp111 commented on #5213
I added a test case.

As you can see in the test case, the native framework that is in the Release/Test.app/Contents/Frameworks/MMTabBarView.framework has the file MMTabBarView directly in the root instead of a symlink to it like in the original library.

[2018-11-30 21:00] VincentDondain commented on #5213
Ah yes I can confirm the issue with Xamarin.Mac and your test case. Your framework is different than mine because it's using symlinks.

I do see that when building for release, our build steps seem to replace the `MMTabBarView` binary symlink by the actual file.

I also got:

[code]

I was also able to confirm that Xamarin.iOS behaves correctly with a `.framework` with symlinks like yours. It's no

[2018-11-30 21:30] wjk commented on #5204
@VincentDondain The only reason I brought this up is because I like to have the namespace of my types show up in the Obj-C class names. I could of course do this by hand by changing the string argument to the RegisterAttribute; I was just wondering if it could be done automatically. Thanks for checking for me!

[2018-11-30 22:54] samhouts opened #5215 "[iOS] HttpClient GetAsync does not consider connection loss as an error"
_From @Flheriau on November 13, 2018 15:53_

### Description

I'm using HttpClient to download files from URLs with GetAsync method. With huge images for example, when I stop internet connection manually in the middle of the download, it is considered as a normal ending for the GetAsync method and the resulting HttpResponse is totally normal (status 200, no error message, no exception).  Depending

[2018-11-30 22:54] samhouts commented on #5215
_From @Flheriau on November 15, 2018 10:23_

You can now reproduce with the sample project. I should have put it the first time !

[2018-11-30 22:54] samhouts commented on #5215
_From @kingces95 on November 16, 2018 23:35_

Could you please provide a sample app as well as the URL used download an image that reproduces the problem?

[2018-11-30 22:54] samhouts commented on #5215
_From @Flheriau on November 19, 2018 7:48_

You can see a Sample project in the description. The image used is 10 Mo large to have the time to stop the internet connection. (https://www.spacetelescope.org/static/archives/images/publicationjpg/heic0711a.jpg)

[2018-11-30 22:54] samhouts commented on #5215
_From @Flheriau on November 22, 2018 9:2_

Any update on this ? Did you manage to reproduce the problem with the sample ?

[2018-12-01 02:44] praeclarum commented on #5210
The library you linked to is GPL/commercial and the open source ones are slow. The Apple library is free and very fast.

Use case for me is solving large numbers of systems of equations for circuit analysis. But it can also be used for any ML app that uses linear algebra.

[2018-12-01 09:07] softlion commented on #5183
@mandel-macaque yes its this gist. I did not put the log from the mac. Do you need them ?

Well no, its not public. Btw i could send the whole project to you in private. Could the problem be linked to the ResolveNativeReference  warning that i reported above ?

I will try using VS Mac instead of VS Windows.

[2018-12-01 14:15] softlion opened #5216 "Fail to build C++ ios native lib from vs2017 windows"
### Steps to Reproduce
On VS2017 Windows

1. Create a new Visual C++ Cross Platform/Shared Library (Android, iOS) on VS2017 Windows
2. Configure remote C++ build for iOS on the mac and connect VS2017 to it
3. Build the iOS project from VS2017

### Expected Behavior
Builds fine

### Actual Behavior
Fails to build
[code]

### Additional infos
[code]

### Environment
[code]

### Build Logs

[code]

[2018-12-01 14:18] softlion commented on #5216
Solution for those who discover this issue:

[code]

[2018-12-02 16:11] orryverducci opened #5217 "Missing binding for latency in AudioUnit"
This issue was previously reported as [Bugzilla bug 30004](https://bugzilla.xamarin.com/show_bug.cgi?id=30004).

### Steps to Reproduce

1. Get the default output audio component using `AudioComponent.FindComponent(AudioTypeOutput.Default)`.
2. Create an instance of `AudioUnit` using the output audio component.
3. Try to retrieve the latency property.

### Expected Behavior

It should be possible

[2018-12-03 06:45] nhattruong061 commented on #5151
I have same issues. Any one? :(

[2018-12-03 12:51] taori opened #5219 "VS freezes when attempting to debug the app"
### Steps to Reproduce

1. Build our project (can't share project - can schedule remote session with TeamViewer though.)

### Expected Behavior
- Have a working debugger

### Actual Behavior
- Visual Studio freezes once the debugger attaches
- After restarting Dev machine + debugger results in a NRE when attempting to debug (See attached logs)

### Environment

[code]

### Build Logs

- https://gi

[2018-12-03 12:52] taori commented on #5219
With https://github.com/xamarin/xamarin-macios/issues/5103 i couldn't even debug - so i guess we are getting there for debugging to work properly again.

[2018-12-03 16:06] VincentDondain commented on #5217
Yes it does not look like `src/AudioUnit/AudioUnit.cs` has anything for the latency.

We'd need something similar to https://github.com/xamarin/xamarin-macios/blob/master/src/AudioUnit/AudioUnit.cs#L539-L552

This is a good first PR for anyone who'd like to contribute.

Also please note that as a _workaround_, if you really need to, you could just copy one of those dll imports in your code: https:

[2018-12-03 16:12] VincentDondain commented on #5216
@emaf @mauroa don't we run `sudo xcode-select -s /Applications/Xcode.app/Contents/Developer` for the user as part of the XMA connection / tooling update?

This sounds like a first run problem maybe?

[2018-12-03 16:54] rolfbjarne opened #5220 "IDEs/MSBuild targets don't support the 'LinkTarget' property for binding projects"
The `LinkWith` attribute has a `Dlsym` option: https://github.com/xamarin/xamarin-macios/blob/b1feb2fd75a2e4b61e2e6d82fb4b3b7e74334292/src/ObjCRuntime/LinkWithAttribute.cs#L113-L115

This option should be surfaced in the IDEs for native libraries/frameworks in binding projects and supported in our MSBuild tasks.

See also: https://github.com/xamarin/md-addins/blob/329a611e87d75f7490e85dfb044757967

[2018-12-03 18:53] VincentDondain commented on #5210
Great thanks for detailing that. I'll make this issue as "Help wanted" also until we get the time to review it further to prioritize it.

[2018-12-03 19:59] spouliot commented on #5190
That's a bug - the two (managed/client vs native/handler) timeouts are fighting each other.

When using `HttpClient` the user code should not have know anything basic (defined in `HttpClient`, like `Timeout`). To achieve that the native timeout needs to be disabled or, in case they cannot be, longer than the native ones.

Note: in most cases the workaround is _fine_ but it won't work if `HttpClien

[2018-12-03 20:06] spouliot commented on #5220
-> enhancement, nothing is broken/blocked

[2018-12-03 21:49] VincentDondain commented on #5215
Hi,

So I see some useful timeout info in the logs but, for the `NSUrlSession` http client handler, no exception is being raised.

I see:

[code]

If I'm using the managed HttpClient handler, I'm entering the catch and getting:

[code]

[2018-12-04 00:55] spouliot commented on #5215
@VincentDondain there's another timeout issue in https://github.com/xamarin/xamarin-macios/issues/5190
You might want to try the workaround (I have a proper fix in progress).

[2018-12-04 01:39] spouliot commented on #5129
Fixed for preview 2

[2018-12-04 01:39] #5129 closed

[2018-12-04 02:37] MTantos opened #5222 "Latest build incompatible with Csla"
### Steps to Reproduce

1. Create new XamarinForms app (include iOS)
2. Add nuGet package Csla-XamarinForms 4.8.1 (including dependancy Csla-Core 4.8.1)
3. In XamarinForms project -> App.xaml.cs -> OnStart()
     add line `Csla.ApplicationContext.User = new Csla.Security.UnauthenticatedPrincipal();`
     *** This is required by the framework. ***
4. Leave Linking option set to "Link SDK assemblies

[2018-12-04 15:23] CristianoWinter10 opened #5226 "Got a SIGSEGV while executing native code"
### Expected Behavior
Open ViewController to select items
### Actual Behavior
App is crashing after open and close ViewController
### Environment

[code]

### StackTrace

[code]

### Example Project (If Possible)

[2018-12-04 17:39] rolfbjarne commented on #3755
https://github.com/xamarin/xamarin-macios/blob/b1feb2fd75a2e4b61e2e6d82fb4b3b7e74334292/msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/CodesignAppBundle.cs#L109-L115 😒

[2018-12-04 23:15] VincentDondain commented on #5222
This issue was moved to xamarin/Xamarin.Forms#4637

[2018-12-04 23:15] #5222 closed

[2018-12-04 23:30] VincentDondain commented on #5226
Hi,

In order to further assist you it would help if you could provide us:

- A simple **text case** showing the issue so we can reproduce on our end.
- Give us the **symbolicated crash report** (the one you pasted isn't fully symbolicated). You can follow the instructions in https://jmillerdev.net/symbolicating-ios-crash-files-xamarin-ios/ to do so.
- Give us your full **verbose build logs**. To

[2018-12-04 23:51] VincentDondain commented on #5222
For reference I managed to reproduce the issue with a Xamarin.iOS only project (it wasn't a Forms specific library / issue):

[Issue4637.zip](https://github.com/xamarin/xamarin-macios/files/2646579/Issue4637.zip)

I believe the library isn't linker safe and it's the responsibility of the library owner/maintainer to ensure it is.

I think you can file an issue there: https://github.com/MarimerLLC/c

[2018-12-05 00:06] MTantos commented on #5222
@VincentDondain Thanks for your response.

I'll pass this on to the library maintainer. However, it was working correctly until we updated VS from 15.8 to 15.9. Not saying that the library is linker safe, just that the linker's behaviour has changed between those 2 builds of VS.

N.B.
I only posted here as I found [https://docs.microsoft.com/en-us/xamarin/ios/deploy-test/linker?tabs=windows](https

[2018-12-05 00:46] spouliot commented on #5222
@MTantos thanks for reporting the issue. You were right to file it as we want to know about all linker issues, even if some are not related to the product, since it helps us figure out issues and future enhancements.

In this case (because of that specific exception) you can try `--nolinkaway` (as an **Additional mtouch argument** in your project options). It will likely _solve_ your issue and wil

[2018-12-05 03:42] dalexsoto commented on #5217
Hello @orryverducci, thank you for your feedback!

We want to add the API you need in PR #5221 but I need confirmation from **you** that said API works as expected, I have prepared a class that you can add to your current application with almost identical logic as PR #5221, please give this a try and let us know if this resolves you issue and works for you as expected (Bonus points if you could pr

[2018-12-05 04:49] dalexsoto opened #5228 "[generator] SmartEnum generator spits invalid code when using constants from Apple's framework libraries"
### Steps to Reproduce

1. Create a binding project that has an SmartEnum using a system framework constant inside ApiDefinition

[code]

2. Make sure the project has `Process enums as bindings instead of external types` checked in project settings.
3. Build project.

### Expected Behavior
Generator does not create invalid code.

### Actual Behavior
Generator creates invalid code:

Good:

[code]

[2018-12-05 07:37] rolfbjarne commented on #5183
I ran into this myself, so I can repro:

* Open tests/tests.sln
* Select the monotouch-test project, and the Debug64 device configuration.
* Add `--marshal-objectivec-exceptions=throwmanaged` to the additional mtouch arguments.
* Build

I'll have a look at this.

[2018-12-05 14:53] chamons opened #5232 "FileCopier.cs does not correctly Log\Error when used in msbuild"
https://github.com/xamarin/xamarin-macios/pull/5167#discussion_r238684107

This PR uses CWL\throwing an exception to report when run as part of an msbuild task.

Fixing this is tricky, as the LogError\LogMessage APIs are instance variables only accessible from the task.

We could stash the task somewhere in a static for reporting or bubble up some event to the task or something else, but in any ca

[2018-12-05 19:47] praeclarum opened #5233 "NSFont FromFontName should not check for UI thread"
NSFont FromFontName/fontWithName:size: should not check for the UI thread since NSFonts are used throughout the APIs for non-UI tasks. Such things include text rendering with NSGraphics, SceneKit, and just general font playing around.

### Steps to Reproduce

1. Create a background thread
2. Call NSFont.FromFontName ("Helvetica", 10);

### Expected Behavior

Everything is OK, fonts are allowed on

[2018-12-05 19:50] praeclarum opened #5234 "NSBezierPath should not check for UI thread"
NSBezierPaths are used throughout Cocoa for rendering on background threads in addition to foreground. Currently they throw when used in a background thread. This is wrong.

### Steps to Reproduce

1. Create a background thread
2. `NSBezierPath.FromOvalInRect (new CGRect (0, 0, 100, 100))`

### Expected Behavior

Path is created.

### Actual Behavior

UI thread consistency exception is thrown.

##

[2018-12-05 19:54] praeclarum opened #5235 "NSStringDrawing.DrawAtPoint checks for UI thread but shouldn't"
Like #5234, NSGraphics functionality works on background threads.

### Steps to Reproduce

1.  Create a background thread
2. `"Hello World".DrawAtPoint (new CGPoint (0, 0), attributes);`

### Expected Behavior

Text is drawn.

### Actual Behavior

Thread consistency exception is thrown.

### Environment

[code]

[2018-12-05 21:39] chamons commented on #5232
A suggested fix is to have FileCopier store a list of logs \ errors and make the caller responsible to check those post operation.

[2018-12-06 03:17] spouliot commented on #5235
Thread safety documentation tends to be limited and something incorrect. We'll check them against Apple's **Main Thread Checker** and disable the thread check if no assertion occurs. It might not be 100% accurate but, at least, it will be consistent with the results from Xcode.

[2018-12-06 03:17] spouliot commented on #5234
Thread safety documentation tends to be limited and something incorrect. We'll check them against Apple's **Main Thread Checker** and disable the thread check if no assertion occurs. It might not be 100% accurate but, at least, it will be consistent with the results from Xcode.

[2018-12-06 03:18] spouliot commented on #5233
Thread safety documentation tends to be limited and something incorrect. We'll check them against Apple's **Main Thread Checker** and disable the thread check if no assertion occurs. It might not be 100% accurate but, at least, it will be consistent with the results from Xcode.

[2018-12-06 09:31] softlion commented on #5183
You are right, i used "--marshal-managed-exceptions=throwobjectivecexception --marshal-objectivec-exceptions=throwmanagedexception"

Any news ?

[2018-12-06 14:46] VincentDondain commented on #5216
Hi @softlion

I got confused by your comment saying: "Build the iOS project from VS2017" which made me think you were (at least for 1 of your projects in this solution) using Xamarin.

My team pointed out to me that you're in fact probably only using the C++ iOS development tools.

If you are not using Xamarin.iOS/Forms (at part of this issue, for this solution) and only C++ for iOS, then this Git

[2018-12-06 14:46] #5216 closed

[2018-12-06 15:09] chamons opened #5236 "[msbuild] Mac should support `ArchiveAppBundle` like iOS"
See https://github.com/xamarin/mirepoix/commit/05ff27d77b19546a65f5a1589ca991e7d5fbe118 for a potential implementation.

[2018-12-06 16:40] VincentDondain commented on #5236
@chamons I am not quite sure a. what's the benefit of having zipping the app bundle on the Mac on build (we already can either produce a .pkg and .xcarchive so...) and b. which iOS code you're referring to and how to use it.

[2018-12-06 16:42] softlion commented on #5216
Well I am using XAMARIN !!!!

No they are wrong.

[2018-12-06 16:44] softlion commented on #5216
Note that i finally built the C++ ios library fine from VS2017, but i can not use it from a Xamarin iOS application project. The C++ project can not be added as a reference.

[2018-12-06 16:45] softlion commented on #5216
The same "C" code - Android version - compiles fine, is referenced from a Xamarin Android app project, and executes fine on a device.

[2018-12-06 17:00] VincentDondain commented on #5216
Sorry this issue is very confusing, the best way to show us the problem would be to share a _simple test case_. If we can reproduce a Xamarin specific issue on our side we can help you with that.

Otherwise if the issue you're talking about has to do with Visual C++ (unclear) then you have to report a problem in the Visual Studio IDE.

I also sounds like we're not talking about the initial issue a

[2018-12-06 18:36] dalexsoto commented on #5235
Valid bug:

[code]

Does not fire MTC.

[2018-12-06 18:57] dalexsoto commented on #5233
Valid bug:

[code]

Does not fire MTC.

[2018-12-06 19:16] #4435 closed

[2018-12-06 20:28] dalexsoto opened #5237 "[generator|tests] Leverage Apple's Main Thread Checker to get correct [ThreadSafe] checks"
### Description

We currently try to guess what is thread safe based on documentation, experience and reports like [5235](https://github.com/xamarin/xamarin-macios/issues/5235), [5234](https://github.com/xamarin/xamarin-macios/issues/5234), [5233](https://github.com/xamarin/xamarin-macios/issues/5233), etc. In Xcode 9, Apple [introduced Main Thread Checker](https://developer.apple.com/documentatio

[2018-12-07 06:32] rolfbjarne commented on #5236
See also: https://trello.com/c/n8cY8Tbs

[2018-12-07 06:32] rolfbjarne commented on #5237
See also: https://trello.com/c/n8cY8Tbs

[2018-12-07 06:32] xamarin-release-manager commented on #4791
Fixed in version 4.16.3.10 (d15-9)

Author: Denis Kandrov (Akvelon INC)
 Commit: 2dd4b537fc9f8c2f0f83eca951d48f1dcc3586f9 (xamarin/designer)

[2018-12-07 07:14] rolfbjarne commented on #5183
Don't use `--marshal-objectivec-exceptions` for now.

Not yet.

[2018-12-07 07:54] softlion commented on #5183
It compiles fine now. if i use ForceLoad=true, GCC false,, C++ true, smart link true, and not other flags (i removed --  flags). But maybe it's linked away because of smart link.

[2018-12-07 07:55] softlion commented on #5183
Btw do you know how to reference a C++ ios project in VS ? It seems not supported (error:

[code]

[2018-12-07 07:56] softlion commented on #5183
Btw do you know how to reference a C++ ios project in VS ? It seems not supported (error:

[code]

[2018-12-07 07:57] softlion commented on #5216
You are totally right. Should i open a new issue for it ?

[2018-12-07 12:31] mandel-macaque commented on #5151
@nhattruong061 @MizuhoYASOSHIMA I'm going to take a look at this. Are there any special settings you are using for the proxy? Or can I simply set up a proxy with auth?

[2018-12-07 13:22] mykyta-bondarenko opened #5240 "[XI] OpenGLRenderer doesn't work properly"
### Steps to Reproduce

1. Download a [sample](https://github.com/xamarin/ios-samples/tree/master/AVCustomEdit)
2. Run it on a real device
3. Tap on a 'play' button

I've made all fixes related to the [original sample](https://github.com/wilddylan/appleSample/tree/master/AVCustomEdit). But I still have an issue that occurs during one of transitions.

### Expected Behavior
Transition looks correct

[2018-12-07 16:10] mykyta-bondarenko-gl opened #5243 "[XM] codesign_allocate: can't allocate code signature data"
### Steps to Reproduce

1. Download a [sample](https://github.com/xamarin/mac-samples/tree/master/MarkdownViewer)
2. Open project's options (`Build` -> `Mac Signing`)
3. Switch `Sign the application bundle` on
4. Build it

### Expected Behavior
Build is successful

### Actual Behavior
Build is failed.

[code]
### Environment

1. VSfM
https://gist.github.com/mykyta-bondarenko-gl/b0dac88754c72f6cfdb

[2018-12-07 16:11] VincentDondain commented on #5216
Hi,

No please do not open a new issue, let me answer here.

So this is out of the scope of things we directly support (a.k.a it's possible to consume C/C++ libraries but it requires more work on your side).

We only [document](https://docs.microsoft.com/en-us/xamarin/ios/platform/binding-objective-c/walkthrough?tabs=macos#creating-a-static-library) how to make a fat static library (.a) that suppo

[2018-12-07 16:14] VincentDondain commented on #5183
@softlion for that last question see my answer here: https://github.com/xamarin/xamarin-macios/issues/5216#issuecomment-445281145. If @rolfbjarne has anything else to add to it let's discuss in the other issue (:

[2018-12-07 19:04] mykyta-bondarenko commented on #5240
@VincentDondain  I think it was a long time ago :( before updating the sample I had found an [issue](https://github.com/xamarin/ios-samples/issues/154), as you see it was created in 2017.

[2018-12-07 19:20] #5233 closed

[2018-12-07 19:20] #5234 closed

[2018-12-07 19:20] #5235 closed

[2018-12-07 20:00] praeclarum commented on #5234
Thanks @dalexsoto for the quick response! And thanks for making it class level, I should have mentioned that all these APIs are thread safe.

[2018-12-07 20:29] VincentDondain commented on #5243
I couldn't repro with my current [environment](https://gist.github.com/VincentDondain/6b8c837246c0d93001f906804b7e3a4e).

[2018-12-07 20:42] VincentDondain commented on #5243
I still can't reproduce with the same Mono/XI as you. Please attach your .app so we can compare with what we produce locally (:

[2018-12-07 21:03] VincentDondain commented on #5243
Ah that's it I can repro with the same environment (🤦‍♂️ I update my XI but not my XM to master, that didn't help...)

See [environment](https://gist.github.com/VincentDondain/5aaace1e02ab37a32ae675e52b8984d4) so you need XM 5.5.1.311 to repro.

[2018-12-07 21:12] VincentDondain commented on #5243
This appears to be a regression given that it works with a previous environment mentioned in
https://github.com/xamarin/xamarin-macios/issues/5243#issuecomment-445356290

[2018-12-07 21:18] VincentDondain commented on #5243
Here's the app zip: https://www.dropbox.com/s/fk97bmfpjvcddnz/Markdown.zip?dl=0

[2018-12-09 13:07] orryverducci commented on #5217
Thanks @dalexsoto for addressing this so quickly.

I've had tested it in my application and can confirm that it is working as expected. My only bit of feedback is the set and get methods allow you to specify an AudioUnitScopeType, but only AudioUnitScopeType.Global is valid for latency (all others return an invalid scope error). For simplicity it might be sensible not to provide this option and al

[2018-12-10 02:02] MizuhoYASOSHIMA commented on #5151
Thank you for having looking at.
I used proxy with NTLM authentication  and got the error.
(This proxy is my company', so I don't know detailed setting of the proxy.)
I also used proxy with Basic authentication (using Squid) and had no error.
So it seems that the issue is related to NTLM authentication.

[2018-12-10 11:20] taori commented on #5103
Bad news - Updated to VS2017.9.3 - Can't debug again.

## Debug window:

[code]

## logs
[2018-12-10_12-03-46.2232.XamarinLive.log](https://github.com/xamarin/xamarin-macios/files/2662892/2018-12-10_12-03-46.2232.XamarinLive.log)

## build log window
[code]

[2018-12-10 11:51] mandel-macaque commented on #5151
@MizuhoYASOSHIMA thanks for the info! I was using squid with basic auth and could not reproduce the issue. I'll set up a proxy with NTLM auth and will try to reproduce and debug the issue.

[2018-12-10 13:40] mykyta-bondarenko-gl opened #5248 "[XM] install_name_tool: changing install names or rpaths can't be redone"
### Steps to Reproduce

1. Download a [sample](https://github.com/xamarin/mac-samples/tree/master/XMBindingExample)
2. Open project's options (`Build `-> `Mac Build`)
3. Set `Linker behavior` to `Link Framework SDKs Only`
4. Build it

### Expected Behavior
Build is successful

### Actual Behavior
Build is failed.

[code]
### Environment

1. VSfM
https://gist.github.com/mykyta-bondarenko-gl/1fb97f3

[2018-12-10 15:04] dalexsoto commented on #5217
@orryverducci Thank you for your feedback!

[2018-12-10 15:16] VincentDondain commented on #5248
Sorry my brain didn't register the XM numbers properly. You said it **worked** with XM 5.5.1.**311** and **not** with XM 5.5.1.**313** (:

[2018-12-10 17:10] mykyta-bondarenko-gl commented on #5240
I think it was a long time ago :( before updating the sample I had found an issue, as you see it was created in 2017.

[2018-12-10 18:13] #5217 closed

[2018-12-10 21:33] GouriKumari opened #5250 "Sample with entity framework fails to launch with 15.9 XI builds"
### Steps to Reproduce

1.  Install XI 12.2.1.12
2. Build and launch the attached project on device

### Expected Behavior
App should successfully launch on device

### Actual Behavior
App fails to launch on device with an error, Unhandled Exception:
System.ExecutionEngineException: Attempting to JIT compile method '(wrapper runtime-invoke) :runtime_invoke_void__this___int_byte_object_object_DateT

[2018-12-10 21:38] VincentDondain commented on #5248
Looks like it's fixed by @chamons's local fix: https://gist.github.com/chamons/b23c8cd1f2181707ebac4b7267d8ed89#file-foo-diff

[2018-12-10 21:39] VincentDondain commented on #5243
Looks like it's fixed by @chamons's local fix: https://gist.github.com/chamons/b23c8cd1f2181707ebac4b7267d8ed89#file-foo-diff

[2018-12-10 21:59] #5148 closed

[2018-12-10 22:34] VincentDondain commented on #5250
@GouriKumari mmh is it possible I don't have download access to this link https://www.dropbox.com/s/z3sjkwk5s3yi4zt/iOSEFCore21.zip?dl=0 ? I don't see the Download button (:

[2018-12-11 02:46] GouriKumari commented on #5250
https://www.dropbox.com/s/z3sjkwk5s3yi4zt/iOSEFCore21.zip?dl=0, link is shared with everyone. I can DM you the test case.

[2018-12-11 11:13] mykyta-bondarenko-gl opened #5252 "[watchOS] MT3001: Could not AOT the assembly (mscorlib.dll)"
### Steps to Reproduce

1. Download a [sample](https://github.com/xamarin/ios-samples/tree/master/watchOS/SimpleWatchConnectivity)
2. Set `Release|iPhone` configuration
3. Build it

### Expected Behavior
Build is successful

### Actual Behavior
Build is failed.
[code]
----
_It wasn't reproducible with XI 5.5.1.313._

### Environment

1. VSfM
https://gist.github.com/mykyta-bondarenko-gl/6a699f2d669

[2018-12-11 14:18] emaf commented on #5103
@taori could you try rebuilding your app? It looks like there was a signing issue.

If that works and you're still facing this issue with incremental builds, could you upload a detailed build output for both builds (Rebuild and incremental build)?

[2018-12-11 14:42] taori commented on #5103
detailed build output as in VS build log level @detail or is there something else i should set, too? Incremental build does not ring a bell to me btw.

[2018-12-11 14:58] emaf commented on #5103
Sorry, yes detailed means changing the build output verbosity to Detailed in Tools -> Options -> Projects and Solutions -> Build and Run -> MSBuild project build output verbosity.

Regarding incremental builds, when you rebuild your app VS will run a full build of your project (it will run all MSBuild build targets), if after that you make changes and run a Build it will only run the MSBuild targe

[2018-12-11 15:47] taori commented on #5103
No - The app won't deploy at all anymore currently. i've collected some logs for you.
I've cleaned the solutions + restarted the VS Computer + Mac which is used for building.

[buildlog1.txt](https://github.com/xamarin/xamarin-macios/files/2668244/buildlog1.txt)
[buildlog2.txt](https://github.com/xamarin/xamarin-macios/files/2668245/buildlog2.txt)
[debuglog1.txt](https://github.com/xamarin/xamarin

[2018-12-11 16:08] CliffAgius commented on #5158
This issues seems to have re-appeared in the VS19 Pre.1 release I have been playing with today.

[2018-12-11 18:14] GouriKumari commented on #5252
Submitting watchOS samples to iTunesConnect fail with this error.
WatchKit: http://xqa.blob.core.windows.net/gist/report-e5e28d5f446f435283ccbe6b6d2b2a97.txt
WatchIntent: http://xqa.blob.core.windows.net/gist/report-048f8adec9cf4cc8bce09c5f32542010.txt

[2018-12-11 18:16] andrewbenson92 commented on #4926
I'd like to +1 this bug. Working with XCode Project but build fails with Xamarin

[code]

[2018-12-11 18:31] GouriKumari opened #5257 "[XI]Mini test "GShared" failed with master build"
### Steps to Reproduce

1. Install Xamarin.iOS master, 12.5.1.316
2. Execute mini test on iOS or tvOS device

### Expected Behavior
All tests should pass

### Actual Behavior
[FAIL] JitTests.GShared :   Expected: 0

### Environment
Mono version: 5.18.0.219 (f919fb58c4e)  (2018-12-04 12:36:55 -05:00)
XA version: 9.1.199.37 (HEAD/1158d33f)
XI version: 12.5.1.316 (master): 4cdb87e5)
XM version: 5.5.1

[2018-12-11 18:59] VincentDondain commented on #5252
Note: here's the actual AOT error code: https://gist.github.com/mykyta-bondarenko-gl/123188610a5896384db0b4d75e7a15c7#file-build-output-L3555

[2018-12-11 19:19] VincentDondain commented on #5252
We're aware of this already as it was tracked as a CI issue in our private repo: https://github.com/xamarin/xamarin-macios/issues/5252.

Note: I'm favoring the public issue now that there is one, closing the private one.

[2018-12-11 19:38] GouriKumari opened #5258 "[XI]mscorlib test failures on 32 bit device with master"
### Steps to Reproduce

1. Update System to Xamarin.iOS master build
2. Execute mscorlib test on 32 bit device

### Expected Behavior
All tests should pass

### Actual Behavior
There are 6 failures.
       [FAIL] DoubleFormatterTest.TestFormatStringsN1 :   DblFn1 #216
	[FAIL] DoubleFormatterTest.TestFormatStringsN1_Fixed :   DblFn1 #200
	[FAIL] DoubleFormatterTest.TestFormatStringsN2 :   DblFn2 #2

[2018-12-11 19:59] VincentDondain commented on #5257
Mmh I cannot reproduce the issue locally. I tried installing XI 12.5.1.316 (master): 4cdb87e like you did. I ran the mini tests for debug|iphone on a XS locally and they all passed.

Is this issue random? Can you reproduce locally or only on the bots?

[2018-12-11 20:37] rolfbjarne commented on #5258
The four first have been reported here: https://github.com/mono/mono/issues/11965

[2018-12-11 21:55] VincentDondain commented on #5258
I do not have a 32 bit device to reproduce but I'll trust those results and given that we already filed
https://github.com/mono/mono/issues/11965 let's just add `[FAIL] Rfc2898DeriveBytesTest.ConstructorPasswordSaltLengthZero : An unexpected exception type was thrown` and `[FAIL] Rfc2898DeriveBytesTest.ConstructorPasswordSaltLengthZeroIterations : An unexpected exception type was thrown` to the ex

[2018-12-11 21:55] #5258 closed

[2018-12-11 22:18] chkn commented on #4791
We have fixed this issue and it's available in Visual Studio 2017 15.9.4. See the release notes here: https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#15.9.4

[2018-12-12 05:36] jingliancui opened #5259 "binding library throw EntryPointNotFound Exception at runtime"
Hi
Now I want Binding a Library and using it.
The sharpie generate this code on the CFunction on the Struct.cs .

[code]

[code]

So I chage the method to this:
[code]

invoke it at app:
`CFunction.TheBMKCoordinateSpanMake(1.3d,2.3d);`

throw EntryPointNotFoundException

And I Check the source code here:
http://wiki.lbsyun.baidu.com/cms/iossdk/doc/v4.2.1/html/_b_m_k_types_8h_source.html
[code]

[2018-12-12 06:36] jingliancui opened #5260 "Constants reference struct complied will show error Bl1014 bgen:Unsupport type for Fields"
The sharpie generate the Constants:
[code]
Which BMKMapSize , BMKMapRect is struct at the Structs.cs file:
[code]

And build the project show these error:

![error](https://user-images.githubusercontent.com/16309962/49851183-3b769780-fe1b-11e8-9820-d08227d9cd7d.jpg)

[2018-12-12 15:46] GouriKumari commented on #5257
I could reproduce it locally with latest master build, e509cc98c

Test Log: https://gist.github.com/GouriKumari/4e2dc79c393bd84c0942737c0a2b3a8e
Build Log: https://gist.github.com/GouriKumari/ecc15b6cc2b33ad18c3d9826694f0a89

Test Env: https://gist.github.com/GouriKumari/d09ccf83397665d6041afe2bab77d11f

[2018-12-12 15:54] mattleibow opened #5265 "macOS/iOS can't build x86/x64 when NuGet has runtimes"
### Steps to Reproduce

1. File | New Solution...
2. Mac | App | Cocoa App
3. Install SkiaSharp as a `<PackageReference>`
4. Build

### Expected Behavior

A successful build.

### Actual Behavior

### Workaround

I noticed that if I switch from x86 to Any CPU, the issue goes away. For some reason, if building for x86 or x64, it decides to bull in the Windows binaries. Interestingly, there is an `o

[2018-12-12 16:47] VincentDondain commented on #5260
Hi,

The `Field` attribute is restricted to certain types, see: https://docs.microsoft.com/en-us/xamarin/cross-platform/macios/binding/binding-types-reference#fieldattribute. In your case to bind your properties to structs I believe you should use an `Export`.

However it's worth noting that GitHub issues for the `xamarin-macios` repo are for bugs against the product. This issue you are reporting

[2018-12-12 16:47] #5260 closed

[2018-12-12 17:42] VincentDondain commented on #3770
Hi,

@conceptdev This is still a problem we're facing today and we really should publish the generator errors (there's an argument to be made that we should split them into individual issues first).

In https://github.com/xamarin/xamarin-macios/issues/5260 the customer got a BI1014  issue and no way to access the extra bit of documentation we provide in that document: https://github.com/xamarin/xa

[2018-12-12 17:44] VincentDondain commented on #5260
Note: there is actually an issue related to the fact you couldn't access the full documentation for the BI1014 error (sorry about that): https://github.com/xamarin/xamarin-macios/issues/3770

You can see that full error documentation in our repo: https://github.com/xamarin/xamarin-macios/blob/master/docs/website/generator-errors.md#bi1014-unsupported-type-for-fields--for-

[2018-12-12 17:47] MSylvia opened #5266 "Security KeyTest does not clean up after itself"
Security tests that create public and private test keys in the user keychain (`NotDefault` and `<key>`) are not cleaned up after test completion.

### Steps to Reproduce

1. Run test that executes CreateRandomKeyTest

### Expected Behavior
Keys created by test in the users keychain are created and removed after test is complete
### Actual Behavior
The keys are never removed. This significantly slo

[2018-12-12 18:36] conceptdev commented on #3770
@VincentDondain it would be great to have all the error messages published, like the [c# errors](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/) are ([source](https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/compiler-messages/index.md)). Splitting them up would help enormously with discoverability/navigation, and make direct links easi

[2018-12-12 18:37] VincentDondain commented on #5265
I was able to reproduce that same MMP error with the broken project and the following [environment](https://gist.github.com/VincentDondain/b1397955bded1676ecaa842aee556f76).

[2018-12-12 19:20] spouliot commented on #3770
@conceptdev it's still the plan, ref: https://github.com/xamarin/xamarin-macios/issues/3570 but we have not gotten to it yet
It seems like starting the "new" binding errors that way could be a stepping stone before converting the existing ones

[2018-12-12 19:58] VincentDondain commented on #5266
After discussing with Matt, the issue he's seeing on the bots it an explosion of the number of keys in the keychain (nameless keys).

See:

<img width="989" alt="screenshot 2018-12-12 14 54 25" src="https://user-images.githubusercontent.com/7839202/49895291-12a3d180-fe1e-11e8-90b1-d899285b4207.png">

This happens on my iMac (pretty old work machine) but did not yet happen on my recently formatted

[2018-12-12 20:00] VincentDondain commented on #5266
This needs further investigation as I'm not sure it's at all related to the tests mentioned in this issue.

[2018-12-12 21:02] RazvanEmilR opened #5267 "Xamarin iOS crashes in debug randomly with error described."
### Steps to Reproduce

1. Start debugging app.
2. Step forward through breaking points

### Expected Behavior
After last break point, visual studio waits for further action with the app still running in debug mode.
If running the app on device disconnected from computer it will not crash.

### Actual Behavior
App crashes at random times with the error below.
App on device also crashes when runnin

[2018-12-12 21:41] RazvanEmilR commented on #5267
Any fix to this or idea about what I should do because I am stuck I cannot continue developing app and the error does not tell me anything immediately useful about what could be wrong so i can solve it...

[2018-12-12 23:37] EphramDoyle commented on #5127
i have the same and i have 15.9.4

[2018-12-13 01:30] jingliancui commented on #5259
👍 Thanks, I try to write it in c# from the .h file.

[2018-12-13 06:17] rolfbjarne opened #5268 "NSObject.SetAsProxy looks unnecessary"
NSObject.SetAsProxy looks unnecessary: https://github.com/xamarin/xamarin-macios/blob/f77b1b712eedc1072d2f31e8ac68fc60d12cee17/src/Foundation/NSObject.mac.cs#L121-L123

This method was introduced some time ago:

https://github.com/mono/monomac/commit/0f91a72e4ef0663e01cbf80aa856fa4b5c4a02cb
https://github.com/mono/maccore/commit/cc2eb799386c4dab22ca6a77405492d4395e6b81

I don't quite understand wh

[2018-12-13 06:30] rolfbjarne commented on #5266
@VincentDondain try executing xammac_tests instead of monotouch-test, since monotouch-test probably only add keys to the simulator's keychain, and not the mac's.

[2018-12-13 08:50] filipnavara commented on #5268
Here's an excerpt from the [original bug report](https://bugzilla.novell.com/show_bug.cgi?id=670844) that it was supposed to fix:

Not sure how long the Bugzilla link will work, so attaching the test project here for reference:
[AnimatorAddSubview.zip](https://github.com/xamarin/xamarin-macios/files/2675141/AnimatorAddSubview.zip)

[2018-12-13 11:50] RyanBuzzInteractive commented on #4170
I just found this which might be useful until Xamarin has the necessary overloads available : https://github.com/tranb3r/secure-httpclient

[2018-12-13 13:32] spouliot commented on #5267
@RazvanEmilR the error is not clear but

strongly hints it's related to XVS and the bug has been assigned to this team for investigation.

In the meantime I suggest you try to debug directly from the Mac (using Visual Studio for Mac) since that error should not happen locally.

[2018-12-13 14:41] spouliot commented on #5268
Nice detective work! We don't go back to Novell Bugzilla very often these days :)

[2018-12-13 18:20] jamesmontemagno opened #5273 "System.Drawing.Color does not exist in System.Drawing, but instead in OpenTK"
### Steps to Reproduce

1.  Try to use System.Drawing.Color on iOS
2.  It requires OpenTK to be brought in

### Expected Behavior

Since we conform to .NET Standard 2.0 which System.Drawing.Color lives in we should have this available in a non-third-party assembly.

### Actual Behavior
OpenTK dependency is needed.

### Environment
15.9

[2018-12-13 18:34] VincentDondain commented on #5120
Hi,

I'll close this issue given that it seems you couldn't reproduce it and provide the information requested by Bernhard but feel free to reopen this issue once you're able to and we'll take a look.

Thanks.

[2018-12-13 18:34] #5120 closed

[2018-12-13 20:13] VincentDondain commented on #5273
Hi James,

[Issue5273.zip](https://github.com/xamarin/xamarin-macios/files/2677475/Issue5273.zip)

Here's a sample project showing this issue you're talking about but also showing it's actually the **expected behavior** with a _counter example_ (:

I think there are a couple clarification needed (I needed some of them myself and asked Sebastien):

1. Xamarin.iOS does not "conform" to NetStandard i

[2018-12-13 21:20] RazvanEmilR commented on #5267
@spouliot  Thanks so much for the tip, and for forwarding the bug. I was really stuck doing my work. Will try using Visual Studio for Mac.

[2018-12-13 22:05] VincentDondain commented on #4923
Hi, glad this helped (:

Rolf made some optimizations, see: https://github.com/xamarin/xamarin-macios/issues/4936#issuecomment-431825638 and there's a request for comment issue https://github.com/xamarin/xamarin-macios/issues/5025 for even more gains 🎉

I'm closing this issue since I believe we provided as much info as we could but feel free to report any improvements here or file more performance

[2018-12-13 22:05] #4923 closed

[2018-12-13 22:07] mattleibow commented on #5273
The issue with OpenTK is that it adds 2MB just to reference `Color`. I created a new project and built for release: 16MB. I then added a single line `throw new Exception(System.Drawing.Color.Red.ToString());`. Now it is 18MB with linking enabled.

When I open the .dll, it is not very linker friendly:

<img width="376" alt="screen shot 2018-11-10 at 23 10 02" src="https://user-images.githubusercont

[2018-12-13 23:22] VincentDondain opened #5275 "[linker] OpenTK not fully stripped away"
### Steps to Reproduce

1. Open the attached sample.
2. Build for device.
3. Open the `.app`, search for the OpenTK dll and open it in VS for Mac's assembly browser (drag and drop).

### Expected Behavior

Since we're only calling `Color` we shouldn't have all the junk that's in this screenshot:

<img width="351" alt="screenshot 2018-12-13 18 19 22" src="https://user-images.githubusercontent.com/7

[2018-12-14 00:37] mattleibow commented on #5273
@VincentDondain Thanks for the info. I just realised that this issue is actually wrong.

So I reopened to restart the discussion from a different point of view - if I may :)

Why is the System.Drawing types in OpenTK? I understand legacy reasons, but is there a technical reason? What are the implications of creating a new assembly "System.Drawing" as one would expect and then type forward OpenTK a

[2018-12-14 00:56] spouliot commented on #5273
That predates Xamarin. If you're curious you can dig git history - it's often funny :)

None that I can think of. The reason for having some other types (Point[F], Rectangle[F] and Size[F]) in the platform assemblies does not apply to `Color`. Beside having two separate discussions about it today I could not remember that it was located in OpenTK-1.0.dll

Partially, type forwarders _solves_ part o

[2018-12-14 00:56] #5273 closed

[2018-12-14 11:07] Wenfengcheng opened #5276 "NSProxy can not found"
I am working on an FLAnimatedImage binding for iOS and I have come across a binding issue I have not seen before, from [FLAnimatedImage.h](https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImage/FLAnimatedImage.h):
[code]
Apparently Xamarin.iOS does not have NSProxy.

Can anyone out there help me to figure out the best way to implement NSProxy, or maybe someone have experience to

[2018-12-14 16:11] VincentDondain commented on #5276
Hi,

Indeed we currently do not support `NSProxy`. This would break assumptions in our runtime since it doesn't derive from `NSObject`.

See related issue: https://bugzilla.xamarin.com/show_bug.cgi?id=22940, https://bugzilla.xamarin.com/show_bug.cgi?id=26845 (those might be private).

Could you try binding this as `NSObject` and see if it works?

An other workaround you could use is to define your

[2018-12-14 16:11] #5276 closed

[2018-12-14 17:15] RazvanEmilR commented on #5267
@spouliot Im getting same error when I run the project on my Macbook as well. I just don't understand if its from my code or its a bug in Visual Studio. What I know is that im at the third version of the app and I never modified the code on the page on which the error appears when its just quits with the error message above, and it worked fine until now. What resource is missing? Any other ideas?

[2018-12-14 17:54] VincentDondain commented on #5267
Hi @RazvanEmilR,

Could you please [Gist](https://gist.github.com) us your full verbose logs (build + application output + any crash you get) when running on the Mac and also on Windows (again, since I don't think your logs are complete)?

The error Sebastien referenced https://github.com/xamarin/xamarin-macios/issues/5267#issuecomment-446969200 IDB412377 should definitely not happen with VSMac, i

[2018-12-14 18:32] RazvanEmilR commented on #5267
@VincentDondain I understand. I just got this idea now about what could be the problem. I am not sure if it is so, but it sounds plausible to me.

[2018-12-14 20:08] jstedfast commented on #4620
This seems to happen when your Apple SDK Settings in VSMac point to a Xcode path that does not match the *actual* Xcode path that is running.

For example, if I move my `/Applications/Xcode.app` to `/Applications/Xcode10.app` and then create a symlink from `/Applications/Xcode.app` to `/Applications/Xcode10.app` and configure VSMac to point to the symlink (`/Applications/Xcode.app`), then I can ge

[2018-12-14 20:09] #4620 closed

[2018-12-15 05:19] Wenfengcheng commented on #5276
@VincentDondain
Hi,
Thanks for your reply, this related issues are private, and I have tried second workaround:
[code]
But it doesn't work,

[2018-12-16 15:06] ivanicin commented on #4337
I am not sure exactly what has changed, but after adding the new share extension project on the sandboxed app in the latest version seems to be working fine.

[2018-12-17 06:46] rolfbjarne opened #5277 "error MSB4018: The "DetectSigningIdentity" task failed unexpectedly."
There have been multiple reports about a failure in the DetectSigningIdentity task:

    "tomswiftydevicetests.csproj" (default target) (1) ->
    (_DetectSigningIdentity target) ->
      /Library/Frameworks/Mono.framework/External/xbuild/Xamarin/iOS/Xamarin.iOS.Common.targets(646,3): error MSB4018: The "DetectSigningIdentity" task failed unexpectedly. [/Users/builder/jenkins/workspace/swift-o-mat

[2018-12-17 09:08] rolfbjarne commented on #5277
I'm not sure it's possible to create an exact test case anymore, because:

* We load all the provisioning profiles in a system, and cache the information.
* If there's a problem loading a provisioning profile, we don't add it to the cache (but we don't surface the exception to the user). We just fail to load the profile, and we won't use/find it during our build, nor will it show up in VSfM's Bund

[2018-12-17 09:12] rolfbjarne commented on #5277
Fix in progress: https://github.com/xamarin/Xamarin.MacDev/pull/39

[2018-12-17 10:04] RyanBuzzInteractive opened #5279 "Issue with mono version when running F# on ARM64, related to struct types"
This entire issue and all the relevant details and history are already posted here:

https://github.com/mono/mono/issues/12073

It's a nasty bug and one that is crippling our app.

It seems there was a bug with mono which caused this issue on Android, which I also experienced. It was fixed and newer Xamarin.Android releases apparently do not display the issue any more.

I have been told that I nee

[2018-12-17 11:31] mykyta-bondarenko-gl opened #5280 "[XM] 'obj/***/copySceneKitAssets' folder consists '.app' file"
### Steps to Reproduce

1. Download a [sample](https://github.com/xamarin/mac-ios-samples/tree/master/SceneKitReel)
2. Open and build it
3. Open `obj/Debug/copySceneKitAssets` folder

### Expected Behavior
There is no `.app` file

### Actual Behavior
There is `.app` file

### Environment

1. VSfM
https://gist.github.com/mykyta-bondarenko-gl/8964066270f49003a58af63630c1f6ea

### Build Logs

1. Buil

[2018-12-17 11:32] taublast commented on #4741
Im at High Siera 10.13.6 getting same problem when trying to run anything below 12.1

Dyld Error Message:
  Library not loaded: /System/Library/Frameworks/MetalKit.framework/MetalKit
  Referenced from: /Users/luba/Library/Developer/CoreSimulator/Devices/63E0B763-A036-4180-8BD0-02E96560E5FB/data/Containers/Bundle/Application/BBB421B1-BD1C-46DF-B21C-F7E74E7BCF4E/AppoMobi.iOS.app/AppoMobi.iOS
  Reaso

[2018-12-17 13:52] spouliot commented on #5279
@marek-safar mentions it's fixed in https://github.com/mono/mono/issues/12073#issuecomment-447796759 but it requires mono 2018-08 which is, for now, only available using a build from master.

Link to a recent build:
https://bosstoragemirror.blob.core.windows.net/wrench/jenkins/master/b51e8ecfc8bfb8713559c70072a167800819aa8f/281/package/xamarin.ios-12.6.0.9.pkg

[2018-12-17 13:52] RyanBuzzInteractive commented on #5279
Brilliant, thanks :)

[2018-12-17 14:17] rolfbjarne commented on #5277
Reopening since the fix has not yet been bumped into xamarin-macios.

[2018-12-17 15:10] dbwelch commented on #4380
Same issue, ios 12.1, on OSx Visual Studio 7.7.1.  Crashes on:
var response = await client.PostAsync(uri, flds);

[2018-12-17 15:35] ChrisAllisonMalta commented on #4380
@dbwelch I found, in my case it was to do with how exceptions are handled in async code, basically they go somewhere else! Try having try/catch braces as deep as you can go, in my case it was not able to cast the response into the object it expected

[2018-12-17 16:02] dbwelch commented on #4380
@ChrisAllisonMalta Thanks for responding, but, the call isn't even getting to my server, strange thing is this was working fine for weeks, then, my Xamarin and iPhone simulator got hung, requiring me to kill the process.  After restart, this occurs. I've even put try/catch around just the PostAsync, but, crash is immediate.  Same thing occurs in Debug or Release on iOS 12.1 simulator (tried multip

[2018-12-17 16:39] xamarin-release-manager commented on #5277
[VS sync] The field 'Milestone' contains the value '15.9' that is not in the list of supported values

[2018-12-17 18:23] eihctir commented on #4380
This issue appears to fixed for me with the latest version of Xamarin.iOS.

[2018-12-17 19:10] chamons commented on #5236
@abock Could you comment on this? I filed it after your comment, but i'm not honestly sure how `ArchiveAppBundle` works even...

[2018-12-17 20:11] spouliot commented on #5237
some (old) documents about thread safety

https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/Multithreading/ThreadSafetySummary/ThreadSafetySummary.html
https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/CocoaDrawingGuide/Introduction/Introduction.html#//apple_ref/doc/uid/TP40003290
https://developer.apple.com/library/archive/documentation/Cocoa/Conc

[2018-12-17 23:14] mandel-macaque commented on #5280
I can confirm the issue, after a build I have the following:

iMac:SceneKitReel mandel$ ls SceneKitReelMac/obj/Debug/copySceneKitAssets/SceneKitReelMac.app/assets.scnassets/
models/    particles/ textures/
iMac:SceneKitReel mandel$ tree -f SceneKitReelMac/obj/Debug/copySceneKitAssets/ | grep .app
└── SceneKitReelMac/obj/Debug/copySceneKitAssets/SceneKitReelMac.app
    └── SceneKitReelMac/obj/Debug

[2018-12-18 02:39] spouliot commented on #5280
From @mandel-macaque post it looks like it's not the whole .app - but just the subset of the asset catalog which could just be for (temporary) editing purpose. @jstedfast or @VincentDondain could confirm that.

@mykyta-bondarenko-gl was there any other problem ? or did you just found it strange ? right now the `copy` prefix really makes me think it's genuine.

[2018-12-18 09:53] rolfbjarne commented on #5277
This error might still happen after the fix:

This is because of how we cache some data for provisioning profiles. This is what happens:

* Previously (before the fix) we'd detect the new change in any of the provisioning profiles, load them all again, fail to load the broken one, ignore it, and finally update the cache with the results we loaded (which would not ignore the broken profile).
* Afte

[2018-12-18 10:02] rolfbjarne commented on #5277
It seems Apple has fixed the issue on their end, and they're serving provisioning profiles without duplicate keys now.

A customer confirmed this here: https://github.com/xamarin/xamarin-macios/pull/5286#issuecomment-448156814, and two customers here as well: https://forums.developer.apple.com/message/343811#343811

I was also able to confirm it:

* I re-downloaded (without re-generating it) the p

[2018-12-18 10:04] WebsoulTwo commented on #4380
I get this same bug in Android when i change my code from
client.PostAsJsonAsync(url, request).GetAwaiter().GetResult();
to
await client.PostAsJsonAsync(url, request);

I have a try catch around the call but it doesnt catch it and the debugger crashes with the following message:

[code]

[2018-12-18 12:50] jstedfast commented on #5280
I think this was a change @rolfbjarne recently made due to a new requirement by Apple's toolchain where it expects the directory it is dumping stuff into is the app bundle.

Anyway, this is safe to ignore.

[2018-12-18 15:23] xamarin-release-manager commented on #5277
[VS sync] The field 'Milestone' contains the value '16.0' that is not in the list of supported values

[2018-12-18 16:40] spouliot commented on #5190
Test case with public web site

[code]

[2018-12-18 16:41] spouliot commented on #5190
The `CFNetworkHandler` issue is different, it hangs because there's an Open and Close (no data in between) so it _might_ be unrelated to the timeout (just a different, less common issue). I'll open another bug for it since it lives in the mono repo and won't be fixed by the same PR.

[2018-12-18 16:49] spouliot opened #5289 "CFNetworkHandler hangs of no data is received"
### Steps to Reproduce

1.  Use test case from
https://github.com/xamarin/xamarin-macios/issues/5190#issuecomment-448285868
2. Supply an instance of `CFNetworkHandler` to the test code
3. Run

### Expected Behavior

`PASS` after 120 seconds

### Actual Behavior

Hangs

### Environment

Stable and master

### Notes

This does not seems related to the timeout itself. The URL used simply returns `200

[2018-12-18 16:52] taori commented on #5103
@emaf this problem does not happen with a fresh solution so i'm going to migrate. Unsure what exactly changed, which made the build stop working but i hope this does not turn into a habbit of having to migrate projects manually.

[2018-12-18 17:18] rolfbjarne commented on #5277
Closing since the fix is already in master, and we won't be backporting to d15-9 (we'll backport to d16-0, but there's no urgency there).

[2018-12-18 17:18] #5277 closed

[2018-12-18 21:47] spouliot commented on #5289
The issue is not related to the timeout. I have a fix (for mono), but it will need to be updated after https://github.com/mono/mono/pull/12047 gets merged.

[2018-12-18 22:19] GouriKumari opened #5291 "[xharness] Executing a make inside xamain-macios/tests is throwing an exception with latest master build"
### Steps to Reproduce

1. Update System to xamarin-ios master, xamarin.ios-12.7.0.5.pkg
2. Execute make inside xamarin-macios/tests

### Expected Behavior
It will run successfully and generate all test projects

### Actual Behavior
Fails to generate  test projects with file not found exception,
https://gist.github.com/GouriKumari/a11b9c63c82db75f7b1cda77a03a2847#file-gistfile1-txt-L28

### Enviro

[2018-12-19 00:56] Wenfengcheng commented on #5276
@VincentDondain
I try binding `NSProxy` as `NSObject`, and it worked.
Thanks for you reply!

[2018-12-19 06:06] rolfbjarne commented on #5291
@mandel-macaque can you have a look at this?

[2018-12-19 11:35] taori commented on #5103
@emaf Ok, this is odd:
- created same named projects
- backed up old project contents (ios)
- removed the whole folder at destination
- copied files from new solution
- dropped in old files (renderer, analytics setup etc)
- fixed references

and then i am getting this:
![grafik](https://user-images.githubusercontent.com/5545184/50217887-66686a80-038a-11e9-8ef2-9211619159e9.png)

[2018-12-19 12:01] RyanBuzzInteractive commented on #5279
I can happily confirm that the recent build provided above did indeed fix the issue. Thanks so much for your help :)

[2018-12-19 14:00] Dids commented on #4810
Is the fix available on stable yet? The workaround is no longer working, and I'm seeing the same error on iTunes Connect when submitting my binary: `Your binary doesn’t support Apple Watch. The screenshots for Apple Watch won’t be shown on the App Store.`

[2018-12-19 14:03] rolfbjarne commented on #4810
@Dids this has been available for a while. If you're having issues with iTunes Connect, it most likely has a different cause, so please file a new issue about it.

[2018-12-19 14:12] spouliot commented on #5279
Thanks for confirming the fix! It should be published along with 16.0 preview 2 in early 2019.

[2018-12-19 14:12] #5279 closed

[2018-12-19 14:59] taori commented on #5103
@dalexsoto, @xamarin-release-manager Can you give me a brief guideline on how to compile the build tasks environment in a fashion where there is the least amount of work required, so i can just build it from sources, replace it on my build machine and add logging to track this down myself?

It appears like you are either not interested in looking at this, because not everyone is experiencing this

[2018-12-19 15:00] spouliot commented on #5215
I tried to duplicate this before checking if the fix for #5190 had an impact. However it does seems to behave like I would expect, i.e. entering the `catch`.

[code]

It might already have been fixed inside the mono 2018 (since I'm using master)

[2018-12-19 15:12] taori commented on #5103
@dalexsoto, @xamarin-release-manager Please add more logging the build tasks. In a desperate attempt of trying to fix this i updated the xamarin.forms nuget package.

I am used to being forced to update VS Mac+VS+XCode to be able to create builds - Being forced to update XF is new.

[2018-12-19 15:14] #5190 closed

[2018-12-19 15:19] rolfbjarne opened #5300 "d16-0: list of changes to be reviewed before final release"
[ ] Revert https://github.com/xamarin/xamarin-macios/pull/5299

[2018-12-19 15:47] spouliot commented on #5215
I get similar results with current stable (12.2.1.12).

[code]

@VincentDondain it's not clear which XI you used. Can you try again ? thanks!

[2018-12-19 16:20] spouliot opened #5303 "CTRunDelegate performance enhancement"
As mentioned in https://github.com/xamarin/xamarin-macios/issues/5132#issuecomment-439123600 there is potential for much better performance (like removing reflection) inside CTRunDelegate

This is a split off from #5132 since it covered a bug (originally) and it should not be mixed up (or delayed) to investigate performance enhancements.

[2018-12-19 18:01] taori commented on #5103
Correction. After a couple debug sessions it stopped working again. Now i'm getting this again...

![grafik](https://user-images.githubusercontent.com/5545184/50238719-7733d300-03c0-11e9-8d6c-540bb41e44f0.png)

[2018-12-19 18:04] taori commented on #5103
Unerwarteter Fehler bei der RemoveDir-Aufgabe.
System.AggregateException: Mindestens ein Fehler ist aufgetreten. ---> System.ObjectDisposedException: Auf das verworfene Objekt kann nicht zugegriffen werden.
Objektname: "System.Net.Sockets.Socket".
   bei System.Net.Sockets.Socket.SetSocketOption(SocketOptionLevel optionLevel, SocketOptionName optionName, Int32 optionValue)
   bei System.Net.Socket

[2018-12-19 18:14] taori opened #5305 "ObjectDisposedException during build"
### Steps to Reproduce
1. start debugging (this issue is related to #5103)

### Expected Behavior
1. debugger attaches

### Actual Behavior
1. build fails

### Environment

[code]

### StackTrace
4>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Xamarin\iOS\Xamarin.iOS.Common.targets(408,3): error MSB4018: Unerwarteter Fehler bei der RemoveDir-Aufgabe.

[code]

[2018-12-19 18:50] emaf commented on #5103
@taori, sorry for the late response. We are still investigating your problem, all the build logs you attached show the build failed because of a connection issue.

Could you reproduce your issue once more and attach the detailed build output and the Xamarin logs? We need this info to correlate the build error with the connection problem on the Mac side. You can get the Xamarin logs from Help -> Xa

[2018-12-19 19:11] taori commented on #5103
@emaf np. thought you're not getting notified anymore or something. i'm afraid it'll take a while to provide you those logs unless i happen to drive by the office. i'm on vacancy now so it might take up to two weeks.

build agent is a mac book pro connected to a switch on lan, right next to the laptop (also connected to that very same switch) i'm running windows on + VM (also windows) with VS 2017

[2018-12-19 20:51] chamons opened #5307 "Storyboard resources in XM\XI libraries are not correctly copied into final app bundle"
### Steps to Reproduce

1. Open attached project
2. Build mac or ios app
3. Look inside final bundle

or you can reproduce by creating a XM\XI app and a library, add a storyboard to the library, add a reference and build

### Expected Behavior

MacLibStoryboard.storyboardc in final bundle with all bits

### Actual Behavior

MacLibStoryboard.storyboardc in final bundle with no contents except plist

[2018-12-19 21:33] GouriKumari commented on #5291
This blocks all XI bcl test and tvOS test runs on device for master builds.

[2018-12-20 07:17] rolfbjarne opened #5309 "InvalidCastException in Foundation.NSUrlSessionHandler.CreateConfig on macOS 10.9"
Test failures on 10.9 (from [CI]( https://jenkins.internalx.com/blue/organizations/jenkins/macios/detail/master/292/pipeline)):

[code]

This started happening with https://github.com/xamarin/xamarin-macios/commit/30d60bffe92f84bba73bbc21a262fbd3fed86c8f (@spouliot)

[2018-12-20 07:17] softlion commented on #5183
Ok so, it works fine with the above options. And it's not possible to reference an iOS C project from a xamarin ios project. For Android, you can, and it is working fine. Except you can not generate all ABI targets in the same build config.

[2018-12-20 15:55] mandel-macaque commented on #5309
@rolfbjarne I'm surprised we did not see this failures in the PR from @spouliot :/

[2018-12-20 15:57] mandel-macaque commented on #5305
@taori thanks for the info provided. This, by the looks of the crash, is an issue more related to the Xamarin VS plug in. I will tag the issue accordingly for the correct engineers to take a look.

[2018-12-20 16:18] rolfbjarne commented on #5309
This only happens on macOS 10.9, and the PR doesn't run tests on older macOS versions.

[2018-12-20 17:38] #5183 closed

[2018-12-21 05:31] softlion commented on #5216
Cppsharp does not work correctly: it creates c++ names that are compatible with msvc but not clang/llvm or gcc. Also, even with correct mangled names, it creates code that crash. I've stopped using it and written a c interface To the c++ classes instead.

[2018-12-21 12:18] taori commented on #5103
@emaf here's the logs you requested. i hope that helps with the investigation.
[logs.zip](https://github.com/xamarin/xamarin-macios/files/2702731/logs.zip)

[2018-12-21 13:57] #5132 closed

[2018-12-21 13:58] emaf commented on #5103
@taori sorry, I didn't make ir clear, but you must be connected to the Mac while you run the Zip Logs Command so VS will also grab the logs from the Mac. The logs you attached are only from Windows side.

[2018-12-21 14:34] mykyta-bondarenko-gl opened #5318 "[XM] extra `CreateInstallerPackage` run"
### Steps to Reproduce

1. Create XM project
2. Open project options - `Build` -> `Mac Build`
3. Turn `Create installer package` on
4. Build it
5. Run it

### Expected Behavior
It runs right away. There is no build step because it was built just before that.

### Actual Behavior
It builds it again and run it only after that step.
Also `CreateInstallerPackage` task runs again.

### Environment

1.

[2018-12-21 15:50] mykyta-bondarenko-gl opened #5324 "[XM] error MM5109: Undefined symbols for architecture x86_64 in mono 5.18 and unsupported framework"
### Steps to Reproduce

1. Create XM project
2. Open project options `Build` -> `General`
3. Switch `Target Framework` to the `Unsupported Framework`
4. Build it

[code]

### Expected Behavior
Build is successful

### Actual Behavior
Build is failed

### Environment

1. VSfM
https://gist.github.com/mykyta-bondarenko-gl/3284bb1a8316d086d3fa0f1362867881

### Build Logs

1. VSfM
https://gist.github.c

[2018-12-21 16:26] Therzok opened #5325 "Expose [NS|UI]View.Subviews with NSArray variant"
### Steps to Reproduce

1. Query NSView.Subviews
2. Observe that every time we call it, we marshal an array

### Expected Behavior
We should have an API endpoint that exposes an NSArray.

### Actual Behavior
There is none.

### Notes

Scenario:
[code]

The above code would marshal the array twice, every time we iterate. Also, array length queries would have to marshal the array to managed, so simp

[2018-12-21 16:32] chamons commented on #5324
Ok, this happens because XM 5.2 was tested with a mono 5.18, and XM 5.2 does _not_ have:

https://github.com/xamarin/xamarin-macios/pull/4980
https://github.com/xamarin/xamarin-macios/commit/366281e8b79da5d29c7f37dbc2a175d47c9fbfa2#diff-cc4e0138ecbccb94744a52bc89364ff9

PRs adding libmono-system-native.a support.

[2018-12-21 19:44] jgold6 opened #5329 "NFCReaderUsageDescription not in list of Privacy options in Info.plist > Source editor when adding a new entry"
### Description

On the Source tab of the Info.plist editor, there is no drop down item to select the NFCReaderUsageDescription key as there is for other privacy keys, like NSCameraUsageDescription which has a "Privacy - Camera Usage Description" item in the list when you are adding a new entry.

### Steps to Reproduce

1. Open an Info.plist file in Visual Studio Xamarin.iOS project
2. Select the

[2018-12-22 21:42] American-Ledger commented on #5267
I have this, and I think two instances of the app are being created - a few seconds apart, and then one is terminating.

[2018-12-25 05:45] albilaga opened #5330 "[XM] Can't run app if application bundle is signed and installer package is signed"
### Steps to Reproduce

1.  Archive app
2. Sign and distribute using App Store/Mac Installer Package
3. Run the pkg file

### Expected Behavior
Apps in /Applications running
### Actual Behavior
Apps in /Applications always force close after run it

Notes:
Apps without signed run well
### Environment
[code]

[2018-12-27 18:16] chamons commented on #5325
Monkey Patch: https://gist.github.com/chamons/b76888c90c8154bb87720dda56f3264f

[2018-12-27 22:03] Therzok opened #5331 "[Question] NSArray<T> and covariance"
Should `NSArray<T>` support covariance? That is, given the code below, should it compile?

[code]

I guess that opens a whole can of worms with what type is registered and runtime when marshalled back and could probably hide issues at runtime.

The fix for it would be to add the `out` generic modifier to `NSArray<T>`:
[code]

[2018-12-28 06:43] PowerOwner opened #5332 "How to use NSArray in corresponding IOS in xamarin?"
How to use NSArray in corresponding IOS in xamarin?
cannot convert from 'int[]' to 'Foundation.NSObject[]'

[code]

[code]
![image](https://user-images.githubusercontent.com/20768277/50505469-be038600-0aae-11e9-8905-c7b353fad97e.png)

[code]
![image](https://user-images.githubusercontent.com/20768277/50505456-9c0a0380-0aae-11e9-9dba-c035bddf8bb0.png)

[2018-12-28 08:59] jonathanantoine commented on #4178
Hello. Any update on this ? This is quite frightening to have this bug in the wild :(

[2018-12-28 11:08] jonathanantoine opened #5333 "iOS HttpClient GetAsync hangs indefinitely"
### Steps to Reproduce

In certain case when the app is suspended, thread / http requests are no more created and hangs forever.

Steps to reproduce the issue :
1. Launch the app.
2. Wait for this log to be displayed 'Batch X created'.
3. Wait 1 second.
4. Put the app in background ( press the home button for example).
5. Wait 10 seconds and put the app in foreground.
6. Notice that no more thread

[2018-12-28 11:20] jgiacomini commented on #4178
Same for me I had this bug on one my app :(
I don't know how to solve it :'(

[2018-12-28 12:58] jonathanantoine commented on #5333
Hello again,

It seems related to a change in ios12 socket management (interesting reading here : https://github.com/AFNetworking/AFNetworking/issues/4279#issuecomment-447108981) and I managed to create a working "sample" by using background task execution. For those interested it's here : [Workaround.zip](https://github.com/xamarin/xamarin-macios/files/2714886/Workaround.zip).

[2018-12-28 19:37] taori commented on #5103
@emaf could you please share with me , where the logs are stored on a mac, so i can extract them manually when i am back at work?

[2018-12-31 09:23] mykyta-bondarenko opened #5335 "[XI] doesn't support QuickLook extensions"
I am porting [swift sample](https://developer.apple.com/documentation/uikit/view_controllers/building_an_app_based_on_the_document_browser_view_controller?preferredLanguage=occ) into the Xamarin and found that XI doesn't support QuickLook extensions.

### Steps to Reproduce

1. Download a [sample](https://github.com/xamarin/private-samples/tree/particles/ios11/Particles)
2. Run it
3. Create an int

[2019-01-02 11:34] Flash3001 commented on #4610
@Aufty Do you mind to share a build log? The original issue was fixed with the workaround on 4.0.0.1

What version of Visual Studio are you using? VS4M or Visual Studio for Windows?

I checked the library you mentioned, DocumentReader and it says: `Xamarin.Swift4 (>= 4.0.0)` which means Nuget will install version 4.0.0 when it installs, not 4.0.0.1. So you have to update the package manually.

[2019-01-02 14:05] chamons commented on #5330
I believe "App Store/Mac Installer Package" is the issue.

If you choose the app store Apple needs to process it else it is considered invalid signed and crashes on launch.

Try another signing configuration to verify, but this does not surprise me.

[2019-01-02 14:05] #5330 closed

[2019-01-02 14:47] chamons opened #5336 "[XM] NSSavePanel.SavePanel is not bound"
[NSSavePanel.SavePanel](https://developer.apple.com/documentation/appkit/nssavepanel/1539016-savepanel?language=objc) is [not bound](https://github.com/xamarin/xamarin-macios/blob/master/tests/xtro-sharpie/macOS-AppKit.ignore#L1133).

It appears that may be giving Sandbox [use cases](https://forums.xamarin.com/discussion/147709/how-do-i-debug-issue-with-nssavepanel) some trouble:

I provided a wor

[2019-01-02 16:06] spouliot commented on #5335
I only recall QuickLook from macOS... from the logs there's at least some places when it's not implemented.

https://gist.github.com/mykyta-bondarenko-gl/2ed4831f94368b3a00054b0c0c87ff52#file-build-output-L10686

[code]

[2019-01-02 17:01] chamons commented on #5336
This got an exception, use:

https://gist.github.com/chamons/f5d848a6782382dd9344e2b4be42f0e7

instead.

[2019-01-02 17:11] chamons commented on #5336
Turns out I was wrong, it was bound:

https://github.com/xamarin/xamarin-macios/blob/master/src/AppKit/NSSavePanel.cs
https://github.com/xamarin/xamarin-macios/blob/master/src/AppKit/NSOpenPanel.cs

but we should be using GetINativeObject instead of new NSFoo (IntPtr).

[2019-01-02 17:21] emaf commented on #5103
@taori, sorry for the late response, the path to the logs on the Mac is `/Users/<User>/Library/Logs/Xamarin-<Xamarin Version>/`

[2019-01-02 18:13] spouliot commented on #5336
xtro ignore files should be updated too
and double checked why it's not detected (might be checking for generated code)

[2019-01-02 18:19] chamons commented on #5336
Also, we should move it to the binding file with [Wrap] magic.

[2019-01-02 18:39] spouliot commented on #5325
It's both a general [1] problem (calling multiple time the same property without realizing its cost [2]) and a matter of discoverability of the alternative/better API, i.e. if you know there's a problem it's easy to work around. E.g.

* You can assign `Subview` to a local variable to avoid the penalty (single call)

[code]

* You can use `foreach` to simplify the code (single call)

[code]

That s

[2019-01-02 22:19] Therzok commented on #5325
Yup, it depends on the use-case. Having both NSArray and Array bindings would allow the user to choose the better trade-off (gc vs cpu per loop iteration).

[2019-01-03 02:37] albilaga commented on #5330
The problem is with signing I think. I am using the same configuration for archive (Mac Application) but one with sign the bundle and one without it. The one without it running fine. The one with signed bundle with force close directly at first launch

[2019-01-03 11:47] jonathanantoine opened #5337 "iOS CFNetworkHandler crash app if the app is put to background."
iOS CFNetworkHandler crash app if the app is put to background while a request is ongoing.

### Steps to Reproduce
Uses the repro sample : [CFNetworkHandlerCrash.zip](https://github.com/xamarin/xamarin-macios/files/2723593/CFNetworkHandlerCrash.zip)

1. Launch the app.
2. Wait for this log to be displayed 'Batch X created'.
3. Wait 1 second.
4. Put the app in background ( press the home button for

[2019-01-03 12:56] emaf commented on #4610
Hi all,
Sorry for the late response. We've been working to solve this issue, and its fix should be included in the next Visual Studio 2019 preview.

[2019-01-03 13:48] spouliot commented on #5336
Actually using `[Wrap]` should not be needed since `[ForcedType]` should cover this case.

@chamons was there a test case showing the error (ICE) ?

[2019-01-03 13:59] spouliot commented on #5337
more complete stack trace
[code]

[2019-01-03 14:03] spouliot commented on #5337
There are two more issues pending backport/fix for CFNetworkHandler
* https://github.com/mono/mono/pull/12153
* https://github.com/xamarin/xamarin-macios/issues/5289

I'll look into this one once the above are merged into master.

[2019-01-03 14:13] chamons commented on #5336
It's a bit of a silly test case (you have to not have correct entitlement permissions and try to open dialog) but it works.

[SavePanelTest.zip](https://github.com/xamarin/xamarin-macios/files/2724001/SavePanelTest.zip)

[2019-01-03 15:52] spouliot commented on #5061
It's worth noting that, if you have a (Mac) provisioning profile, then it's possible to use **None** in the UI.

IOW the current code makes a difference between *None* (where no `.provisionprofile` file exists) and **None** (when the existing file(s) are simply ignored for the build)

[2019-01-03 17:43] ermau opened #5339 "Assets created in Xcode's editor don't load"
### Steps to Reproduce

1. Create a new Cocoa project in VSM
2. Open created `Assets.xcassets` in Xcode
3. Add a new color set
4. Attempt to load named color with `NSColor.FromName`

### Expected Behavior

The color loads. I'd also expect the color set to appear in the VSM editor.

### Actual Behavior

The `NSColor` is unresolved and the set does not appear in the VSM editor.

### Environment

[co

[2019-01-03 18:31] chamons commented on #5339
It appears you can work around this by creating ImageAsset items in your csproj:

[code]

Test Project: [ColorAssetTestC.zip](https://github.com/xamarin/xamarin-macios/files/2724919/ColorAssetTestC.zip)

[2019-01-03 18:43] spouliot commented on #5331
I do not think it would be an issue for the runtime since it already needs to handle cases where types are not what it expects to be (objective-c model being weaker). @rolfbjarne ?

However I think this could be a breaking change and code compiled with the updated type could become unusable with older XI/XM (e.g. XF). Still worth considering if we break compatibility in the future.

[2019-01-03 19:32] spouliot commented on #5336
yep, `[ForceType]` does just what we _want_

[code]

but it returns `null`... but it's just like the existing (manual binding) code. @chamons are you sure this worked for you when the sandbox entitlement is enabled ? (even `NSSavePanelPatch` returns `null` for me, only tested on 10.14).

[2019-01-03 19:45] spouliot commented on #5336
![screen shot 2019-01-03 at 2 44 20 pm](https://user-images.githubusercontent.com/260465/50658041-27c7d800-0f66-11e9-95be-9cbed0b569f2.png)

Seems to be _normal_ ?!? Pretty sure it was not the _old_ behaviour for sandboxed apps :|

[2019-01-03 19:51] chamons commented on #5336
That is strange, but it matches what I saw. You get nil if your user selected file access is not Read\Write (if I remember right).

I just compared it to an ObjC sample, since I did not trust myself to parse Apple's logic here.

[2019-01-03 19:53] spouliot commented on #5336
my bad, I though having read/write in any settings (e.g. download folder) was enough - but the user selected file **must** be read/write too.

[2019-01-04 03:46] albilaga commented on #5330
If I try to run directly from VS for Mac it showing "Cannot execute /Users/.../App.exe" and I don't know why it generated .exe at that time. If I try to deploy without signing app it works fine.

[2019-01-04 09:34] vivek00712 opened #5343 "Run time Exception while removing the my custom control Element from main.xaml in Xamarin MAC platform"
I create my Custom control window and use that custom control into my main.xaml file while closing that custom control window null reference exception fired for perficular MAC Platform only for other plafrom IOS, Android, and UWP it is working fine.

It is showing error message of Message "Object reference not set to an instance of an object" But the other exception that i found in my stack-trace

[2019-01-04 12:58] munkii opened #5344 "Error MT1001: Could not find an application at the specified directory"
### Steps to Reproduce

1. Successfully connect the specific project (**other projects work fine**) to the Mac Build Server
2. Build/Rebuild seem to both succeed
3. Deploy

### Expected Behavior
iOS app will deploy to either the Simulator or a Device
### Actual Behavior
Deploy fails "App terminated". Various errors appear in the Xamarin Logs which I have attached. No files seem to get created duri

[2019-01-04 13:17] munkii commented on #5344
I tried fixing installing the Alpha build referred to here, https://developercommunity.visualstudio.com/content/problem/406364/vsx1000-no-enough-information-has-been-provided-to.html but that did not fix it

[2019-01-04 13:35] spouliot commented on #5344
This code leading to this exception is executed on the windows-side only
[code]

You might want to try directly on the mac (at least as a temporary workaround)

[2019-01-04 14:55] mykyta-bondarenko-gl opened #5345 "[XI] Add null allowing to `MKAnnotationView` ctor parameters"
### Steps to Reproduce

1. Download a [sample](https://github.com/xamarin/ios-samples/tree/map-callouts/MapCallouts)
2. Open and run it

---
You can find the original sample [here](https://developer.apple.com/documentation/mapkit/mapkit_annotations/annotating_a_map_with_custom_data). As you can find there - swift allows passing `nil` into the `base (super)` constructor.
Apple documentation for thi

[2019-01-04 15:12] chamons commented on #5330
I currently do not believe this is a bug without more information. In general getting code signing setup correctly can be difficult. I'd suggest you read the associated documentation:

https://docs.microsoft.com/en-us/xamarin/mac/deploy-test/publishing-to-the-app-store/signing

https://developer.apple.com/library/archive/documentation/Security/Conceptual/CodeSigningGuide/Introduction/Introduction.

[2019-01-04 15:21] VincentDondain commented on #5345
@mykyta-bondarenko-gl mmh according to https://github.com/xamarin/xamarin-macios/blob/master/src/mapkit.cs#L102-L106 it seems `MKAnnotationView`'s constructor has the right `[NullAllowed]`.

However `MKPinAnnotationView`'s constructor seems incorrect (missing `[NullAllowed]`) https://github.com/xamarin/xamarin-macios/blob/master/src/mapkit.cs#L816-L821.

Note: @spouliot the documentation does ment

[2019-01-04 15:35] spouliot commented on #5344
@munkii glad using the Mac can work around your issue and thanks for confirming it!

[2019-01-04 15:54] spouliot commented on #5343
This issue was moved to xamarin/Xamarin.Forms#4900

[2019-01-04 15:54] #5343 closed

[2019-01-04 16:25] spouliot opened #5347 "Calling ARConfiguration.SupportedVideoFormats crash"
### Steps to Reproduce

1.  call `ARConfiguration.SupportedVideoFormats`

### Expected Behavior

no crash

### Actual Behavior

Native exception `NSInvalidArgumentException Reason: Supported video formats should be called on individual configuration class` leading to crash

[2019-01-04 16:55] albilaga commented on #5330
I think the problem is not code signing but custom entitlements in signing mode. If i leave custom entitlements with blank it work fine. But if I use entitlement.plist in custom entitlements it will force close when launch.

the output from `codesign --verify --deep --strict --verbose=2 Foo.app` is
[code]
and if I try `./Foo.app/Contents/MacOS/Foo` it will showing
`terminated by signal SIGKILL (Fo

[2019-01-04 21:00] praeclarum opened #5349 "NSDocument.FileAttributesToWrite should not throw for null absoluteOriginalContentsUrl"
Apple docs say that overrides should always call the base and merge the results.

When a document is unsaved, `absoluteOriginalContentsUrl` will be null. This makes it impossible to call the base:

[code]

The binding should just pass the null on.

### Environment

[code]

[2019-01-04 22:29] #5347 closed, assigned to spouliot

[2019-01-05 14:31] albilaga commented on #5330
I am also checking inside Foo.App. For now I replace the failed Foo. (with custom entitlements) inside MacOs directory with the success Foo (without custom entitlements) and it works fine. But I am still wondering why a custom entitlements difference creating different file in MacOs directory inside Foo.App?

[2019-01-07 08:50] taori commented on #5103
@emaf
[mac-logs.zip](https://github.com/xamarin/xamarin-macios/files/2732005/mac-logs.zip)

there you go.

[2019-01-07 09:39] taori commented on #5103
After starting to work today debugging worked once - canceled debugging.
And then it isn't working again:
[latest_crash.zip](https://github.com/xamarin/xamarin-macios/files/2732158/latest_crash.zip)

[2019-01-07 15:13] yevgeniy-seleznev commented on #5347
Thanks for the quick fix @spouliot

[2019-01-07 15:36] chamons opened #5350 "Handle broken NSApplication.SharedApplication.Windows API (Rename + Advice? Remove in XAMCORE_4_0?)"
NSApplication.SharedApplication.Windows has caused many developers pain and suffering.

https://forums.xamarin.com/discussion/comment/296033#Comment_296033

```NSApplication.SharedApplication.Windows is EVIL. It hooks into the alloc/dealloc of windows, and when you reference it in C# will make bridged objects to everything in the list. Which means if you have windows that are going to dealloc, and

[2019-01-07 15:47] spouliot commented on #5350
That sounds like the old issue around UIKit `UIApplication.Window`. We added `[Transient]` to minimize its lifetime (but it's probably not needed since we switched to newrefcount).

My guess here is the (managed) array keeping a (strong) reference to each `NSWindow` instance, blocking the OS from disposing them. Maybe an `NSArray<NSWindow>` would reduce this (and be more like ObjC would behave).

[2019-01-07 15:55] spouliot opened #5351 "Missing 10.13 in Deployment Target of macOS applications"
### Steps to Reproduce

1.  Create a XM application on High Sierra (10.13) or get a project created on 10.14 (what I had)
2. Open Info.plist

<img width="511" alt="screen shot 2019-01-07 at 10 40 11 am" src="https://user-images.githubusercontent.com/260465/50777661-2bab7100-126a-11e9-8d35-8c214bbbfdc8.png">

### Expected Behavior

List should include 10.13.

### Actual Behavior

List is missing 10

[2019-01-07 16:58] taori opened #5352 "Fresh, blank Xamarin.Forms project does not start debugging."
### Steps to Reproduce

1. create new xamarin forms project
2. start debugging

### Expected Behavior
- debugging should start
### Actual Behavior
- build fails
### Environment

[code]

### Build Logs

## output window

[code]

## log files
[empty_solution_logs.zip](https://github.com/xamarin/xamarin-macios/files/2733534/empty_solution_logs.zip)

[2019-01-07 17:02] VincentDondain commented on #5351
@spouliot @jstedfast https://github.com/xamarin/Xamarin.MacDev/commit/0f10d4a2cbd33e27f0c7481996778d24c42cd883 looks like it was fixed 5 days ago. However it might be worth keeping this issue alive as we should be using https://github.com/xamarin/xamarin-macios/blob/master/Versions-mac.plist.in#L9-L20

[2019-01-07 17:06] alanmcgovern commented on #5324
Heya

Just wanted to remind people that, as part of the previous discussion of backporting this https://github.com/xamarin/designer/pull/1351#issuecomment-435104220 , we found that `libmono-system-native.a` had been renamed again and doesn't exist with newer mono builds. If we're backporting support for this name, we should also consider backporting support for the most recent name of that binary.

[2019-01-07 18:18] dfoulk commented on #4930
@softlion were you able to run this app in Debug mode after receiving this error? I am getting this error and cannot seem to get it to run at all. Any insight would be greatly appreciated.

[2019-01-07 18:31] dfoulk commented on #5098
I am seeing the same error as @rihadavid (and experiencing the same symptoms). We are completely unable to debug our Xamarin.iOS project in Visual Studio 2017.

## Exception (*.Ide.log)

[code]

This is really bad. We are completely unable to debug our Xamarin.iOS app. Does anyone from Microsoft have a workaround for us? Anything would help!

## Environment

[code]

[2019-01-07 18:57] dfoulk commented on #5098
@rihadavid Thank you for the reply! I'll try that. Much appreciated!

[2019-01-07 18:57] spouliot commented on #5352
The `SSH` session refers to the communication between VS Windows and the Mac agent. A workaround might be to build directly from the Mac computer.

[2019-01-07 19:20] taori commented on #5352
@spouliot Being forced to build from mac is absolutely unacceptable. Every day i'm losing faith in working with xamarin because ios build breaks over and over again, as if there is no integration testing done whatsoever.

With the old xamarin, error messages were useless, bugs were random as hell, debugging was flunky, but at least my ability to make a build did not break every time i was forced t

[2019-01-07 21:21] softlion commented on #4930
I switched on vs mac

[2019-01-08 08:41] johannes-schmitt opened #5353 "FSEventStreamEventFlags flag missing"
### Steps to Reproduce

1. Check `enum CoreServices.FSEventStreamEventFlags`, defined here (master): https://github.com/xamarin/xamarin-macios/blob/master/src/CoreServices/FSEvents.cs

### Expected Behavior
`CoreServices.FSEventStreamEventFlags` contains value `ItemCloned = 0x00400000`. It was introduced with macOS 10.13 (see https://developer.apple.com/documentation/coreservices/1455361-fseventst

[2019-01-08 12:53] mykyta-bondarenko-gl opened #5354 "[XI] Error MSB4064: The "UseInterpreter" parameter is not supported by the "MTouch" task"
It fails with mono 5.18 and XI 15-9.

### Steps to Reproduce

1. Download a [sample](https://github.com/xamarin/ios-samples/tree/master/ios10/IceCreamBuilder)
2. Build it

### Expected Behavior
Build is successful

### Actual Behavior
Build is failed

[code]

### Environment

1. VSfM
https://gist.github.com/mykyta-bondarenko-gl/e74e0fc1a60c9a816b60f4de86bdd446

### Build Logs

1. Build Output
http

[2019-01-08 14:01] spouliot commented on #5354
@mykyta-bondarenko-gl this often happens if you don't restart VS4M between mono updates (since msbuild files are loaded cached from the original mono and XI). I've used this config without issue (but it might not be the exact same version of mono).

Can you please restart VS4M to confirm this ?

It's possible there's a compatibility issue between the newer (and still moving target) mono 5.18 and X

[2019-01-08 14:12] mykyta-bondarenko-gl commented on #5354
@spouliot you are right. Restart of VSfM didn't help but after restarting a local machine it started working

[2019-01-08 14:30] #5354 closed

[2019-01-08 14:33] rolfbjarne commented on #4178
The environment variables can be set by adding the following to the additional mtouch arguments in the project's iOS Build options:

    --setenv:MONO_LOG_LEVEL=debug --setenv:MONO_LOG_MASK=threadpool

Any output will be printed to the Application Output in the IDE.

[2019-01-08 14:34] #5303 closed

[2019-01-08 14:35] rolfbjarne commented on #4178
I'm also moving this issue to the mono repo, since that's where the threadpool code is.

[2019-01-08 14:35] rolfbjarne commented on #4178
This issue was moved to mono/mono#12318

[2019-01-08 14:35] #4178 closed

[2019-01-08 14:50] rolfbjarne commented on #5331
Objective-C implemented generics by type erasure, so for the Objective-C runtime there's no difference between `NSArray`, `NSArray<NSScrollView>` or `NSArray<NSView>`.

Also, the actual type of the managed instance doesn't change, which means that I can't see how this will change anything on our side (and I can't come up with a sample that breaks).

This of course raises the equivalent question: s

[2019-01-08 15:20] spouliot commented on #5331
keeping this to covariance: I was thinking of a 3rd party built with XI `x` and shipped (as source) to people using `< x`. I do not think it's common enough and since it allows more (not a restriction) then it won't contradict any written documentation.

note: I recall mention of _possible_ compatibility issues when the feature was added - but I can't recall a single _actual_ case reaching my ears

[2019-01-08 17:40] chamons commented on #5330
I just tested a simple XM app with custom entitlements, with the Mac-developer ID and a valid provisioning profile and it worked.

I understand getting code signing is frustrating, but consider reading the documentation listed.

[2019-01-08 19:46] spouliot commented on #5339
It appears the new (from Xcode) `Contents.json` are not read when calling `actool`
IOW "only" the original ones (from the template) are used.

It seems we should be scanning the directory to find all of them and build the list from this (instead of storing them inside the .csproj).

@jstedfast does that sounds right ?

[2019-01-08 20:13] spouliot commented on #5337
The first fix (from above) was merged
and the second one is now PR'ed https://github.com/mono/mono/pull/12321

[2019-01-08 20:35] spouliot commented on #5339
There's different two issues.

1. The VS4Mac addin does not read the files either, so what's added by Xcode is not shown when opening the asset editor.

2. The (ms)build does not consider what's not in the .csproj - which should not depend on the IDE since a bot would use msbuild directly.

[2019-01-08 20:37] spouliot opened #5359 "IDE (VS4Mac at least) does not see assets added from Xcode"
See https://github.com/xamarin/xamarin-macios/issues/5339#issuecomment-452442169 for details.

This issue is to track the addin (VS4Mac).

The original issue will track the (ms)build missing logic.

[2019-01-08 20:37] spouliot commented on #5359
@emaf can you check if the same issue exists in XVS ? thanks!

[2019-01-08 21:32] jstedfast commented on #5339
We use the .csproj because the IDE allows users to "Remove from Project" instead of "Delete from Disk", so we can't assume that just because there's a directory or a file on disk that it should be included in the build. This also had the benefit of fixing VS Windows which needed to know which files to copy over to the Mac.

[2019-01-09 03:36] albilaga commented on #5330
What Mac Developer and provisioning profile do you use? Is that developer ID or App Store? because I am using App store distribution and it not working for me

[2019-01-09 10:07] mykyta-bondarenko-gl opened #5362 "Some classes from 'Metal Performance Shaders' framework are missed"
I am porting [this sample](https://developer.apple.com/documentation/metalperformanceshaders/metal_for_accelerating_ray_tracing) and found that some classes are missed.

### Steps to Reproduce

1. Create a new XI project
2. Add 2 new fields to the view controller
[code]

### Expected Behavior
This classes are existed

### Actual Behavior
There are no these classes

### Environment

1. VSfM
https:/

[2019-01-09 12:04] emaf commented on #5359
@spouliot thanks for the heads up. Does this happen with any Asset type or just with Color Set assets?

[2019-01-09 12:44] GouriKumari opened #5363 "[interpreter]AudioGenerator sample fails to launch with System.ArrayTypeMismatchException"
### Steps to Reproduce

1.  Install Xamarin.iOS build from master branch, 12.7.0.30 (master): aa77c673c)  or latest Version: 12.7.0.35 (Visual Studio Enterprise), Hash: 327c0a8d
2. Build and run AudioGenerator sample on a 64 bit device in debug mode.

### Expected Behavior
App builds and launches successfully
### Actual Behavior
App builds successfully but fail to launch with a System.ArrayTypeMis

[2019-01-09 13:09] GouriKumari opened #5364 "[interpreter]AVCustomEdit fails to launch with System.ArgumentOutOfRangeException"
### Steps to Reproduce

1. Install Xamarin.iOS build from master branch, 12.7.0.30 (master): aa77c67) or latest Version: 12.7.0.35 (Visual Studio Enterprise), Hash: 327c0a8
2. Build and run AVCustomEdit sample on a 64 bit device in debug mode.

### Expected Behavior
App should build and launch successfully
### Actual Behavior
App builds successfully but fails to launch with exception System.Argume

[2019-01-09 13:35] emaf commented on #5103
@taori are you still using Visual Studio 15.9.2? We have a potential fix, and we'd like to share new bits with you so you can confirm if that fixes your issue, but we need to know the exact VS version you are using.

[2019-01-09 13:39] taori commented on #5103
@emaf i am on 15.9.4 now. I am available for a teamviewer session too, if that would help.

[2019-01-09 13:39] GouriKumari opened #5365 "[interpreter]Extension samples fail to build with an error " Not all assemblies for Xamarin.Sdk have link tasks""
### Steps to Reproduce

1. Install Xamarin.iOS build from master branch, 12.7.0.30 (master): aa77c67) or latest Version: 12.7.0.35 (Visual Studio Enterprise), Hash: 327c0a8
2. Build Extension Sample, eg: Lister, ImageInverter, PhotoFilter

### Expected Behavior
App builds successfully
### Actual Behavior
App fails to build with error, error MT0099 : Internal error : Not all assemblies for Xamarin.

[2019-01-09 14:00] spouliot commented on #5359
@emaf based on comments (in the original issue) I think the synchronization does not work at all - but I only confirmed the color case.

FWIW I think we should consider this directory as a file, i.e.
* it's either included in the project (.csproj) or not;
* anything that changes under the directory requires `actool` to be run again (since we do not know the exact, or future, logic of Apple to proc

[2019-01-09 14:06] spouliot commented on #5362
assigned to @dalexsoto in https://devdiv.visualstudio.com/DevDiv/_workitems/edit/758633

Missing API are listed by [xtro](http://xamarin-storage/jenkins/xamarin-macios/master/a42b6b7237003118e1e8f2416e8c5ded04ec8251/313/jenkins-results/tests/Xtro/562/xtro-20190109_024840/MetalPerformanceShaders.ignore.html).

[2019-01-09 14:06] dalexsoto commented on #5362
yes, current WIP thanks for assigning it to me.

[2019-01-09 14:19] spouliot commented on #5365
c.c. @rolfbjarne since this a build issue

[2019-01-09 14:39] Aufty commented on #4610
Just wanted to say I got everything set up on Visual Studio for Mac and this particular problem is not present. Only on Windows VS2017.

@Flash3001 the version of the DocumentReader I'm using is the beta version and it's using 4.0.0.1

[2019-01-09 16:02] emaf commented on #5103
@taori I'd need an email address where I can send you a link to the private bits.

[2019-01-09 17:07] albilaga commented on #5330
So using Xamarin.Mac we can't use App Store signing configuration? Or my mistake in setting up signing configuration? Because I am already trying different signing configuration (but still same App Store because our app needed to upload to app store) and still got the same error

[2019-01-09 18:53] spouliot commented on #4900
We have not heard back from Apple rdar - but this is already tracked in https://github.com/xamarin/xamarin-macios/issues/5086 so this issue can be closed.

[2019-01-09 18:53] #4900 closed

[2019-01-09 18:55] spouliot commented on #5174
No test case was provided and no other similar issues were filed. If you can still duplicated the issue then please attach the test case and we'll re-open the issue. Thanks!

[2019-01-09 18:55] #5174 closed

[2019-01-09 19:17] albilaga commented on #5330
Looks like you are correct @chamons . It is the problem with code signing. I also try in xcode to sign test app using my certificate (manual) and it also directly force closed. I only can successfully generate if I am using automatically manage signing which is not possible in VS4Mac. I also try archive in VS4Mac then sign using XCode with automatically manage signing but got error "RSync Failed"

[2019-01-09 19:34] spouliot commented on #5202
The preview instruction did not work but creating the same is easy.
[code]

Considering some metadata is fine (while others are not) it might be better to document the issue and making sure the error message links to that documentation.

The alternative would require scanning many files before signing, which is time consuming (affecting build times) for a very low probability of having to clean th

[2019-01-09 19:44] spouliot commented on #5226
The supplied information was not complete enough for us to duplicate the issue.

If you can still duplicate this crash using our latest stable release please attach a self-contained test case and we'll re-open the issue. Thanks!

[2019-01-09 19:44] #5226 closed

[2019-01-09 21:16] Aufty commented on #4610
Question: Is there anything I can change in the build process to force the dylib libraries to be rebuilt so I don't have to clean before each deploy? Something behind the scenes / temporary???

[2019-01-09 21:18] spouliot commented on #5257
I can duplicate this with master (device build).

@VincentDondain is that failing on device tests ?

c.c. @vargaz

[2019-01-09 21:20] spouliot commented on #5236
Not enough context. `ArchiveAppBundle` does not exists (at least by that name) for iOS projects.

@abock ? @chamons ?

[2019-01-09 21:34] spouliot commented on #3543
Closing - the snipped attributes were removed with PR #5101 (but the issue was not closed automatically)

[2019-01-09 21:35] spouliot commented on #3543
Closing - the snipped attributes were removed with PR #5101 (but the issue was not closed automatically)

[2019-01-10 07:13] rolfbjarne opened #5368 "Incomplete dispatch bindings"
At least `dispatch_block_create_with_qos_class` is missing.

Ref: https://xamarinhq.slack.com/archives/C03CCJHCF/p1547066638055500

For some reason the xtro tests aren't reporting these functions as missing either.

[2019-01-10 14:13] spouliot commented on #5368
wrt xtro I think it's because most (all?) of `dispatch_` API are in `libc` and that was ignored since we only bind a few of those API.

[2019-01-10 14:45] #5365 closed

[2019-01-10 15:48] chamons commented on #5236
I'm honestly not sure, I filed it after @abock complained about it.

[2019-01-10 18:07] mandel-macaque commented on #5291
@GouriKumari @rolfbjarne I'll take a look today, early tom.

[2019-01-10 18:13] abock commented on #5325
This improvement is absolutely needed across the entire API surface of XI/XM. By applying the same technique to `CALayer.Sublayers` I was able to realize an 11x performance improvement in rendering a custom layer-backed view while aggressively scrolling it. This allowed us to realize about a 3x improvement of render overall, allowing us to render at _well beyond_ 60fps.

[2019-01-10 18:38] spouliot commented on #5325
Impressive! I'm glad the discussion helped :)

Now we cannot fix the existing API without breaking changes. The right approach would be to **drop** managed arrays and instead expose `NSArray<T>` (ideally) or `NSArray` properties. That can only be done on `XAMCORE_4_0`. Still that's the best approach since it cover all the usual loop cases.

_It's a bit more complex than just properties since every

[2019-01-10 18:58] migueldeicaza commented on #5325
This would be a source-code breaking change, so I do not support it on a XAMCORE_4 world.

As discussed on chat if you end up looping over all the values in the array, you will be faster using the marshaling we provide than going through NSArray wrappers to fetch the values.   And in fact, for Aaron's use case, by hoisting the access to those arrays out of the loop, he got his performance back as

[2019-01-10 19:38] spouliot commented on #5363
Not obvious from the stack trace but the exception occurs on
https://github.com/xamarin/ios-samples/blob/master/AudioGenerator/AppDelegate.cs#L57

[code]

note the use of `unsafe` code - it's likely not a common pattern

[2019-01-10 20:16] spouliot commented on #5364
Happen on line https://github.com/xamarin/ios-samples/blob/master/AVCustomEdit/AVCustomEdit/SimpleEditor.cs#L58

[code]

it seems assumed both `Clips` and `ClipTimeRanges` have the same number of items. The exception happens because 2 items are in `Clips` while only 1 is inside `ClipTimeRanges`

While debugging (stepping) it worked (they both had only a single item) so there might be a time issue

[2019-01-10 20:54] Therzok commented on #5325
I think it would be better, for discoverability, to have them as side-by-side methods which expose the NSArray, rather than an array. Having it in a different namespace does reduce pollution in the completion list by default, but I'd prefer discoverability over verbosity of a completion list (I think we won't have more than 4 matches in the list when writing `Subview`).

[2019-01-10 20:57] Therzok commented on #5325
Another thing to note is that something is busted when using `NSArray<NSView>` from the patch linked by @chamons.

Sometimes, when iterating the `NSArray<NSView>` via foreach, I'd get the following stacktrace:
[code]

The solution was to use `NSArray` and use `GetItem<NSView>` on it.

[2019-01-10 21:30] mofdaddy commented on #3811
I am seeing this issue with Xamarin.iOS.MaterialComponents 72.2.0 from Nuget when installing app from either AppStore or TestFlight on some iOS9 and 10 devices.
When debugging it works fine.
When distributing test versions through HockeyApp it works fine.
AdHoc Distribution builds using the **same build configuration** as for the AppStore works fine!
However, builds downloaded from AppStore or Tes

[2019-01-10 22:31] spouliot commented on #5325
@Therzok please file a bug w/test case about the later - it should not throw.

[2019-01-10 23:05] bocciab opened #5377 "App extensions include multiple copies of the Xamarin framework"
### Steps to Reproduce

1. Download the ExtensionSamples sample project
2. Build in Debug or Release config
3. Observe the file size of the resulting app bundle
4. Remove references to the app extensions and rebuild
5. Observe the size of the resulting app bundle

### Expected Behavior
Should be comparable

### Actual Behavior
The final size of the app bundle with the extensions is almost 8x the b

[2019-01-10 23:11] Aufty commented on #4610
bump

[2019-01-11 02:56] migueldeicaza commented on #5325
This is an advanced feature - I rather document how to have an idiom for users of the advanced API than have to explain the difference in the base api.

[2019-01-11 08:33] mykyta-bondarenko-gl commented on #5324
@chamons could you merge your changes into the `d16-0` too please?

[2019-01-11 12:06] mandel-macaque commented on #5151
Hello, sorry for the late reply but we have been closely looking at reproducing the issue and we have noticed that, with the information we have so far, we are not able to create an environment that is like yours. I have requested some help from our sysadmins and their feedback is the only product from Microsoft that will match a similar setup (proxy + NTLM) is Microsoft Forefront TMG 2010  which

[2019-01-11 14:11] Flash3001 commented on #4610
@Aufty In fact this is what the Swift4 4.0.0.1 update tries to do as a workaround. Force the libraries to be resigned every time you build for Device.

As you didn't provide a log to check, please make sure you VS is on Diagnostics build log mode. And check if this task is running on a rebuild **_CodesignSwift**

You can find what it was supposed to be doing here https://github.com/Flash3001/Xamar

[2019-01-11 14:15] spouliot commented on #5377
Similar logic exists in Xamarin.iOS. It's a bit more tricky that it looks like since sharing implies most build options (e.g. AOT) must be identical (across all projects [1]) otherwise assemblies can't be reused.

Also deduplicating cannot work in a few other cases, e.g. using a different versions of a 3rd party library (which is more common that expected) between projects.

[1] if you see an 770%

[2019-01-11 14:34] Aufty commented on #4610
Cheers @Flash3001 - is there anything I can do if this isn't happening other than asking the package owner to update their library?

[2019-01-11 15:31] chamons commented on #5324
It's already there:

https://github.com/xamarin/xamarin-macios/blob/d16-0/tools/mmp/driver.cs#L1270

[2019-01-11 15:33] GouriKumari opened #5381 "[interpreter]Debugging sample crashes when interpreter is enabled"
### Steps to Reproduce

1. Install Xamarin.iOS master, Version: 12.7.0.35 (Visual Studio Enterprise) 327c0a8d
2.  Set a breakpoint against Line7 in ClassesUnderTest/SimpleBreakpoints.cs
2. Build and deploy cross platform debugging app on device with interpreter enabled for iOS.Debugging.
3. GoTo SimpleBreakPoint and click Start

### Expected Behavior
Breakpoint should get hit and user must able to

[2019-01-11 15:34] mykyta-bondarenko-gl commented on #5324
ah, yeah, sorry, you are right.
Thanks!

[2019-01-11 16:15] spouliot commented on #5381
Side note: the debugger (and breakpoints) works in other conditions (I've been using them)

[2019-01-11 16:47] akoeplinger opened #5383 "BCLTests test projects don't run nuget restore"
### Steps to Reproduce

1. Build a clean xamarin-macios according to the wiki: https://github.com/xamarin/xamarin-macios/wiki/Build-&-Run
2. Go to tests/ and run `make runner`
3. Click `Run all` next to `[NUnit] Mono MonoCSharpTests`

### Expected Behavior

The test runs.

### Actual Behavior

The test fails to compile because nuget packages are missing.

[2019-01-11 17:01] GouriKumari commented on #5381
I was testing the various scenarios:
Failed Scenarios include:
Simple BreakPoints
MultiThreaded BreakPoints
Shared BreakPoints
Delegate Breakpoints
PCL Breakpoints
Regular Exception
PCL in PCL Nested Library breakpoints
PCL in iOS Class Library Nested Class Libraries
Net Standard in NetStandard Nested Libraries
NetStandard in iOS Class Libraries in NetStandard Nested Libraries

[2019-01-11 18:53] spouliot commented on #3488
With the latest enhancements this code path is not used anymore when adding items to `NSMenu`.

I do have a patch that adds caching but I'll need to create another test case to determine how much it helps (vs the memory it takes).

[2019-01-11 19:26] jdlewis40s opened #5385 "iOS Linking error with EF Core 2.2 and .NET Core 2.2"
### Steps to Reproduce

1. Build a Xamarin project with both EF Core 2.2 (which requires .NET Core 2.2)
2. Create a data model and a DB Context.
3. Get it running on Android.
4. Try to deploy the app to an iPhone and access data using EF.

### Expected Behavior
Everything works fine.

### Actual Behavior
It fails.

### Environment

[code]

### Build Logs
System.TypeInitializationException: The typ

[2019-01-11 19:40] spouliot commented on #5364
I don't think it's interpreter related. Assets are loaded asynchronously and the sample assume they are ready (loaded) by the time some code is executed.

It's a situation that we might, _somewhat_ frequently, see with the interpreter - but it's application (sample) code that is incorrect. A slower device could hit the same issue.

[2019-01-11 19:46] VincentDondain commented on #5215
So with XI stable (a.k.a 12.2.1.12) I still get exactly the same behavior as I described here
https://github.com/xamarin/xamarin-macios/issues/5215#issuecomment-443883288. I do not enter the catch but I am getting `Code=-1001 "The request timed out."` in the application output.

I tried with master `12.6.0.8` (built locally) and same thing, not entering the catch but I have the timeout in the logs

[2019-01-11 20:23] spouliot commented on #5364
Fixed that issue, and a 2nd one and got a 3rd :( but it's (again) not looking like interpreter issues (i.e. sample issues).

[2019-01-11 20:44] PureWeen opened #5386 "Latest version of Xamarin iOS crashing with UIKit.UIKitThreadAccessException"
### Steps to Reproduce

1. pull down Xamarin Forms repro with the iOS-create branch
   https://github.com/xamarin/Xamarin.Forms/tree/ios-recreate

2. run build.sh (this will open VS)
3. set Xamarin.Forms.ControlGallery.iOS to startup project
4. click "go to test cases"
5. now in the search bar type and delete things. If it doesn't crash then try clicking one of the bugs in the list then go back an

[2019-01-11 20:48] PureWeen opened #5387 "Xamarin Forms Control Gallery crashes with latest Xam iOS"
### Steps to Reproduce

1. pull down Xamarin Forms repro with the iOS-create branch
   https://github.com/xamarin/Xamarin.Forms/tree/ios-recreate

2. run build.sh (this will open VS)
3. set Xamarin.Forms.ControlGallery.iOS to startup project
4. click "go to test cases"
5. now in the search bar type and delete things. If it doesn't crash then try clicking one of the bugs in the list then go back an

[2019-01-11 20:50] VincentDondain commented on #5257
@spouliot yes latest device tests for master are also showing that issue -> https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2317870

There are a bunch of `[FAIL] JitTests.GShared : Expected: 0`.

[2019-01-11 20:51] PureWeen opened #5388 "UIGestureRecognizer.Dispose crash when ran from the finalizer thread"
### Steps to Reproduce

1. pull down Xamarin Forms repro with the iOS-create branch
   https://github.com/xamarin/Xamarin.Forms/tree/ios-recreate

2. run build.sh (this will open VS)
3. set Xamarin.Forms.ControlGallery.iOS to startup project
4. click "go to test cases"
5. now in the search bar type and delete things. If it doesn't crash then try clicking one of the bugs in the list then go back an

[2019-01-11 21:07] #5387 closed

[2019-01-11 21:07] #5386 closed

[2019-01-12 01:09] roesterr opened #5390 "AVCaptureSession not working on Xam.Mac"
### Steps to Reproduce

1. Build and run attached test project on MacOS "avcapturesessiontest" on a computer that has a video source like a USB webcam or iSight cam.
2. The ViewController class then
2b. Asks permission to access camera and microphone for input.
2c. Creates and AVCaptureSession object
2d. Finds default video input and creates input device object
2e. Adds input device to AVCaptureSe

[2019-01-12 15:45] GouriKumari opened #5391 "[TrueDepthData]AVMediaType.DepthData variable is missing"
Steps to Reproduce

1. Install Xamarin.iOS master, Version: 12.7.0.35 (Visual Studio Enterprise)
Hash: 327c0a8d
2. Check for AVMediaType.DepthData in class AVMediaType and it is missing. This is used in a sample [["StreamingDepthData"]](https://developer.apple.com/documentation/avfoundation/cameras_and_media_capture/streaming_depth_data_from_the_truedepth_camera)

    connection.isEnabled = true
}

[2019-01-13 14:00] GouriKumari commented on #5363
Issue is seen with Release configuration as well.

Crash Log with test environment: http://xqa.blob.core.windows.net/gist/report-ca9a263784d1403796659ad60c42cfb9.txt

[2019-01-13 20:57] GouriKumari commented on #5364
--Update:
Similar failure is observed with Release configuration.
Log: http://xqa.blob.core.windows.net/gist/report-461fcb0ab20d425c86beed135342d3a9.txt

[2019-01-14 10:42] taori opened #5394 "Runtime "AX Exchange error" warnings with alpha build"
@emaf provided me with an alpha build to try resolve a debug issue i've been having. Debugging works now, but my debug output window is being swarmed with these log messages and he told me to forward this issue here.

# output window

[code]

# environment info

[code]

# logs

[logs_2019-01-14.zip](https://github.com/xamarin/xamarin-macios/files/2754783/logs_2019-01-14.zip)

[2019-01-14 13:17] marek-safar opened #5398 "Enhanced warnings"
Xamarin.iOS should be compiled with more strict C# settings to detect more bad C# code as it does not have to be warning compatible with previous versions.

I didn't test this muself but I expect the broader warnings detection which can be enabled csc /feature:strict to reveal some bad existing code.

For msbuild, you can use csproj `<Features>strict</Features>` or pass it as arguments to msbuild

[2019-01-14 14:01] spouliot commented on #5394
That message comes directly from iOS (not Xamarin) and is triggered by the use of some API (i.e. it's not something I see locally) either directly (by your application) or some 3rd party code.

A bit of googling shows this happened to both [Xcode](https://stackoverflow.com/a/28592706/220643) and [Xamarin](https://stackoverflow.com/a/47628401/220643) developers. The later seems to point to Calabash

[2019-01-14 14:12] spouliot commented on #5391
Yes, it's exposed as a (smart) enum so you get intellisense to help you inside the IDE.

If you need the corresponding `NSString` constant (for some API) then just call `AVMediaTypes.DepthData.ToConstant ()`.

[2019-01-14 14:13] #5391 closed

[2019-01-14 14:23] mdonat commented on #4610
@Flash3001 _CodesignSwift is not running on build. Only if i clean the project and make a new build.
Log says:
Neuzuweisung der Eigenschaft: $(_CoreCodesignDependsOn)="

			_EmbedMobileProvision;
			_CodesignNativeLibraries;
			_CollectFrameworks;
			_CodesignFrameworks;
			_ReadAppExtensionCodesignProperties;
			_CodesignAppExtensions;
			_PrepareCodesignAppExtension;
			_CalculateCodesignAppBund

[2019-01-14 14:32] spouliot commented on #5394
Definitively try removing (disabling) calabash to see if it's the cause of the warnings.

It might be temporary - but I think it's more likely the warning is printed only on some (maybe recent) version of iOS (and your calabash library might be older).

[2019-01-14 14:35] GouriKumari commented on #5391
Thanks.  AVMediaTypes.DepthData. GetConstant () works.

[2019-01-14 14:36] Flash3001 commented on #4610
Some users are having issues due to changes in tasks order when using PackageReference. There is a better explanation and workaround on the comment bellow:

https://github.com/Flash3001/iOSCharts.Xamarin/issues/47#issuecomment-452548254

[2019-01-14 14:38] spouliot commented on #5390
The attached sample works for me. I hit the breakpoint (in the delegate) and removing it shows video of me in the bottom left corner.

It might be timing sensitive since you're calling async code in your .ctor (see compiler warnings) ?
Or your app window is too small and the video is outside the bounds ?

[2019-01-14 15:16] spouliot commented on #5385
It looks like EFCore is using reflection to call some code (unclear what it is) and that requires (it or the application) to ensure the required, reflected bits, are not removed when linking.

IOW it does not look an a Xamarin.iOS issue. However we can probably help you but we'll need a self-contained test case (since we're not EFCore experts).

The quickest workaround, to unblock your work, would

[2019-01-14 15:43] xfortin-devolutions commented on #4288
@chamons Where are we on this at this moment for Xamarin.Mac projects? I can see the MAP_JIT flag is done for [mono](https://github.com/mono/mono/issues/9210).

[2019-01-14 15:52] chamons commented on #4288
@xfortin-devolutions We have sufficient infrastructure that you can enable the hardened runtime in your project if you don't mind using a text editor \ signing again by hand.

The following are required:

- You application must be code signed
- You have to use xamarin-macios from master or d16-0 branch
- You have to use a custom entitlement file and add at least the following with a text editor:
[

[2019-01-14 16:04] xfortin-devolutions commented on #4288
Thanks for the info. Should be feasible. I'm not sure about using a development version of Xamarin though. Do we have an idea on when those changes will trickle down to a released version?

[2019-01-14 16:16] chamons commented on #4288
Hardened runtime requires mono changes, as you found, and those are only in the latest bits.

16-0 is in the [early stages of preview](https://visualstudio.microsoft.com/vs/preview) (we just had the first preview) and I don't have a release date yet to share. I would expect something in the order of months.

[2019-01-14 16:26] sandyarmstrong opened #5401 "NSStringAttributes: More null checks when setting properties"
### Steps to Reproduce

1. Instantiate an `NSStringAttributes`.
2. Set `Font` to `null`.

### Expected Behavior

Nothing? Or maybe an `ArgumentNullException`?

### Actual Behavior

Native crash: https://gist.github.com/sandyarmstrong/0007822d58d242578cf6276cdb5412ba

----

In general, it seems that `NSStringAttributes` constructor has a bunch of argument checking that doesn't exist when setting th

[2019-01-14 16:45] sandyarmstrong commented on #5401
I think I misread this situation. Closing for now.

[2019-01-14 16:45] #5401 closed

[2019-01-14 19:10] spouliot commented on #5388
I can duplicate this with `master` and it does **not** crash with `15.9` (stable).
FWIW I don't remember any related changes, but that code being called inside the finalizer will throw (so it was likely not there, or disposed differently before)

[2019-01-14 19:17] spouliot commented on #5388
[code]

that's in both `master` and `d15-9` so it seems it's related to how/when it's disposed

[2019-01-14 19:20] spouliot commented on #5388
Ok, it's a regression caused by the new code path added in PR #4729 to avoid cycles.

[2019-01-14 19:46] migueldeicaza commented on #5388
I have a patch, will submit soon.

[2019-01-14 22:33] abock opened #5403 "NSAppearanceCustomization.Appearance should allow for null"
`NSAppearanceCustomization.Appearance` (and `NSAppearanceCustomization_Extensions.SetAppearance`) should be able to receive `null`/`NIL` to indicate that appearance (`NSAppearanceCustomization.EffectiveAppearance`) should be inherited from its appearance source.

Our bindings are currently throwing `ArgumentNullException` when set to `null`.

https://developer.apple.com/documentation/appkit/nsappe

[2019-01-14 22:34] abock commented on #5403
Workaround:

[code]

[2019-01-15 02:41] MizuhoYASOSHIMA commented on #5151
Hello, thank you for keeping having look at this issue!
I requested detailed information to our IT department. When I get it, I'll let you know.

[2019-01-15 08:04] mdonat commented on #4610
That's it !! Thank you very much.

[2019-01-15 15:18] spouliot opened #5408 "generator does not handle `[NullAllowed]` correctly on protocols `_Extensions`"
ref: https://github.com/xamarin/xamarin-macios/issues/5403

### Steps to Reproduce

1. Apply

[code]

2. Build and check `src/build/mac/mobile/AppKit/NSAppearanceCustomization.g.cs`

### Expected Behavior

No null check (it's disabled) on the generated `Set*` method

### Actual Behavior

[code]

### Workaround

Use
[code]

to generate to appropriate code
[code]

### Environment

master

[2019-01-15 15:19] spouliot commented on #5403
`NSAppearanceCustomization.Appearance` needs to be implemented (by the interface or the subclassing model), i.e. only `NSAppearanceCustomization_Extensions.SetAppearance` needs to be fixed.

[2019-01-15 15:24] spouliot commented on #5408
Actually the workaround is not correct. It removes the `null` check but it does not generate the right code, i.e. `value.Handle` will throw a `NullReferenceException`

[2019-01-15 16:18] spouliot commented on #5215
@VincentDondain yes :) it's part of the stack trace (showing both the handler and that I'm getting the exception)

[2019-01-15 16:23] Aufty commented on #4610
@mdonat could you tell me what you did? I added the Swift4 targets to my csproj file (the import statement and the file to the root) but I'm still having the same problem. Is there something I'm missing?

[2019-01-15 16:46] drewdz commented on #5344
Exact same behaviour for me. Issues seemed to appear intermittently after updating VS on PC to 15.9.4. Using the Mac as a workaround is very tedious.

PC running VS Professional 2017 version 15.9.4 (config attached)
Mac build host is running macOS Mojave 10.14.2 and XCode 10.1

We have a rather large project for a client. At first it only affected another project in the suite but now it is affecti

[2019-01-15 17:53] mattleibow commented on #5403
Might be related https://github.com/xamarin/xamarin-macios/issues/5408

[2019-01-15 19:37] lewurm commented on #5364
Thank you @spouliot :)

[2019-01-15 19:43] jstedfast commented on #5330
You cannot use App Store signing configuration because that won't run on your local machine.

App Store signing is only used by Apple. What happens is that they re-codesign it with their key and that's when it becomes valid for you to run it on your machine. Until then, it's not valid.

[2019-01-15 21:48] spouliot opened #5416 "[NullAllowed] can be applied on methods leading to easy (review) mistakes"
Right now this case is silently ignored (both by the compiler and by the generator) which can lead to mistakes that are easy to miss while reviewing bindings.

### Steps to Reproduce

1. Apply diff

[code]

2. Build

### Expected Behavior

no error

### Actual Behavior

Many errors (needs to be reviewed)

Some case are "semi-valid" like putting `[NullAllowed]` on a `set` since the intent is kind o

[2019-01-15 22:02] spouliot commented on #5416
E.g. inside `audiounit.cs` we have

[code]

which presently generates a null check

[code]

which is unlikely the intent (nor what people think they reviewed)

[2019-01-16 03:13] albilaga commented on #5330
I see @jstedfast but I got response from AppStore saying my app force close when launch. Then I try to compare the app built with XCode. With XCode when I try to sign using certificate without provisioning profile or automatically manage signing, I can run the app directly from the build or app from the installer generated. But if I use manual signing with provisioning profile it will showing the

[2019-01-16 16:11] spouliot commented on #5416
re-opening PR #5417 is not a complete fix (only bindings, not tooling)

[2019-01-16 19:43] bocciab commented on #5377
For my purposes, I keep all of my projects on the same versions of 3rd party packages.

If there is a known workaround I could use until this improvement is available, that would make me really happy.

[2019-01-16 19:58] spouliot commented on #5377
Not exactly a _known_ workaround but, **in theory**, you could write a small script that detects duplicated files and replace them with symlinks.

This assume that all your build options are identical between your main application and all its extensions **and** that anything that modify assemblies, e.g. our managed linker, are disabled.

Note that such changes will break existing code signatures a

[2019-01-17 01:21] albilaga commented on #5061
Any news when this is available? Will try to use without provisioning profile to submit rejected appstore submission again

[2019-01-17 12:16] ammoman commented on #4864
We're trying to release a build to the App Store that will work with Series 4.  We used the workaround provided above, which successfully creates an archived build.  We can sign the archive for submission, but every time we submit it via the Application Loader we get the following error:

ERROR ITMS-90209: "Invalid Segment Alignment.  The app binary '....WatchExtension' does not have proper segmen

[2019-01-17 12:29] swoolcock opened #5427 "Crash when using CreateDelegate and OpenTK Color4"
Xamarin.iOS apps can hard crash when using `CreateDelegate` and certain generic method signatures.  I have only been able to reproduce this using the `Color4` struct from our OpenTK fork (renamed to osuTK to avoid namespace conflicts with the OpenTK provided in Xamarin.iOS).

Crashes seem to occur when the method signature has at least two generic arguments and ends in a floating point type. The r

[2019-01-17 13:31] roesterr commented on #5390
There were two issues... I've confirmed there was a timing issue with the resource access permissions for video and audio input executing prior to creation of the capture session. Also one of the USB video input devices did not work as an input while others did. I'm investigating further to see if I need to specify framerate or other parameters to get the capture session to display a preview. Plea

[2019-01-17 13:57] PhilippeCreytens opened #5429 "BaseFontSizePercentageRelativeToVideoHeight not available in CMTextMarkupAttribute"
Hello,

I have noticed that a lot of kCMTextMarkupAttribute fields are missing and `kCMTextMarkupAttribute_BaseFontSizePercentageRelativeToVideoHeight` in particular is very useful when working with the AVPlayer and adding subtitles. I have added a PR with this field added to the `CMTextMarkupAttributesKeys` Enum list and `CMTextMarkupAttributes`.

This issue/feature would be very useful to be imp

[2019-01-17 14:10] #5408 closed

[2019-01-17 14:24] spouliot commented on #5390
Thanks for following up!

[2019-01-17 14:24] #5390 closed

[2019-01-17 14:37] PhilippeCreytens commented on #5429
kCMTextMarkupAttribute_BaseFontSizePercentageRelativeToVideoHeight should be added to my PR:
`[Internal]
        [Field("kCMTextMarkupAttribute_BaseFontSizePercentageRelativeToVideoHeight")]
        NSString BaseFontSizePercentageRelativeToVideoHeight { get; }`

Added in the same way as `kCMTextMarkupAttribute_RelativeFontSize` for instance

[2019-01-17 15:18] spouliot commented on #5427
I get the same crash with stable (12.2.1.12 / d15-9) but it works fine with master, so the fix is already present in the newer mono (2018-08 vs 2018-04)

Closing as already fixed. You might want to update to 16.0 preview #2 (available soon) or take a build directly from our bots if the issue is blocking you.

[2019-01-17 15:18] #5427 closed

[2019-01-17 18:10] chamons opened #5432 "[mac] ReleaseManagedRef crash when reusing views that have RemoveFromSuperview overridden"
### Steps to Reproduce

[NSOutlineViewDidRemove.zip](https://github.com/xamarin/xamarin-macios/files/2769992/NSOutlineViewDidRemove.zip)

1. Open attached project
2. Run
3. Click button about 10 times, scrolling through list when up appears to make it happen more often, but seems random.
4. Comment out RemoveFromSuperview on MyView and it seems to go away.

### Expected Behavior

Not randomly cras

[2019-01-17 18:11] chamons commented on #5432
Appears to be related to https://bugzilla.xamarin.com/show_bug.cgi?id=13430

[2019-01-17 18:33] chamons commented on #5432
Waiting for ViewWillMoveToSuperview to be invoked with null appears to cover some of the use cases RemoveFromSuperview hits and doesn't appear to trigger this.

[2019-01-17 21:00] #5403 closed

[2019-01-18 05:00] swoolcock commented on #5427
Tested with 12.7.0.74, crash is fixed.  Thanks.  ;)

[2019-01-18 13:48] yevgeniy-seleznev commented on #4235
This still reproes with Mono 5.16, xamarin.ios 12.2.1.11, using Seeing AI app as the test. The ultimate mtouch error looks suspiciously like the original issue:

error MT0099 : Internal error : Not all assemblies for Xamarin.Sdk have link tasks. Please file a bug report with a test case (http://bugzilla.xamarin.com). [/Users/vsts/agent/2.144.0/work/1/s/iOS/App/SeeingAI.iOS.csproj

Still, I am goin

[2019-01-18 14:06] yevgeniy-seleznev opened #5437 "error MT0099 : Internal error persists in Release build with latest Mono"
There has been a linker issue persisting in the Release configuration of our Seeing AI build for some time -- the last version to work was mono 5.8.1. We have thus been locked to this mono version in our production VSTS builds. The original bug  [4236]( https://github.com/xamarin/xamarin-macios/issues/4235) is now closed, reportedly fixed in xamarion.ios 12.0 but unfortunately we can still repro i

[2019-01-18 14:09] #5429 closed

[2019-01-18 14:35] spouliot commented on #5427
@swoolcock thanks for confirming it!

[2019-01-18 14:59] spouliot opened #5438 "Investigate the use of .tdb files wrt linking performance"
With Xcode 7 Apple started to ship text files (.tdb) instead of the actual .dylib for libraries.

There's likely many reasons for this, including making it harder to link against private symbols, decompiling the code...

Until today I thought this was for device libraries only - but I found out the same `.tdb` files are also shipped for simulator libraries, e.g.

[code]

even if the _actual_ simul

[2019-01-18 15:57] yevgeniy-seleznev commented on #5437
That build log is from the hosted VSTS macOS image -- my understanding was that they are running XI 12.1...apologies if that's not the case. I am working on finding out the exact version of xamarin.ios which is being used there. If it's found that they aren't using 12.0, I'll close the bug.

[2019-01-18 16:01] albilaga commented on #5061
@spouliot you actually can’t do that. If you do that you actually still embed provisioning profile in mac.app. It is different with what XCode does when you use none in XCode it will not embed provisioning profile. You can try to Show Package Content in app that build with signing application bundle but with provisioning profile set to None. There is still embedded.provisionprofile inside the app

[2019-01-18 17:53] SotoiGhost opened #5441 "Switching branches with NuGets referenced breaks solution"
Moving from xamarin/GoogleApisForiOSComponents#201

@romanGarasymovych commented:

### Steps to Reproduce

This happens only on Visual Studio for Windows.

1. In **Git Bash**, clone [test case][1] repo and switch to `withGoogleSignIn` branch
2. Open solution on VS and deploy it to a device
3. From **Git Bash**, switch to `master` branch
4. In Visual Studio, a dialog message will appear, click on *

[2019-01-18 18:40] spouliot commented on #5441
@SotoiGhost your comment one the original issue seems to indicate this only happens on Windows. Could you duplicate this with VS Mac ?

FWIW I don't think it's SDK related - but how the IDE detect file (including project/solutions) changes. Still we need to assign it to the right IDE (or both if it happens on both platforms)

[2019-01-18 18:40] yevgeniy-seleznev commented on #5437
Confirmed issue is fixed in xamarin.ios 12.1, closing

[2019-01-18 18:40] #5437 closed

[2019-01-18 18:41] SotoiGhost commented on #5441
@spouliot This only happens on Windows. On Mac, everything seems to be working ok.

[2019-01-18 20:03] tlhintoq opened #5442 "Request: MacOS Remote USB - please bring it back."
###Request###
Please re-active the MacOS remote debugging feature from 2016.  It worked great then just disappeared without a final release.

This feature got a standing ovation at Evolve 2016. It was around for about a week, then pulled.
There was a survey on Twitter that MANY people didn't know about. Then ... well .... hello ... nothing.

The thread for it on Xamarin Forums still has people wan

[2019-01-18 20:22] spouliot commented on #5442
@tlhintoq GitHub issues are _meant_ for the open sourced SDK [1]. The best place for IDE (or non-open source) feature requests is Visual Studio Community https://developercommunity.visualstudio.com/spaces/8/index.html

[1] we can sync the issue to our internal bug tracker so the XVS (Windows side team will see the issue) but that does not have the exact same visibility.

[2019-01-18 22:18] mattleibow opened #5444 "BI0000 when using [Wrap] on property getters and setters"
### Steps to Reproduce

Try bind something like this:

[code]

Full type:

[code]

### Expected Behavior

No error.

### Actual Behavior

💥

### Environment

https://gist.github.com/mattleibow/953050a4f599d3f7222633939786ad52

### Build Logs

[code]

### Example Project (If Possible)

[2019-01-18 23:01] tlhintoq commented on #5442
Thanks for the response.  What do _you_ think is the **best** thing to do with the request so it gets the right visibility from the team and maybe some love with respect to it being worked on?

[2019-01-20 11:17] Liam2349 opened #5445 "[MacOS][Xamarin.Forms] View has 16383 views pointing at it that can't be found, SIGSEGV, at <unknown> <0xffffffff>"
### Description
I have a Xamarin.Forms app targeting WPF, Android and macOS. On macOS, I'm having a lot of issues with SIGSEGV errors, which for a while now has prevented me from releasing the app as it is not stable.

It seems that these are caused by referencing views that no longer exist. The output window in VS for Mac will say that a view has **16383** views pointing at it that can't be found

[2019-01-21 13:52] spouliot commented on #5442
@tlhintoq in both cases (here or Visual Studio Community) there will be an internal issue created, so "team wise" it's identical (same end result).

You might get more _external_ visibility (e.g. more community comments) in [Visual Studio Community](https://developercommunity.visualstudio.com/spaces/8/index.html) since this is where the IDE (both Windows and Mac) redirect their users for feedback.

[2019-01-21 14:11] spouliot commented on #5444
The `[Wrap]` attribute is not meant to replace generated binding with manual code. It's meant to warp something that already exists, e.g.

[code]

That can be _somewhat_ abused as long as it fits the same pattern as wrapping - but we can't change it's behaviour without breaking existing projects. The best way to handle your case is to write manual code in a partial class.

Still we should report s

[2019-01-21 16:01] rolfbjarne opened #5447 "DispatchBlockTest test failure on device"
I get this failure on 64bit devices:
[code]

_Originally posted by @lewurm in https://github.com/xamarin/xamarin-macios/pull/5389#issuecomment-456111438_

[2019-01-21 17:39] curia-damiano opened #5448 "VS4Mac: unable to debug via wifi"
### Steps to Reproduce

1. Create an empty app in Visual Studio for Mac
2. Set a breakpoint in the AppDelegate.FinishedLaunching method
3. Debug via USB: the breakpoint is hit correctly
4. Debug via wifi: VS4Mac hangs with "Waiting for the debugger.... on port 32758 via Wifi"

### Expected Behavior
I would expect to be able to debug even via wifi

### Actual Behavior
VS4Mac hangs

### Environment

[2019-01-21 17:40] curia-damiano commented on #5448
VS4Mac info:

=== Visual Studio Enterprise 2017 for Mac ===

Version 7.7.3 (build 43)
Installation UUID: 589a483c-43ce-47f0-952e-e7a338c0b1ac
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 4.4.1.178 (master / eeaeb7e6)

	Package version: 516000221

=== Mono Framework MDK ===

Runtime:
	Mono 5.16.0.221 (2018-06/b63e5378e38) (64-bit)
	Package version: 516000221

=== NuGet ===

Version: 4.8.0.5385

=== .

[2019-01-21 17:50] taori opened #5449 "Feature request: Dialog to run VS Update on MAC"
Sometimes my build fails on MAC and i am sitting there, puzzled - It says something about connection refused and whatnot - but the actual issue is just that there are updates for VS on mac.

It would be great if VS prompted me to update VS on mac, instead of just displaying the stack trace, if an available update is the reason i am getting that stack trace in the first place

[2019-01-21 17:54] curia-damiano opened #5450 "VS2017: unable to debug even via USB cable"
### Steps to Reproduce

1. Create a new iOS app in VS2017
2. Connect to the Mac build agent via SSH
3. Try to debug the app, even connecting the iPhone via USB: it will be impossible

### Expected Behavior
I would expect to be able to debug the app

### Actual Behavior
Visual Studio hangs

### Environment

VS201715.9.5, iOS 12.1.2, Mac OSX 10.14.2

Microsoft Visual Studio Enterprise 2017
Version 1

[2019-01-21 20:18] spouliot commented on #5448
I have no problem using wifi to deploy and start debugging applications.

Can you make sure your [setup](https://docs.microsoft.com/en-ca/xamarin/ios/deploy-test/wireless-deployment?tabs=macos) is correct ?
and that you are on the same wifi network ?

Also please provide the logs from VS4Mac "Application Output", they should look like mine:

[code]

[2019-01-21 22:38] msasso69 opened #5452 "SIGABRT when calling NSLayoutManager.BoundingRectForGlyphRange"
I'm using Xamarin.Mac through an intermediate framework and I always get a SIGABRT when calling NSLayoutManager BoundingRectForGlyphRange after a while.
I can debug the framework and I think that the problem lies in the Xamarin code (that my fault I don't know how to debug, not yet at least).
Unfortunately I'm not able to reproduce the problem in a simple snippet of code, but it happens systematic

[2019-01-22 14:20] #5349 closed

[2019-01-22 14:49] spouliot commented on #5452
All the above are **native** exceptions, which means the native API detected something incorrect and decided to crash (instead of continuing). That's common for native exceptions (most of them are _terminal_).

That generally means that the API arguments or the object state has become invalid. The best way to debug it would be to place a breakpoint on the last managed frame (the API) and look at t

[2019-01-22 14:52] #5444 closed

[2019-01-22 16:41] #5447 closed

[2019-01-22 16:41] curia-damiano commented on #5448
Hi,
I have reformatted the Mac and installed XCode and VS4Mac in the latest release, stable versions.

I have added the -vvv to the build options and here is the following output:

Building Test (Debug|iPhone)
Build started 1/22/2019 5:35:42 PM.
__________________________________________________
Project "/Users/damianocuria/Desktop/Test/Test/Test.csproj" (Build target(s)):

Target _CoreCompileInte

[2019-01-22 16:42] curia-damiano commented on #5448
P.S. Mac and iPhone are in the same wifi; also deploying via USB works just fine

[2019-01-22 18:43] msasso69 commented on #5452
ok, thanks, unfortunately the parameters you are referring to are parameters to internal calls that I cannot access, I'll try to debug the Xamarin code and get back here. Any "how to" doc that you can suggest me on how to debug Xamarin.Mac?

[2019-01-22 19:17] spouliot commented on #5452
Start with https://docs.microsoft.com/en-us/visualstudio/mac/debugging

In particular read
https://docs.microsoft.com/en-us/visualstudio/mac/debugging#debugging-monos-class-libraries
since it will let you set breakpoints inside the framework code

That will allow you to open `/Library/Frameworks/Xamarin.Mac.framework/Versions/5.2.1.12/src/Xamarin.Mac/AppKit/NSLayoutManager.g.cs` and set a breakpoi

[2019-01-22 22:04] msasso69 commented on #5452
Thanks for your support,
in the meantime I think I found the catch,
the problem was not in Xamarin.Mac (sorry for blaming it) but in the framework (or in how I was using it).
Anyway thanks for your hints, I'll try to debug and play with Xamarin.Mac code too, It might be helpful in the future!

[2019-01-22 22:47] spouliot commented on #5452
I'm glad to hear about your progress! and also that it's not inside XM ;-)

[2019-01-22 22:47] #5452 closed

[2019-01-23 11:53] ammoman commented on #4864
This is the first time we’ve attempted the workaround.  Once the issue was discovered a few months ago we postponed all iOS development.  (until now)

[2019-01-23 13:36] #5289 closed

[2019-01-23 13:40] rolfbjarne commented on #4864
@ammoman can you enable diagnostic build output in VIsual Studio for Mac (as explained here: https://docs.microsoft.com/en-us/visualstudio/mac/compiling-and-building), and attach the build log here? This should be a clean build log.

[2019-01-23 14:47] mauroa commented on #5449
The VS experience in Windows with iOS is totally unrelated and independent of VS for Mac. You can uninstall VS for Mac and continue working with VS in Windows without any problem.
We only require Mono, Xamarin iOS and Xamarin Mac installed on the Mac to be able to work on VS with iOS apps and connected.
Having VS for Mac just make that part easier because it takes care of the Mono, Xamarin iOS and

[2019-01-23 16:24] mandel-macaque commented on #5151
Let me ask our sysadmin and I'll get back to you.

[2019-01-24 04:50] dalexsoto commented on #3553
Part 1 of MPS is up https://github.com/xamarin/xamarin-macios/pull/5466

This includes updates for:

MetalPerformanceShaders.framework
MPSCore.framework
MPSImage.framework
MPSMatrix.framework
MPSRayIntersector.framework

Pending:

MPSNeuralNetwork.framework

[2019-01-24 10:05] rolfbjarne opened #5467 "Objective-C class symbols are incorrectly cached when building with --dynamic-symbol-mode=code"
### Steps to Reproduce

1. Create iOS app with a binding project for at least one Objective-C class.
2. Add --dynamic-symbol-mode=code to the additional mtouch arguments
3. Build
4. `touch /Library/Frameworks/Xamarin.iOS.framework/Versions/Current/lib/mono/Xamarin.iOS/mscorlib.dll`
5. Build again.

### Expected Behavior

Successful second build.

### Actual Behavior

and clang shows errors like th

[2019-01-24 10:57] dpjustdoit commented on #4741
@ivanicin @taublast
Try this:

-    go to Project Options of the project you want to run

-    select iOS Build

-    select Debug & iPhone Simulator

-    set SDK Version to the lower one (iOS 12.1 for me)

-    set Linker Behavior to Link Framework SDKs only

[2019-01-24 11:34] Liam2349 commented on #5445
Thanks for the response. I don't believe I have access to Xamarin Profiler, unfortunately, as I don't have a VS Enterprise license.

Based on what you've said, my best guess would be that Xamarin.Forms or Xamarin.Mac is holding these references. 16k views sounds like a lot to be creating - I'm certainly not creating that number intentionally. Perhaps the way that my custom controls are being creat

[2019-01-24 12:35] mandel-macaque opened #5469 "CFnetworkHandler does not support background sessions"
The CFNetworkHanlder, which can be found [here](https://github.com/mono/mono/blob/master/mcs/class/System.Net.Http/CFNetworkHandler.cs) does not use kCFStreamNetworkServiceTypeBackground which means that does not support background sessions. This is an issue, because when an application goes into the background, the application will not perform the downloads.

This issue connects with https://gith

[2019-01-24 13:10] rolfbjarne commented on #5469
I think that since CFNetwork is obsolete, there's no need to implement any new behavior.

[2019-01-24 14:08] #5467 closed

[2019-01-24 14:38] chamons commented on #5469
I don't have much appetite to change CFNetwork for fear of breaking existing apps.

Leaving this open as long as CFNetwork is a supported option may be useful in case people run into this, we can point them here.

[2019-01-24 15:33] #5416 closed

[2019-01-24 21:33] VincentDondain opened #5471 "[tests] Introspection iOS Unified 64-bits - simulator failing on 5 selector not found for UIKit.UIPreviewInteraction"
### Steps to Reproduce

1. Run iOS introspection tests for iOS Unified 64-bits

### Expected Behavior

Tests shouldn't fail with "selector not found for UIKit.UIPreviewInteraction"

### Actual Behavior

5 selector not found for UIKit.UIPreviewInteraction

[code]

### Environment

Latest builds from https://github.com/xamarin/xamarin-macios/tree/xcode10.2. After https://github.com/xamarin/xamarin-m

[2019-01-25 08:33] pdecostervgls opened #5476 "Build output folders are not quoted, which results into error when path contains spaces"
### Steps to Reproduce

1. Create project with custom configuration containing a space (Debug NoBT)
2. Try to run app on iOS Simulator
3. Get this:
![image](https://user-images.githubusercontent.com/1556962/51733852-0a78bc00-2083-11e9-919b-2bc9b617293b.png)

### Expected Behavior
This app would deploy fine and run

### Actual Behavior
![image](https://user-images.githubusercontent.com/1556962/5173

[2019-01-25 09:57] curia-damiano commented on #5448
Hi,
sorry for the late reply, I was busy with customers in the past days.
Yesterday night I've tried again and it worked.
The only difference is that I have updated my phone to iOS 12.1.3.
Now I'm not able to reproduce the issue anymore, so I'm going to close it...
Thank you all for your support!

[2019-01-25 09:57] #5448 closed

[2019-01-25 15:20] spouliot commented on #5476
This does not happen on a Mac and the additional information / UI is from Windows.
c.c. @ermau (not sure if it's the UI/issue is on the remote sim or in XVS)

[2019-01-25 18:13] chamons opened #5480 "Xamarin.Mac Full needs to set new TFI to allow nuget targetting of Full"
Today there are three ["target frameworks"](https://developer.xamarin.com/guides/mac/advanced_topics/target-framework/) that Xamarin.Mac can target. However, you can only target two of them in nuget packages. This causes libraries that want to support Full but need platform specific libraries\native libraries significant pain.

After the discussion [here](https://github.com/NuGet/NuGet.Client/pull

[2019-01-28 07:31] alf002 opened #5494 "MT5216 Error when Building for device"
### Steps to Reproduce

1. Create a binding of the SignificantSDK from Xyzmo
2. Add the binding project and PDFNet iOS native library to the Xamarin iOS project
3. Build the project on device

### Expected Behavior
Build and run the application on device
### Actual Behavior
Doesn't build and generates the following error "".../MTOUCH: Error MT5216: Native linking failed for '/.../obj/iPhone/Debug/

[2019-01-28 11:13] fatfatson commented on #4978
but what about if I need the ParameterInfo??

[2019-01-28 16:51] dalexsoto commented on #5494
Hello @alf002

Thank you for your feedback!

For us to investigate this further, could you please provide your full build logs, a test case (to reproduce) and all your version information.

 To get full build logs just set the log verbosity to diagnostic at the following locations:

 - On Visual Studio for Mac: Preferences > Projects > Build
 - On Visual Studio for Windows: Tools > Options > Proje

[2019-01-28 16:56] Therzok commented on #5134
`ReadOnlySpan<char>` would probably leak out in API and not benefit people targeting .NET 4.5. I'll settle for the offset+length parameters.

[2019-01-28 16:58] #5324 closed

[2019-01-28 23:42] ivanicin opened #5504 "NSFilePromiseProviderDelegate not implemented properly"
### Steps to Reproduce
1.
2.
3.

### Expected Behavior
NSFilePromiseProvider class is available in AppKit and it supports all its methods
### Actual Behavior
NSFilePromiseProvider class is available in AppKit, only INSFilePromiseProvider

When I try to implement INSFilePromiseProvider, it has just one method out of three that it should have.
### Environment

[code]

### Build Logs

### Example Pro

[2019-01-29 02:41] dalexsoto commented on #5504
Hello @ivanicin

Thank you for reaching us! I think you are talking about the actual `NSFilePromiseProviderDelegate`, it is fully bound as you can see here

https://github.com/xamarin/xamarin-macios/blob/40c998e264592b8666a0378a53901f822ad33a69/src/appkit.cs#L25603-L25614

It has one `@required` member and two `@optional` members, the required member is part of the defined members inside `INSFileP

[2019-01-29 08:32] rolfbjarne opened #5507 "[RFC] Use Mono.Cecil from NuGet."
Proposal:

* Consume Mono.Cecil from NuGet instead of the source code from mono's submodule (external/mono/external/cecil).

Problems it solves:

* One less source dependency from mono.
* An upcoming Cecil change (https://github.com/jbevain/cecil/pull/554) requires an update on our side (https://github.com/rolfbjarne/xamarin-macios/commit/53874c863996656eaba43a5582731b93eb6f53b7), but we can't app

[2019-01-29 13:01] ivanicin commented on #5504
Basically you have confirmed what I said, except for one 'should' that doesn't stand the test.

So to conclude:
1. There is no AppKit.NSFilePromiseProviderDelegate class
2. Those optional methods are not implemented properly (and no they aren't available in IDE auto-complete otherwise I wouldn't file the bug. Of course I can use Export for any unmapped API so including [Export] it may work but it

[2019-01-29 14:13] spouliot commented on #5507
The cecil revision is currently harmonized (RE) across all products (IDE/SDK) to avoid different bugs/fixes. That could also be done using nugets but it needs to be raised outside the team.

[2019-01-29 14:27] spouliot commented on #5504
It's a `*Delegate` type so it should have a `[Model]` concrete helper class.

[2019-01-29 14:55] ivanicin commented on #5504
Thanks.

As far as I can tell you need to make a sample not just because sample is needed but because this API is not tested at all and it seem to have several bugs (right now I think I found several by now), and I can't actually make it work at all.

Aside from two bugs mentioned above I can't see any pages in the documentation for this API and also one constructor of NSFilePromiseProvider that h

[2019-01-29 16:01] henrik-stromberg-tetrapak opened #5509 "Multipeer Connectivity not working on Personal hotspot"
### Steps to Reproduce

1. Download sample https://github.com/lobrien/MultipeerConnectivity
2. Build application and deploy to two phones connected to same wifi.
3. On one phone  select Advertiser
4. On next phone select browser
5. Send Message
6. Message should be sent to other phone.
7. No setup a Personal hotspot
8 retry step 3-6

### Expected Behavior
Message should be sent to second phone
###

[2019-01-29 19:27] GouriKumari opened #5510 "[Xcode10.2] Could not load the framework 'libswiftIOKit.dylib' while executing --listdev on macOS 10.14.4"
Steps to Reproduce

1. Update a machine to macOS10.14.4 developer beta. Install Xcode10.2 beta1
2.  Install XI and XM from xcode10.2 branch
3. Execute  mtouch --listdev from commandline

### Expected Behavior
All devices connected get displayed
### Actual Behavior
error HE0004: Could not load the framework 'libswiftIOKit.dylib' (path: /Applications/Xcode_10.2.0-beta.app/Contents/Frameworks/libswif

[2019-01-29 19:34] spouliot commented on #5510
there's also a bunch of warnings
[code]
that could cause problems. c.c. @alanmcgovern

[2019-01-29 20:07] jsauve opened #5511 "Token cancellation bug in NSUrlSession http handler in Xamarin.iOS"
### Steps to Reproduce
1. Get sample project from: https://github.com/jsauve/PossibleNSUrlSessionHandlerBug
3. Run the app in the iOS simulator.
4. Click "Post data" button in the app.
5. Watch the output window, and click "Cancel" button in the app just as new threads start spinning up when `SendAsync()` is about to complete, but has not quite yet completed (line 87, MainPage.xaml.cs). It's trick

[2019-01-29 20:42] GouriKumari opened #5512 "[Xcode10.2] XI unitests fail to build from bots with an error MTOUCH : error MT5106: Could not compile the file(s)"
### Steps to Reproduce

1. Update System to Xamarin.iOS, Xamarin.iOS
Version: 12.4.0.15 (Visual Studio Community)
Hash: 8a579bbb and install Xcode10.2
2. Build monotouch-test, donlink test or mini test

### Expected Behavior
Tests Projects should build successfully
### Actual Behavior
Failed to build with an error,  MTOUCH : error MT5106: Could not compile the file(s) '/Users/xamarinqa/agent/_work

[2019-01-29 21:22] praeclarum commented on #3553
Referring to all of these apis: https://github.com/xamarin/xamarin-macios/blob/49ef93670171ef4e11656a8ed0f3e99f20079c65/tests/xtro-sharpie/iOS-MetalPerformanceShaders.ignore#L201

[2019-01-29 21:37] spouliot commented on #5512
That's because you use `-nolink` (Don't Link) on devices and you run into the 32bits native linker limit.

Are you using that same configuration locally ?

Was that same configuration working on XI 12.2 ?

[2019-01-29 22:52] dalexsoto commented on #3553
Hello @praeclarum we hear you!

I am actively working on `MetalPerformanceShaders` that includes `MPSNeuralNetwork.framework` right now, we could not do it earlier (back on Xcode 9.3) because it was an API that was marked as experimental and just promoted to stable in Xcode 10 and we have a hard policy to maintain binary compatibility between our releases. Also the task to bind it has been pushed

[2019-01-30 01:57] dalexsoto commented on #5504
You are right, I missed the lacking of `Model` and `BaseType` attributes still, the approach of having your custom `NSObject` with the `Export`'s and adopting `INSFilePromiseProviderDelegate` should also work. That said if you encounter more issues please keep filing them, this is the only way we can fix things we do not know about, we try our best on having [ios](https://github.com/xamarin/ios-sa

[2019-01-30 04:06] dalexsoto commented on #5512
I was able to reproduce this using `dont link` and targeting an iPhone 5 with iOS 10.3.3

[code]

don't link build log
https://gist.github.com/dalexsoto/5d550608322f7da3aaac05f307a24463#file-dont-link-log

That said I was able to run `monotouch-tests` without issues: https://gist.githubusercontent.com/dalexsoto/5d550608322f7da3aaac05f307a24463/raw/86ea94194ef021c3c7ccf10946f2faace0572989/monotouch

[2019-01-30 04:32] dalexsoto commented on #5509
Hello @henrik-stromberg-tetrapak, thanks for reaching us!

The broader developer community would be the best and quickest place for additional troubleshooting help on this issue, this is the development repository of the Xamarin.iOS/Mac SDK.

Posting a question on Stack Overflow [0] or the Xamarin Forums [1] would be the best next step.

[0] https://stackoverflow.com/questions/tagged/xamarin
[1] h

[2019-01-30 04:32] #5509 closed

[2019-01-30 05:19] NightOwlCoder commented on #5388
Hey guys, is this going to be fast-tracked into the Xamarin Preview channel?
I can't develop my app anymore on 2019 Preview for mac, and I was simply loving it :)

[2019-01-30 08:01] rwelz opened #5516 "MT0000: Unexpected error"
You asked my for a bug report - here you are :)

Visual Studio Enterprise 2017 for Mac
Version 7.7.3 (build 43)
Installation UUID: 770293c7-777b-465a-be9b-390706d1e7c0
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 4.4.1.178 (master / eeaeb7e6)

	Package version: 516000221

Mono Framework MDK
Runtime:
	Mono 5.16.0.221 (2018-06/b63e5378e38) (64-bit)
	Package version: 516000221

NuGet
Version: 4.8.0.538

[2019-01-30 08:36] mykyta-bondarenko-gl commented on #5345
@spouliot can we merge these changes into the `d16-0` too?

[2019-01-30 11:16] walterlv commented on #5215
@VincentDondain I actually met totally the same StackTrace of yours and the same 0x001c3 error code.

[2019-01-30 12:07] mandel-macaque commented on #5151
Hello, the information I got from the sysadmins is that we tried several open source proxies that support NTLM but we do not believe that the setup is the one you are using. Unfortunately without the information of your setup we cannot follow up the issue since we will probably will not be working in the same environment.

I am closing the issue until we can have further information about your set

[2019-01-30 12:07] #5151 closed

[2019-01-30 12:21] #5504 closed

[2019-01-30 13:14] rolfbjarne opened #5518 "Make ObjCRuntime.Runtime.Arch a constant for the AOT compiler"
Suggestion:

* Tell the AOT compiler that the ObjCRuntime.Runtime.Arch field is a constant value (since for the AOT compiler it will always be `ARCH.Device = 0`), which will allow the AOT compiler to skip a lot of dead code (all the simulator-only code can be optimized away).

Requirements:

* The [ObjCRuntime.Runtime.Arch](https://github.com/xamarin/xamarin-macios/blob/742f0df45971ed8837bd65c76e5

[2019-01-30 13:23] ivanicin commented on #5504
I know that is not something that can be considered as GitHub issue, but exactly what you said above shows that Xamarin has some problem in managing this project.

So yes, I agree macOS has many APIs, they are not even completely mapped, let alone tested. No problems with that. However, there is a bit of difference between 'any API' and 'API advertised in the official documentation'. It is not nor

[2019-01-30 13:58] spouliot commented on #5518
Where are the savings coming from ?

The linker optimize that (at least in bindings) before it reach the AOT compiler (so the field should not be present). If the saving comes from elsewhere then we could _expand_ on this (linker) optimization.

Or maybe we can shadow the current field with a 2nd (read-only) one ? and make sure the platform assemblies (and generated code?) use this field.

Of cour

[2019-01-30 14:00] rolfbjarne commented on #5518
This is `dont link` 😄 That said, the linker will only optimize this for methods with `[BindingImpl (Optimizable)]`, the AOT optimizes everywhere.

That's an intriguing idea.

[2019-01-30 14:04] spouliot commented on #5518
Ok, still make sense for **Don't link** wrt the interpreter, at least until we revisit all the _linker_ optimizations :)

[2019-01-30 14:06] spouliot commented on #5512
@dalexsoto the default monotouch-tests has the linker enabled, otherwise it would be larger than don't link (and even more likely to hit the limit)

[2019-01-30 14:23] rolfbjarne commented on #5510
The proposed fix also fixes all the warnings.

[2019-01-30 14:45] GouriKumari commented on #5512
That's because you use -nolink (Don't Link) on devices and you run into the 32bits native linker limit.

Are you using that same configuration locally ?
I was checking with linksdk locally. But I couldn't reproduce it locally with dontlink enabled. It is happening only from CI for me.

Was that same configuration working on XI 12.2 ?
This is working with 12.2. I didn't see any build issues for 15.

[2019-01-30 14:48] chamons commented on #5504
I believe you are misunderstanding @ivanicin.

A few points:

- NSFilePromiseProviderDelegate is a protocol, which is similar to an interface in C#, and thus we bind it as INSFilePromiseProviderDelegate. @dalexsoto example is the correct way to handle this. We are not missing an API here, we are reflecting the protocol into C# interface.
- As @dalexsoto pointed out, there is a difference between r

[2019-01-30 17:32] dalexsoto commented on #5362
@mykyta-bondarenko-gl the APIs you need should be in the latest build of https://github.com/xamarin/xamarin-macios/commits/xcode10.2 here are the latest packages as of today

*
https://bosstoragemirror.blob.core.windows.net/wrench/jenkins/xcode10.2/5fd44acc9a722668061161aca9fc4f56e3365bc3/25/package/xamarin.ios-12.4.0.29.pkg
*
https://bosstoragemirror.blob.core.windows.net/wrench/jenkins/xcode10.2

[2019-01-30 17:32] #5362 closed

[2019-01-30 23:41] praeclarum commented on #3553
Thanks for the details @dalexsoto! I realize I'm probably the only one requesting them but I promise I'll write a beautiful .NET library to use them once available :-)

I've failed in the past binding the native APIs because I would run into registrar errors. But maybe I'll give it another go. It's just such a big library haha.

[2019-01-30 23:46] MizuhoYASOSHIMA commented on #5151
Thank you so much for your cooperation.
I'll ask our IT department again.
If I get new information about this, I'll make a new private issue.

[2019-01-31 00:25] Therzok opened #5522 "NSString does not implement IComparable<T>"
### Steps to Reproduce

[code]

### Expected Behavior
NSString should implement IComparable<T> and the result output should be:
[code]

### Actual Behavior
[code]

### Environment

Xamarin.Mac
Version: 5.6.0.2 (Visual Studio Enterprise)
Hash: 040682909
Branch: d16-0
Build date: 2018-12-14 06:23:20-0500

### Example Project (If Possible)

See code above, not sure it needs a project.

### Workaround

[2019-01-31 00:30] Therzok commented on #5522
Possible fix:
[code]

[2019-01-31 01:54] Therzok commented on #5522
Possibly applies to NSAttributedString/NSMutableAttributedString.

[2019-01-31 02:44] Therzok opened #5523 "NSAttributedString/NSMutableAttributedString missing substring constructors"
Currently, `NSString` APIs allow only to pass a managed string.

This forces APIs which would typically just use a substring be forced to allocate a string for the substring itself.

[code]

Proposed APIs:
[code]

The implementation would then just marshal part of the string, avoiding an intermediate string allocation.

Via https://github.com/xamarin/xamarin-macios/pull/5517, a new `CreateNative (

[2019-01-31 02:48] Therzok commented on #5523
Porting over relevant discussion.

[code]

[code]

[2019-01-31 02:50] Therzok commented on #5523
My reasoning for going on the generator changes was:
1. it would be a whitelist implementation, classes would be marked with an attribute to generate additional overloads
2. we've already done it once in NSString
3. NSAttributedString has a ton of overloads. Manually binding _all_ the variants is obviously going to be messy.

The problem is that none of the generated overloads is reusable in this

[2019-01-31 04:01] dalexsoto commented on #5516
It seems that dSYM directory is not getting generated:

[code]

Any reason you are passing `--dsym=true` to your additional mtouch args? IIRC there is no need for this, we generate the `.dsym` in device builds and you should be able to find it inside your `bin` directory along with the `.app` bundle without anything extra.

Can you check if removing said parameter makes your project build again?

[2019-01-31 05:35] rolfbjarne commented on #5523
I like the generator idea, that also makes it very easy to add additional overloads if we want more in the future (for ReadOnlySpan for instance).

[2019-01-31 13:31] MihaMarkic opened #5524 ".dSym is not properly generated unless configuration is Release"
I'm seeing a dangerous behavior regarding .dSym files generation. I'm seeing that when not using Release configuration for building .ipa, a .dSym file is still generated, but it is pretty much empty - like 9KB instead of 45MB in my case. This isn't obvious to the user and not good when a symbolication is required.
The fact that this is linked to configuration name is a bad idea in first place.

Pl

[2019-01-31 17:05] Therzok commented on #5331
Closing this.

[2019-01-31 17:05] #5331 closed

[2019-01-31 17:09] #5134 closed

[2019-02-01 01:54] dalexsoto commented on #5524
Hello @MihaMarkic, thank you for your feedback!

I have tried to reproduce your issue using latest stable on VS4Mac and I have not seen the same error as you [1], I duplicated the Release configuration successfully without any manual edits and the dsym is correctly generated on both configurations.

I would need the build logs and your version information to continue to assisting you.

To get full

[2019-02-01 02:13] dalexsoto commented on #5512
@spouliot I can reproduce @GouriKumari findings, this does not happen if you try to build `dont link` for the iPhone 5 device using d15-9 + **Xcode101.app**.

BUT if you try to build `dont link` for the iPhone 5 using d15-9 + **Xcode102-beta1.app** you get the reported behavior as result (a bunch of `error GDC116A36: can not encode offset 'xxxxxx' in resulting scattered relocation.`).

[2019-02-01 06:30] #5510 closed, assigned to nobody

[2019-02-01 06:45] rolfbjarne commented on #5512
This is probably a good thing: my guess is that Xcode10.1 silently created broken native code that would just crash randomly at runtime.

[2019-02-01 11:48] cosminstirbu opened #5527 "ClientWebSocket doesn't respect proxy settings"
### Steps to Reproduce

1. Configure a proxy on your macOS (such as Charles)
2. Run the following code in the iOS Simulator

[code]

3. Notice that the web socket is not being recorded by Charles.

### Expected Behavior

The `ClientWebSocket` should use the `Options.Proxy` property. The requests aren't recorded by Charles, and even if I hardcode a dummy host and a dummy port, no exception is throw

[2019-02-01 15:24] spouliot commented on #5512
it’s the same, old issue - and there’s nothing we can do
there’s a code size limit where this situation happens - and it’s not hard to hit without the linker
every new release grows Xamarin.iOS.dll so we keep _eating_ the margin
and `clang` itself might produce larger/different code - again out of our control

[2019-02-01 21:54] spouliot opened #5537 "[rfc] Deduplicating identical files in our packages"
Xamarin.iOS [1] supports 3 platforms (iOS, tvOS and watchOS) and two profiles (classic and unified) for iOS. This means several files (e.g. assemblies and debug symbols) are identical across them (whenever there's nothing platform specific in the files).

In theory only one of each is needed, the rest could be symlinks - saving disk space and reducing download sizes.

From master
[code]

now findi

[2019-02-02 05:08] OmegaPrimeZ3 commented on #4380
I am seeing this as well on certain Xamarin Forms Android projects but not all, the interesting thing is that they are using the same code for this piece of logic

[2019-02-03 13:52] MihaMarkic commented on #5524
@dalexsoto I think I've isolated the problem. Seems like it's not tied to configuration name, but to this steps:
1. Create an iOS app from a template
2. Check IPA and release options (Link SDKs Only, ARM64, min iOS 11)
3. Rebuild Solution - dSYM is generated
4. Do a **Build solution** - dSYM is 9KB

IOW A "Build solution" fails to generate dSYM if there is an existing build. Full build generates d

[2019-02-03 14:00] MihaMarkic commented on #5524
I'm also not entirely sure what triggers wrong build at 4.
100% repro is to uncheck and check "Strip native debugging symbols" after step 3. So it triggers incremental builld at 4.

[2019-02-04 04:45] dalexsoto commented on #5524
No, I am not seeing this from Visual Studio for Mac, I will let someone from the Visual Studio on Windows chime in to see if this is a Windows only issue. /cc @emaf

[2019-02-04 07:51] thetechrasta commented on #4864
iPhone X + Apple Watch 4th Gen trying to deploy on Mac:

IncorrectArchitecture: Failed to find matching arch for 32-bit Mach-O input file /private/var/installd/Library/Caches/com.apple.mobile.installd.staging/temp.UEFgYz/extracted/TestAppWatch.app/PlugIns/TestAppWatchExtension.appex/TestAppWatchExtension
error MT1006: Could not install the application '/Users/Shaunn/Projects/TestApp/TestApp/bin/iP

[2019-02-04 08:57] rolfbjarne commented on #4864
@thetechrasta this is the workaround: https://github.com/xamarin/xamarin-macios/issues/4864#issuecomment-424448958. If that doesn't work, please attach a complete diagnostic build log.

[2019-02-04 12:58] mpsarannyaCharu opened #5542 "Realm Database Binding Error"
### Steps to Reproduce

1. Add Freshchat dll in Xamarin.ios project
2. Add realm references (realm,realm.database,realm.databinding)
3. getting native library binding error.

### Expected Behavior

### Actual Behavior

### Environment

[code]

### Build Logs
Target _BeforeCoreCompileInterfaceDefinitions:
  Skipping target "_BeforeCoreCompileInterfaceDefinitions" because all output files are up-to-

[2019-02-04 13:58] wickedw commented on #3830
Is there any news on a workaround reaching stable for this?

[2019-02-04 14:23] rolfbjarne commented on #3830
@wickedw

It's been in the stable channel for a while now. If you still see this error, please file a new issue and we'll have a look.

[2019-02-04 17:46] PureWeen opened #5545 "Latest Dev16 P3 can't compile Xamarin Forms Platform iOS project"
### Steps to Reproduce
On the latest internal Dev16

1.  git clone https://github.com/xamarin/Xamarin.Forms.git
2. open Xamarin.Forms.sln
3. try to build platforms\Xamarin.Forms.Platform.iOS

If I open the same SLN on dev15 it compiles without any issues.
I've tested this on two different systems with dev16 P3 and they both fail the same way

I also tested this on the below version of DEV 16 P2 in

[2019-02-04 18:19] dalexsoto commented on #5545
According to https://xamarinhq.slack.com/archives/C03CCJNR7/p1549304045894400 this has been fixed by https://github.com/xamarin/xamarin-macios/commit/bc9c674

[2019-02-04 18:19] #5545 closed

[2019-02-05 11:16] mrwcjoughin commented on #4741
dpjustdoit this did not work if you are running macOS Mojave. Surely Microsoft has to support the latest macOS for all Visual Studio development ???

[2019-02-05 11:38] ivanicin commented on #4741
@mrwcjoughin

If you've read the bug, the problem is that Apple doesn't support iOS 9.3 simulator on macOS Mojave. That's it, the bug is closed and nothing should be posted here as this is very reasonable explanation.

If you have some other problem you can post it somewhere else as said above. I get spammed in this thread constantly by someone asking some irrelevant things though the question I h

[2019-02-05 11:40] tailsu commented on #4972
Thanks for the support. The problem was indeed caused by incorrectly DllImport-ed functions.

We had used Sharpie to auto-generate the bindings for the framework. The problem was caused first when Sharpie generated bindings to inline functions, and second to functions with C++ name mangling.

In the first case, we simply deleted the DllImport-ed functions and in the second case we had to explicitl

[2019-02-05 14:44] bvanrijn opened #5552 "Error MM0000: Unexpected error - Please file a bug report at http://bugzilla.xamarin.com (MM0000) (HelloMac)"
### Steps to Reproduce

1. Attempt to follow https://docs.microsoft.com/en-us/xamarin/mac/get-started/hello-mac
2. Try to build the resulting project.

### Expected Behavior

The app builds without any errors and then running the app works as well.

### Actual Behavior

Building the app fails with:

[code]

I found https://bugzilla.xamarin.com/show_bug.cgi?id=44697, which says:

### Environment

[

[2019-02-05 15:15] bvanrijn commented on #5552
I'm not entirely sure where I read this, but it seems that the culprit was the display name of the app. I had changed it to "Hello, Mac" (mind the comma) instead of "Hello_Mac" as is used in the tutorial.

Following the tutorial in record time, making sure not to change the display name, everything works!

I still think this error message should be updated.

[2019-02-05 18:20] dalexsoto opened #5553 "libmonosgen-2.0.dylib macosx-version-min reports 10.13"
# Problem

We have a [report](https://xamarinhq.slack.com/archives/C03CCJHCF/p1549382222369900) of a mismatch of `macosx-version-min` somewhere since in `d16-0` it is reported as `10.13`. I have tested all of our active release branches and verified this with the following command

[code]

### Results

The following results are from the last built pkg from each listed branch, except for the last o

[2019-02-05 21:01] VincentDondain commented on #5510
Mmh... @rolfbjarne @chamons we need to think about how **we** could catch those issues.

We have a task in our "How to survive a new Xcode document" that says: "Confirm we can deploy the simulator and devices;" and since I did the bumps a couple of times I know I run intro / monotouch-tests locally but I'm not running on beta macOS so I wouldn't hit that locally...

I believe our bots are also **n

[2019-02-06 01:02] dalexsoto commented on #5552
Hello @bvanrijn!

Thank you so much for your report! You are completely right, we should do a better job when providing invalid assembly names into our tooling, I will make sure to mark this enhancement request as such.

Again, thank you for your report!

<img width="964" alt="screen shot 2019-02-05 at 7 01 26 pm" src="https://user-images.githubusercontent.com/204671/52314489-e40b2880-2980-11e9-96

[2019-02-06 13:18] mandel-macaque commented on #5333
@jonathanantoine I have two PRs that will fix what you are experiencing, once we get a +1 from QA I'll merge and will close the issue.

Really appreciate the help and the PR you proposed, we wanted to make a more complete fix that will always ensure that the state machine from the Task worked in a deterministic manner. But nevertheless I would have never found the issue without your help, thanks a

[2019-02-06 13:58] jonathanantoine commented on #5333
Thanks a lot @mandel-macaque for the follow up. I didn't find the time to fix my PR (and I am sorry for this).

Regards.

[2019-02-06 15:26] mykyta-bondarenko-gl opened #5564 "[xcode10.2] CALayerInvalidGeometry Reason: CALayer position contains NaN"
I've found that [DocumentWatermark](https://github.com/xamarin/ios-samples/tree/5a315ce8cb13d6fb058237b0978d39595e4f3f0a/ios11/PDFDocumentWatermark) and [PDFAnnotationWidgetsAdvanced](https://github.com/xamarin/ios-samples/tree/5a315ce8cb13d6fb058237b0978d39595e4f3f0a/ios11/PDFAnnotationWidgetsAdvanced) fails on launch with the xcode10.2 build

### Steps to Reproduce

1. Run one of the projects on

[2019-02-06 16:00] #5511 closed

[2019-02-06 16:24] mandel-macaque commented on #5291
FYI This is in progress

[2019-02-06 16:43] GouriKumari commented on #5291
This issue is no longer reproducible with XI 12.7.0.117.pkg. [Tests](https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=250019&_a=release-environment-extension&environmentId=1078269&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab) are generated correctly and executed with master build.
Issue is reproducibe with  : XI 12.7.0.108.pkg
Not reproducible: XI 12.7

[2019-02-06 16:43] #5291 closed

[2019-02-06 17:16] dalexsoto commented on #5564
It is very likely that Apple added some more exhaustive API checks in iOS 12.2+ so it is likely that we need to revisit said samples for example DocumentWatermark fails with

[code]

Not a Xamarin.iOS/Mac SDK issue per se at first glance but definitely we need to revisit both samples.

[2019-02-06 19:03] emaf commented on #5524
Hey, we were able to reproduce this issue on Visual Studio and we're working to fix it.

Thanks for reporting this problem @MihaMarkic!

[2019-02-06 20:58] MihaMarkic commented on #5524
Awesome guys.

[2019-02-07 11:54] mandel-macaque commented on #5333
Closing after https://github.com/xamarin/xamarin-macios/pull/5463 was merged.

[2019-02-07 11:54] #5333 closed

[2019-02-07 12:04] #5553 closed

[2019-02-07 16:36] dalexsoto commented on #5564
@mykyta-bondarenko-gl requested for help on this, I'll have a look

[2019-02-08 14:39] chamons commented on #5480
The change itself is trivial but the testing implications are frightening. How many interconnected parts (0? many?) depend on the TFI to be set as it is for Xamarin.Mac full? We could run our full auto test suite and a number of samples and yet break the world upon release.

So my current plan is to make this change like this:

- Create a new MigrateToNewXMTFI property that that defaults to false

[2019-02-08 20:29] #5381 closed

[2019-02-09 09:28] lassana opened #5579 "MSBuild PropertyListEditor task doesn't work"
### Steps to Reproduce

1. Create a new Xamarin.iOS project
2. Open Info.plist and add the following lines:

[code]

3. Open csproj and add the following lines:

[code]

4. Try to build the app

### Expected Behavior

App is built and Info.plist property is updated accordingly to `PropertyListEditor` parameters.

### Actual Behavior

Build fails with `error MT7067: Error saving 'Info.plist': Path

[2019-02-10 23:09] #5363 closed

[2019-02-11 14:11] sergeylutski commented on #5388
Hi guys.

Is there any information and details on when this fix will be available as an update? My iOS apps are now regularly crashing because of it. Or maybe I can add it manually somehow?

[2019-02-11 17:01] rolfbjarne commented on #5388
This should already be fixed in the latest preview. Could you attach the version information from Visual Studio (for Mac)'s About menu?

[2019-02-11 17:21] sergeylutski commented on #5388
Sure, here it is:

`=== Visual Studio Community 2019 Preview for Mac ===

Version 8.0 Preview (8.0 build 1805)
Installation UUID: 9944ee47-46ce-4392-869c-5e0890e2831c
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.6.0.2 (d16-0 / 040682909)

	Package version: 518000248

=== Mono Framework MDK ===

Runtime:
	Mono 5.18.0.248 (2018-08/a4956c837e1) (64-bit)
	Package version: 518000248

=== NuGet ===

Ver

[2019-02-11 17:26] sergeylutski commented on #5388
And on the above configuration I'm getting such an exception:
[code]

[2019-02-11 19:02] #5579 closed

[2019-02-11 19:04] jstedfast commented on #5579
This just needs xamarin-macios to bump Xamarin.MacDev

[2019-02-11 19:08] jstedfast commented on #5579
As a work-around, what you can do is do:

[code]

Essentially, the problem is due to the save logic making sure that the parent directory of the path provided exists (which in your case is `string.Empty`).

[2019-02-11 19:10] dalexsoto commented on #5579
Hello @lassana

Thank you for your report, we have identified the issue and will be out in an upcoming release. In the meantime you can use this as a workaround.

Hope this helps and thank you again!

[code]

[2019-02-11 22:56] spouliot opened #5587 "source path mangler reports warnings when creating packages"
### Steps to Reproduce

1. build xamarin-macios from sources
2. build package

### Expected Behavior

No warnings

### Actual Behavior

[code]

### Environment

[code]

c.c. @mandel-macaque

[2019-02-11 23:12] PureWeen opened #5588 "Tooling is not removing a dll that is no longer referenced in code unless you rebuild"
### Steps to Reproduce

1.  download the project
2. deploy ios app to device (I was deploying to a simulator)
3. comment out the following code in the AppDelegate
[code]
4. deploy ios app to device and you will notice that in the *AppDelegate.cs* file it's able to call *Assembly.Load("ExtraLibrary");* successfully
5. rebuild ios app
6. run ios app and now it will crash when trying to call *Assembl

[2019-02-11 23:50] spouliot commented on #5588
sounds like the cache is not updated when an assembly is no longer needed (so an old copy might still be present and copied to the .app)
c.c. @rolfbjarne

[2019-02-12 00:13] PureWeen opened #5589 "Referencing an assembly from linker.xml that isn't referenced in code will cause the dll to copy to app but not load into the domain"
https://xamarinhq.slack.com/archives/C03CCJNR7/p1549929154073500

### Steps to Reproduce

1. Open AppDelegate.cs file and breakpoint this line *Assembly.Load("ExtraLibrary");*
2.  Notice that it hits this line because the *ExtraLibrary.dll* isn't found
3. now if you continue stepping forward the *Assembly.Load("ExtraLibrary");* call will succeed and load the dll

The difference with this project v

[2019-02-12 06:14] rolfbjarne commented on #5257
This is a duplicate of https://github.com/mono/mono/issues/12831.

[2019-02-12 06:14] #5257 closed

[2019-02-12 06:43] rolfbjarne commented on #5588
Yes, this is how we currently behave, we don't keep track of assemblies that aren't included in the build anymore, so we don't know whether they should be deleted or not from the .app during incremental builds.

[2019-02-12 07:22] rolfbjarne commented on #5388
OK, so it seems the fix hasn't been released yet, but it shouldn't be long now.

If you can't wait, you can download the latest package [here](https://github.com/xamarin/xamarin-macios/commits/d16-0) - just click on the green checkmark next to the latest commit and download [PKG-Xamarin.iOS](
https://bosstoragemirror.blob.core.windows.net/wrench/jenkins/d16-0/7397aab9ca5791ed437dbf8fd364c0deb37b76

[2019-02-12 10:30] sergeylutski commented on #5388
Great thanks @rolfbjarne. It's a great solution for me now, saved a lot of time.

[2019-02-12 11:38] arvindrajachourasiya opened #5595 "'InstanceID' does not contain definition for 'SetApnsToken' after updating Firebase packages"
In my Xamarin.iOS project I started getting errors after updating Firebase nuget packages. Before updating packages all code was working fine.

This is my code

[code]
I have installed these Firebase packages

_Xamarin.Firebase.Analytics
Xamarin.Firebase.CloudeMessaging
Xamarin.Firebase.Core
Xamarin.Firebase.InstanceID_

How can I solve this issue?

### Steps to Reproduce

1.
2.
3.

### Expected B

[2019-02-12 13:25] mandel-macaque commented on #5587
On it ASAP.

[2019-02-12 15:12] spouliot commented on #5589
I believe there's some misunderstanding.

No, it's because it's not loaded :)
The question is why should the assembly be loaded into the domain ?

IOW write the same code in a console app, copy the `ExtraLibrary.dll` inside the same directory, will it load into the app domain ?

Now if you load the assembly then yes, it will be part of the app domain assemblies.

Packaging and runtime are two diff

[2019-02-12 15:12] #5589 closed

[2019-02-12 15:25] dalexsoto commented on #5595
Hello, thank you for your report,

This repository is for the Xamarin iOS and Mac SDKs, Firebase is a third party component and you might get a better answer to your question here https://github.com/xamarin/GoogleApisForiOSComponents, I'll move your issue to said repository.

[2019-02-12 15:26] dalexsoto commented on #5595
This issue was moved to xamarin/GoogleApisForiOSComponents#238

[2019-02-12 15:26] #5595 closed

[2019-02-12 15:29] spouliot commented on #5589
I double checked and your sample works (creating the instance) on device, so the code is AOT'ed as expected.

If XF wants to work that way (which differs from traditional .net) then you can add code to load any `*.dll` inside the `.app` - just loop an `Assembly.Load` over all `.dll` (most of them are already loaded so oit _should_ be cheap or you can ignore the one already loaded yourself)

Howeve

[2019-02-12 16:22] spouliot commented on #5588
I think you meant *Build* (or *Run* / *Debug*) but not **Rebuild** since

After a rebuild the file is missing. The sample still crash but with a `FileNotFoundException` (which is fine / expected) instead of

[code]

It's an old _bug_ and was not an issue since `Assembly.Load` is not something commonly used (not really needed) with full AOT builds. Also final/submitted builds are generally done fro

[2019-02-12 17:34] PureWeen commented on #5589
So what I'm trying to do here is understand the consistent story between ios and android plus it's interesting you brought up console apps.

The part where I still see iOS differ (and maybe this is just how iOS has to be) is if you reference a type from the ExtraLibrary literally anywhere outside the ExtraLibrary assembly then iOS loads it into the app domain.

So in the iOS project (or even the c

[2019-02-12 22:20] filipnavara opened #5601 "NSScrollView.DocumentView binding"
According to [the Apple documentation](https://developer.apple.com/documentation/appkit/nsscrollview/1403485-documentview) a `null` value is allowed for the `NSScrollView.DocumentView` property. The Xamarin binding currently doesn't allow that. Similarly, the [Objective C documentation]( https://developer.apple.com/documentation/appkit/nsscrollview/1403485-documentview?language=objc) for the same

[2019-02-13 04:18] dalexsoto commented on #5601
@filipnavara Thank you for your report!

I could not find in the apple doc about `nil` being allowed but by searching some code I was able to verify that is used that way in the wild.

[2019-02-13 09:13] filipnavara commented on #5601
Thanks. I assumed that the documentation lists the return type with "?" if a `null` value is allowed.

[2019-02-13 12:36] b099l3 opened #5603 "NWPathMonitor missing CurrentPath property"
### Steps to Reproduce

1. Create a new `NWPathMonitor` as a local variable e.g.
[code]
2. Look for the [currentPath property ](https://developer.apple.com/documentation/network/nwpathmonitor?changes=l_3)
3. Its not there 😟

### Expected Behavior
The currentPath property is there.

### Actual Behavior
It is not there.

### Environment

[code]

### Build Logs

None.

### Example Project (If Possibl

[2019-02-13 13:12] mykyta-bondarenko-gl opened #5604 "[arkit] 'ARConfiguration.IsSupported' vs 'ARWorldTrackingConfiguration.IsSupported'"
### Steps to Reproduce

1. Download the attached samples (xamarin + swift)
2. Open `AppDelegate.cs` files
3. Run both on a simulator

### Expected Behavior
The output is the same for both

### Actual Behavior
The output is different
- Xamarin:
[code]
- Swift:
[code]

### Environment

1. VSfM
https://gist.github.com/mykyta-bondarenko-gl/fd511c06cb5307d1da41a95341ca9832

### Build Logs

1. Build Out

[2019-02-13 13:33] wickedw commented on #3830
Thanks @rolfbarne I just never knew it was there, I will clear my workarounds and report back if any issues.

[2019-02-13 13:39] spouliot commented on #5604
Looks like it behave like `SupportedVideoFormats` (in PR#5348), i.e. in .NET both the static calls are, by default, identical.

[2019-02-13 13:39] spouliot commented on #5604
https://github.com/xamarin/xamarin-macios/pull/5348

[2019-02-13 13:52] dalexsoto commented on #5601
@filipnavara hahaha I did not peek the swift documentation 🤦‍♂️ thanks for the pointer #0x8badf00d

[2019-02-13 14:17] #5601 closed

[2019-02-13 14:32] dalexsoto commented on #5604
We have been hit by this many times, we really need to bring generator support for this... manual inlining is not optimal by any means :/

[2019-02-13 14:48] dalexsoto commented on #5603
Hello, thank you for your feedback!

You are right, this property is missing because it is swift "syntax sugar"  see

https://github.com/apple/swift/blob/baf2e4e6f6d8b5f18db33debef9424b130dcf97e/stdlib/public/Darwin/Network/NWPath.swift#L236-L237

And it is used here

https://github.com/apple/swift/blob/baf2e4e6f6d8b5f18db33debef9424b130dcf97e/stdlib/public/Darwin/Network/NWPath.swift#L279-L301

I

[2019-02-13 15:28] b099l3 commented on #5603
Is it something I could try to fix? I'll give it a go this week and see if I can solve it.

[2019-02-13 19:18] spouliot commented on #5471
That was fixed (as in ignored in tests) in both `xcode10.2` and `master` branches -
https://github.com/xamarin/xamarin-macios/pull/5573

[2019-02-13 19:18] #5471 closed

[2019-02-13 20:02] dalexsoto commented on #5603
@b099l3 definitely! we always welcome contributions! This is where it needs to happen https://github.com/xamarin/xamarin-macios/blob/master/src/Network/NWPathMonitor.cs feel free to ping us on gitter https://gitter.im/xamarin/xamarin-macios if you run into any issues!

[2019-02-14 01:04] mindsurfer commented on #4380
I have encountered this exact same error as posted by WebSoulTwo above but it only happens when I try step through the code. If I put my breakpoint after the call, then it works and I get my result successfully. I'm using latest Xamarin.Forms and this happens on my Android device running version 9, I don't have an iOS to test on.

[2019-02-14 08:29] ThumbGen opened #5608 "Unable to claim server port 37265: Error binding to address: Address already in use"
### Steps to Reproduce

1. Configure a simple Xamarin UI Test and run it on a physical device (iPhone SE in my case, connected to a MacMini)
2. I get an "Unable to claim server port 37265" exception
3. If the test is executed inside Visual Studio for Mac then it works perfectly

I already tried to killall iproxy before running the test but no process is found. Also running lsof -wni tcp:37265 indi

[2019-02-14 12:39] Dabbel opened #5611 "Release build crashes at start"
Maybe not direct a issue but i can't figure out why the app crashes in release build and in debug build everything works fine.

### Environment

Will update environment infos tomorrow when i'm back in office

[code]

### Build Logs

This is the only log i found. App id is "de.greengate.gstouch"

[release_crash.txt](https://github.com/xamarin/xamarin-macios/files/2864987/release_crash.txt)

[2019-02-14 14:41] dalexsoto commented on #5608
Even though you might only be hitting this issue locally, we research & triage Xamarin.UITest issues through the App Center support channels because there’s a lot of crossover between the testing platform and testing frameworks.

You can reach out to App Center support by logging into https://appcenter.ms/apps and clicking the chat icon in the lower right corner of the screen.
Here's a screenshot

[2019-02-14 14:41] #5608 closed

[2019-02-14 18:01] rolfbjarne opened #5612 "[2018-10] dontlink tvOS crash with incremental builds or mono as a framework"
### Steps to Reproduce

1. Launch xharness, and run any of the `dont link/tvOS - device/AssemblyBuildTarget: *` tests.

### Expected Behavior

Successful test execution.

### Actual Behavior

[code]

Complete crash log: https://gist.github.com/rolfbjarne/53dd7e1b8dff1030d58035b9c17f3d75

The same tests work fine on iOS, so it's probably an if or switch somewhere that must be updated to include tvO

[2019-02-14 18:08] rolfbjarne opened #5613 "[2018-10] mono-native-[compat|unified] fails on tvOS device: [FAIL] Introspection.CheckSymbols : dlsym() found mono_native_initialize()"
### Steps to Reproduce

1. Launch xharness, and run the `mono-native-compat/tvOS - device/Debug` test.

### Expected Behavior

Test passes.

### Actual Behavior

[code]

Complete test log: https://gist.github.com/rolfbjarne/193337daeda0bd1e452774dce2ba72b4

### Environment

PR #4904.

### Build Logs

https://gist.github.com/rolfbjarne/5708f34438de8f6fadf5a05b4e29b000

[2019-02-14 18:15] VincentDondain commented on #4417
This is making the QA [XM AOT tests](https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=257177&environmentId=1117116&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab&_a=release-environment-extension) fail.

See crash report: https://gist.github.com/VincentDondain/2fb0b74548a390a25a33b81ad2fa172e

[2019-02-14 19:44] dalexsoto commented on #5611
Hello @Dabbel

Unfortunately I don't see anything obvious in the provided log, do you happen to have a crash report from the device you are testing? Maybe that can give us more hints of what is going on

[2019-02-14 19:50] Dabbel commented on #5611
I don't really know how to get more logs/reports from the device. That was the output from Xcode from the device. I didn't see any other logs/reports for the device.

If it helps i could provide the IPA file signed with an apple enterprise developer account.

[2019-02-14 20:05] dalexsoto commented on #5611
Hello @Dabbel!

Have a look at the following link https://jmillerdev.net/symbolicating-ios-crash-files-xamarin-ios/ should help you on how to get a crash report 👍

[2019-02-15 10:05] Sasikumar3595 opened #5615 "UIPanGestureRecognizer not working when accessibility enabled"
### Steps to Reproduce

1. Enable accessibility on iPhone
2. Run the sample, which contains UIPanGestureRecognizer
3. UIPanGestureRecognizer does not listen the swiping on sample view

### Example Project

[PanGesture-iOS.zip](https://github.com/xamarin/xamarin-macios/files/2868817/PanGesture-iOS.zip)

### Expected Behavior

- UIPanGestureRecognizer action get triggered

### Actual Behavior

- UIP

[2019-02-15 10:25] Dabbel commented on #5611
I found the problem.

"Linker Behavior" and EntityFramework.Core doesn't work well together.

If "Linker Behavior" is set to "Link Framework SDKs Only" type initializer for "Microsoft.EntityFrameworkCore.Query.ResultOperators.Internal.TrackingExpressionNode" fails.

Setting "Linker Behavior" to "Don't Link" everything works fine.
[linker_error.txt](https://github.com/xamarin/xamarin-macios/files/2

[2019-02-15 14:13] akoeplinger commented on #5612
Fixed in mono-2018-10