[2016-04-26 16:09] rolfbjarne opened #1 "`make install` does not work unless `make all` is already complete"
Test case:

[code]

This also happens more commonly like this:

[code]

[2017-12-04 00:45] #1 closed

[2017-12-06 19:53] pooran opened #3087 "Call Directory Extension"
We followed steps provided https://developer.xamarin.com/guides/ios/platform_features/callkit/#Implementing-a-Call-Directory-Extension to create a call directory extension. We have shared a file group, that has less than 1000 phone numbers written from parent iOS app, which the app will read and load it to its directory.

It deploys along with iOS project. But when we try enabling the extension fr

[2017-12-06 21:01] VincentDondain commented on #3087
Hi,

We now added a template for new GitHub issues but we need a bit more information in order to help.

Please include your full build logs, crash reports (if any), test case (to reproduce) and all your version information.

The test case is especially useful in this case this I couldn't reproduce the issue you're experience with "potentially" missing entitlement when creating a new CallKit exten

[2017-12-07 05:53] pooran commented on #3087
Got it .. will do

[2017-12-08 19:27] espresso3389 opened #3089 "CGPath.Copy releases the original handle"
[CGPath.Copy](https://github.com/xamarin/xamarin-macios/blob/master/src/CoreGraphics/CGPath.cs#L601) is supposed to create a mutable copy of the original CGPath.

The current implementation calls [CGPath.MakeMutable](https://github.com/xamarin/xamarin-macios/blob/master/src/CoreGraphics/CGPath.cs#L560) to create such a copy, and the function also release the CGPath handle passed to it.

I think th

[2017-12-12 12:46] mandel-macaque commented on #3087
@pooran  please provide the logs so that we can follow up with you, thanks in advance!

[2017-12-12 12:51] mandel-macaque commented on #3089
@espresso3389 I think we need to look at apple documentation to see if the handle is released or not after the mutable copy so that we match their behaviour. Let me dig for it and I'll get back to you.

PS: If you have a objc sample with similar code that does work and has the unexpected behaviour in xamarin I would greatly appreciate it to be added in the bug report.

[2017-12-13 14:45] espresso3389 commented on #3089
I think it's just a Xamarin.iOS issue and not related to any iOS specifics.
Imagine that one write code like the following one:

[code]

The code does not seem harmful (at least we don't except crash with it).
In my case, the code above crashes because of double-release of the handle owned by the original CGPath object.

[CGPath.Dispose](https://github.com/xamarin/xamarin-macios/blob/master/src/Co

[2017-12-14 13:10] mandel-macaque commented on #3089
Makes perfect sense (I did expect something like the case you posted). Will get you a fix asap.

[2017-12-15 15:13] #3089 closed

[2017-12-15 20:15] MarianXXL opened #3107 "The localization doesn't work"
### Steps to Reproduce

1. Use iOS 11.2 and the Visual Studio 15.5.2
2. Setup the iPhone to German language (real phone or the emulator)

### Expected Behavior
The CultureInfo.CurrentUICulture and Thread.CurrentThread.CurrentCulture should be like "de-DE"

### Actual Behavior
The CultureInfo.CurrentUICulture and Thread.CurrentThread.CurrentCulture is always "en-US"

The localization stoped to work

[2017-12-16 02:36] nfritsche opened #3109 "BreakPoints in iOS Xamarin Studio on Mac do not stop Debugger"
### Steps to Reproduce

1. Debug an iOS project
2. Set a breakpoint in the iOS project
3. The breakpoint will not stop the debugger

### Expected Behavior
The breakpoints should pause the debugger in iOS project. The breakpoints work fine in PCl and Android projects.

### Actual Behavior
The breakpoints that I set do not, although if I write them in the code they do work ( ex. 'Debugger.breakpoint

[2017-12-18 21:32] spouliot commented on #3107
iOS 11 changed how it reports the current locale, which makes it default to `en-US` more often that previous (iOS 10 and earlier) versions.

There's a workaround documented in https://bugzilla.xamarin.com/show_bug.cgi?id=59596#c19

[2017-12-18 21:32] #3107 closed

[2017-12-19 19:58] rmarinho opened #3115 ""None" Linking Causes Xamarin.Forms to Break iOS Extension Google Analytics Librarie"
Initially open by @kspearrin at @xamarin/xamarin-forms

### Description

I had originally opened this issue in the [GoogleApisForiOSComponents](https://github.com/xamarin/GoogleApisForiOSComponents/issues/116#event-1394496748) repo since it did not seem relevant to XF, but upon investigation I was directed by @SotoiGhost to move it here.

Reference original issue for full history here: https://git

[2017-12-20 14:50] gabrieligbastos opened #3117 "MTOUCH : error MT0000: Unexpected error - System.IO.IOException: Sharing violation on path"
### Steps to Reproduce

1. Created a Xamarin.Droid project and added Mvvmcross.StarterPack
2. Added Com.Onesignal package

### Expected Behavior
To build

### Actual Behavior
Failed to build, only build after rebuild

### Environment

[code]

### Build Logs

### Example Project (If Possible)

[code]

[2017-12-22 01:01] pmace opened #3128 "VideoAtPathIsIsCompatibleWithSavedPhotosAlbum crashes IOS 11"
### Steps to Reproduce

1.Set permissions to access Photos Album
 In IOS 11 attempt to save file from App Library to Photos Album
2.
3.

### Expected Behavior: save file from Library to Photos works in IOS10 and under

### Actual Behavior crashes in IOS 11

### Environment IOS 11+

NSUrl[] documentsDirectory = NSFileManager.DefaultManager.GetUrls(NSSearchPathDirectory.AllLibrariesDirectory, NSSear

[2017-12-22 01:17] #3128 closed

[2017-12-22 01:17] pmace commented on #3128
Changes to Photo Permissions
There was a single key, NSPhotoLibraryUsageDescription, needed in the info.plist in previous versions of iOS for accessing the user’s Photo Library. iOS 11 added a new key to separate Write-only access from Read access. The new NSPhotoLibraryAddUsageDescription key is required if your app needs to save images to the Photo Library while the old NSPhotoLibraryUsageDescri

[2017-12-22 20:50] chamons opened #3135 "Create XM version of "link sdk", "link all" and "dont link" tests"
This PR does not have an auto test https://github.com/xamarin/xamarin-macios/pull/3134

and in general we don't have a grand spot for one.

We should do the infrastructure work to create one, possibly porting any relevant iOS tests as we go.

[2017-12-22 23:55] timrisi commented on #3109
Can you provide more context for the issue?  Does it happen in all iOS projects?  Does it matter where the breakpoint is set (does it work in some places but not others, or doesn't work anywhere)?  I'm testing on the versions as in your description and the debugger stops correctly for me on breakpoints in VSfM.

If it does not happen all the time or for all projects, an example project where it is

[2017-12-23 00:54] timrisi commented on #3117
Can you provide a simple test project that reproduces the issue?  I was able to build a project just fine first try after following the steps outlined.

[2017-12-24 07:18] ALander26 opened #3137 "WKWebView MediaTypesRequiringUserActionForPlayback"
### Steps to Reproduce

1. Setup application to load HTML5 audio page in WKWebView
2. WKWebView MediaTypesRequiringUserActionForPlayback configuration set for 'None'
3. Run app to see if audio autostarts

One should note that the same code for iOS Swift works without a problem.

### Expected Behavior
The audio should play on page load.
### Actual Behavior
The audio does not play and requires user

[2017-12-25 05:51] HobDev opened #3138 "Unable to Install System.Threading.Overlapped"
### Steps to Reproduce

1. Create new xamarin.forms project
2. Add Xamarin.Mac cocoa project
3. Install SerialPortStreamCore nuget to it.

### Expected Behavior
The nuget should be added successfully to the project

### Actual Behavior
The nuget adds itself successfully to netstandard shared project. But fails to add to Xamarin.Mac. I need this package for Serial port programming.

### Environment

[2017-12-26 22:45] emaf opened #3139 "Unable to launch app on device connected via network"
This issue does not always happen, I was able to run apps on devices connected via network before.
While I wasn't able to run apps on device wirelessly, it did work using USB. @spouliot asked me to try running an app from Xcode and it fixed the issue, after that, I was able to run apps on a device connected via network from VS.

This issue happened on both VS and VSfM.

### Steps to Reproduce
Try

[2017-12-27 09:43] gabrieligbastos commented on #3117
Yeah, for sure..
Here it is the [sample](https://gabrieligbastos@bitbucket.org/thrust/imow.git)

Now, also I'm getting an error, when trying to build/deploy to iPhone.
Here it is the error:

If i'm selecting 'Link All Assemblies' or 'Link SDK Assemblies Only', i get the followed error:

[code]

If, I select 'Don't Like Instead', the error is other:
`MTOUCH: Error MT3001: Could not AOT the assembly

[2017-12-28 09:36] sushihangover opened #3140 "VNDetectBarcodesRequest is incorrectly tagged as `[Abstract]` in binding"
### Steps to Reproduce

Try to instance a VNDetectBarcodesRequest class

Re: https://stackoverflow.com/a/48004821/4984832

### Expected Behavior

Compiles and creates Instance var.

### Actual Behavior

Abstract compile error due to  `[Abstract]` attribute : [vision.cs#L156](https://github.com/xamarin/xamarin-macios/blob/1690ccbc991ab59835f76a15ef510cd182259915/src/vision.cs#L156)

Apple Docs: [VN

[2018-01-01 20:03] JamesNK opened #3144 "[Newtonsoft.Json] Constructor on type System.ComponentModel.ReferenceConverter not found."
Copied from https://github.com/JamesNK/Newtonsoft.Json/issues/1472 @bunkerbilly

---

Xamarin
IOS 9.3

Hi,

When i run JsonConvert.DeserializeObject<[Customer Class]> i get the Exception

"Constructor on type 'System.ComponentModel.ReferenceConverter' not found."

Any ideas on what i can do to solve this?

[2018-01-02 14:01] mykyta-bondarenko-gl opened #3145 "Application crashes if `SceneKit.SCNAnimation.AnimationEvents` isn't empty"
### Steps to Reproduce

1. Download a ([project](https://github.com/mykyta-bondarenko-gl/private-samples/tree/fox-2-scenekit/ios11/Fox2))
2. Open a `Fox2.Shared/Character.cs` file and look at the line 260.
3. Uncomment this line.
4. Run the project
5. Tap to the `A` button on the rignt corner (iOS application) (a bounce animation)

### Expected Behavior
The application doesn't crash and the handle

[2018-01-02 14:02] mykyta-bondarenko-gl opened #3146 "`SceneKit.SCNPhysicsWorld.ConvexSweepTest` method doesn't work"
### Steps to Reproduce

1. Download a [project](https://github.com/mykyta-bondarenko-gl/private-samples/tree/fox-2-scenekit/ios11/Fox2)
2. Open a `Fox2.Shared/Character.cs` file and look at the line 260.
3. Uncomment this line.
4. Run the project
5. Tap to the `A` button on the rignt corner (iOS application) (a bounce animation)

### Expected Behavior
The application doesn't crash and the handler

[2018-01-02 17:48] therealjohn opened #3148 "EventKit RequestAccess crashes without any informational message as to why"
### Steps to Reproduce

1. Create an iOS Application
2. Add the following code to the default ViewController.ViewDidLoad method

[code]

3. Run the app on a simulator.

### Expected Behavior

The app should crash and the Output should contain an informational message:

[code]

### Actual Behavior

The app crashes and the Output only shows a native crash log, no informational message.

### Environm

[2018-01-03 01:37] spouliot commented on #3140
It sure does not match the current documentation. It's possible this changed in later betas (it was added with beta2) and since this is not part of objc metadata it's hard to detect the change. @dalexsoto can you double check ? thanks!

[2018-01-03 02:33] kspearrin commented on #3115
Any update on this issue? Seems it hasn't even been acknowledged yet.

[2018-01-03 07:03] SaravananWipro opened #3152 "Get iOS system log programmatically"
### Steps to Reproduce

I need to get iOS system logs programmatically when my application restarts after a crash. It can be accessed using iTunes / Xcode, but I want to do it programmatically in my next app restart or when app crash.

Please share your input if any.

### Expected Behavior

### Actual Behavior

### Environment

[code]

### Build Logs

### Example Project (If Possible)

[2018-01-03 17:00] nfritsche commented on #3109
I cannot recreate except in my own project. I created a new project from scratch and everything worked properly. I tried to sync up the debug configuration from the 'test' project with my project and still had no luck.
It does not matter where the breakpoint is, it will never hit in my iOS project. I will attach my application logs.
[log3.txt](https://github.com/xamarin/xamarin-macios/files/160105

[2018-01-03 22:37] VincentDondain commented on #3138
Hi, what is your Mac project's target framework?

I'm not sure *yet (I'm investigating)* what exactly in the `System.Threading.Overlapped` package is causing issues when installing on Xamarin.iOS or Xamarin.Mac Mobile but to work around the issue you can change the **Target Framework Version** to **4.6.2** *(Project Options > Build > General)*.

That will let you install `SerialPortStreamCore` (an

[2018-01-03 23:10] dalexsoto commented on #3140
Thanks @sushihangover!!

This was incorrectly added by me in 89071bc19dafc2e7c0d714709866de8d90f35441
I could not find why this was added by checking headers nor I can
recall why I added it so I'll just say it was a honest mistake :) Oops... 🙈

[2018-01-04 01:33] #3140 closed

[2018-01-04 01:53] danbridgellc opened #3156 "iOS Designer will not open storyboards"
### Steps to Reproduce

1. Create new iOS app (I used Page Based App)
2. Attempt to open Main.storyboard

### Expected Behavior

iOS Designer should open storyboard with ability to modify

### Actual Behavior

Connects to Mac and then the progress bar just continues to cycle

### Environment
I have also tried the stable release 15.5 with same results...
currently using preview - see below...

[cod

[2018-01-04 04:31] dalexsoto commented on #3144
Hello @JamesNK

I've been trying to reproduce this issue without luck, basically I came up with the following test case using the material on https://github.com/JamesNK/Newtonsoft.Json/issues/1472

[code]

Our guess was that the managed linker was removing a needed ctor since [mono has the class available](https://github.com/mono/mono/blob/master/mcs/class/referencesource/System/compmod/system/com

[2018-01-04 04:45] dalexsoto commented on #3145
@mykyta-bondarenko-gl Could you give me access to your repo?

[2018-01-04 04:46] dalexsoto commented on #3146
@mykyta-bondarenko-gl Could you give me access to your repo?

[2018-01-04 05:01] dalexsoto commented on #3148
I was able to replicate this bug, Xcode does show the nice error in the console logs when our managed app crashes

Unfortunately this isn't getting redirected into VS4Mac's Application Output so we need to find a way to catch it and redirect it to VS4Mac's Application Output window.

[2018-01-04 05:21] dalexsoto commented on #3152
Hello there is no built-in way for your app to get its crash reports so you need to use what Apple Provides or a 3rd party solution, you could roll your own thing using `PLCrashReporter` but to be honest I would suggest using https://www.hockeyapp.net or any other service you prefer instead, will save you lots of pain :)

Cheers!

[2018-01-04 05:21] #3152 closed

[2018-01-04 15:53] dalexsoto commented on #3156
@alanmcgovern FYI!

[2018-01-04 15:58] spouliot commented on #3135
Most of the *mmp regression tests* are for the linker, but they are based on classic so they need to be updated. Ideally they would be moved, as much as possible, into those new test projects.

[2018-01-04 16:06] migueldeicaza commented on #3144
Perhaps this code is being linked out?

[2018-01-04 16:08] migueldeicaza commented on #3145
I just added access to the repo.

[2018-01-04 16:08] migueldeicaza commented on #3146
Just granted access

[2018-01-04 16:09] dalexsoto commented on #3144
@migueldeicaza Yeah, that was our first impression and it is very likely that is the issue but even with Link All and Release config our small test case does not crash.

[2018-01-04 17:42] VincentDondain commented on #3138
Alright so I figured out exactly how `SerialPortStreamCore` and `System.Threading.Overlapped` are broken.

1. `System.Threading.Overlapped` is missing a `/lib/netstandard1.3` folder with the compatible dll. Therefore it makes sense it doesn't work with either Xamarin.iOS or Xamarin.Mac (Mobile) projects because it simply isn't compatible with netstandard 1.3 as is.

I sent an email to the owner of

[2018-01-04 17:42] #3138 closed

[2018-01-04 18:15] weshaggard commented on #3138
For issues with these packages (System.Threading.Overloapped, Microsoft.Win32.Registry) it is probably better to file issues at http://github.com/dotnet/corefx. I will say though that these aren't broken packages exactly they just don't currently work on the Xamarian platform.

[2018-01-04 19:16] VincentDondain commented on #3138
Yes, let me paste the clarification you gave me by email @weshaggard:

I did manage to install `System.Threading.Overloapped` and `SerialPortStreamCore` successfully on a Xamarin.Mac Mobile project via Package Reference (not package.config which is currently the default mode in Visual Studio for Mac).

You can add the package via PackageReference by adding the following to your csproj (right click

[2018-01-04 19:28] spouliot commented on #3140
@dalexsoto that's safe (and still within the window) to back port to `d15-6`
once done please update the milestone, thanks!

[2018-01-04 22:05] therealjohn commented on #3139
I also experience this with a new project.

## Steps to Reproduce

1. Create a new iOS application
2. Start Debugging for the iPhone configuration (my device was already recognized wirelessly)

## Actual Results

[code]

## Version Info

[code]

[2018-01-04 23:51] jamchengms opened #3159 "Privacy Strings Not Localized for Location Service"
### Steps to Reproduce

* I have attached a sample project for your convenience. Just unzip, open solution and run the iOS project on a simulator.

1. Create UI with a button to access the user's location. Create a CLLocationManager and call RequestWhenInUseAuthorization.
2. Add NSLocationAlwaysAndWhenInUseUsageDescription and NSLocationWhenInUseUsageDescription to Info.plist. Add localized value

[2018-01-05 02:46] dalexsoto commented on #3145
This is a dupe of issue #3146 once it gets fixed this issue will also be fixed.

[2018-01-05 02:47] #3145 closed

[2018-01-05 10:19] dparizek00 opened #3164 "Unable to pin UISplitView to superView (ignore safe areas)"
### Steps to Reproduce

1. Enable "Use safe areas" in storyboard
2. Add UISplitView to the storyboard
3. Add UITableView into splitView
4. Try to pin UITableView left and right to the superView (not to the safeAreas to follow iPhone X design pattern).

### Expected Behavior
Will be able to choose the SuperView or SafeArea in Xamarin interface builder while adding new constraints (same like in Xcod

[2018-01-05 13:28] VincentDondain commented on #3139
Hi, I cannot reproduce this (never experienced the issue) and your repro steps are not specific enough to help reproduce consistently.

@emaf @therealjohn for device issues like this (HE0032) please always include the native device logs. Either VSMac > View > Pads > Device Log or Xcode > Window > Device and Simulators (hit the small arrow at the bottom to reveal the console).

[2018-01-05 13:59] #3146 closed

[2018-01-05 15:04] therealjohn commented on #3159
Updated the localization string in the info.plist from `fr-CA` to `fr_CA`. That will allow it to work as expected. `fr_CA` is the correct localization code. Hope that helps!

[2018-01-05 15:04] #3159 closed

[2018-01-05 15:09] dalexsoto commented on #3159
You have a little typo if you turn `fr-CA` into `fr_CA ` it should work. All credit goes to @therealjohn 👍  for figuring this up.

[code]

[2018-01-05 16:07] danbridgellc commented on #3156
Sorry, can you clarify what Future milestone means?  I am dead in the water right now on development due to this issue...based on the logs, do you believe it is a bug or would a complete reinstall fix?  Are others having this issue?

[2018-01-05 16:14] bradumbaugh opened #3166 "SCNNode.AddAnimation requires a CAAnimation parameter instead of an ISCNAnimationProtocol"
### Steps to Reproduce

The `SCNAnimatable` protocol declares [`addAnimation(_:forKey:)`](https://developer.apple.com/documentation/scenekit/scnanimatable/1523386-addanimation), which takes an [`SCNAnimationProtocol`](https://developer.apple.com/documentation/scenekit/scnanimationprotocol) object (either `CAAnimation` or `SCNAnimation`) as its first parameter. [`SCNNode`](https://developer.apple.c

[2018-01-05 16:44] dalexsoto commented on #3156
@danbridgellc I understand, I already notified @alanmcgovern who is the one can give you a more accurate answer on the timeline/workarounds for this issue.

[2018-01-05 17:17] alanmcgovern commented on #3156
Hi,

We have an internal task to improve the discoverability of these kinds of errors, but the problem here is that the C# classes being instantiated from your project are throwing exceptions during rendering, and those exceptions are corrupting the iOS runtime and crashing our rendering process.

We should be falling back to 'safe mode' automatically which causes us to skip these controls and rep

[2018-01-05 17:32] danbridgellc commented on #3156
Thanks for the responses...I suspected as much regarding something in my code and I even fixed the DbxDigitalLablel already...the code in the Syncfusion chart component I can not address so I will have to contact them on that piece.  All this said - the odd thing here is that neither of these components are being used by the sample project I attached to this issue.  I started a clean project and t

[2018-01-05 17:34] therealjohn commented on #3164
@dparizek00 I'm not able to reproduce this. Could you create a screen recording of this and/or upload a sample project that has the constraints in it?

Thanks!

[2018-01-05 17:59] danbridgellc commented on #3156
I cleaned up the logs and then attempted to open an empty storyboard...at this point the only null ref error is the Syncfusion.SfChart component.  So since it seems to be hitting this when opening an empty storyboard, I assume this is due to it loading that component for the Toolbox possibly??  How do I control which components are loaded by the designer?  Is there anyway to have a reference to th

[2018-01-05 18:36] alanmcgovern commented on #3156
If you have a custom control ( https://developer.xamarin.com/guides/ios/user_interface/designer/ios_designable_controls_walkthrough/ ) and that custom control instantiates and uses the chart control internally, then you would have to adjust your code to *not* create that control when running inside the design time context.

We did have an issue where we did not correctly respect the `DesignTimeVis

[2018-01-05 19:00] danbridgellc commented on #3156
My comment about creating the chart in code was referring to my actual project that is having the same issue as this sample project - sorry if I caused confusion.  I will stick to this sample project for now!

So no sir I do not have a custom control that uses the chart internally...I have a brand new project that I did not write one line of code in...when I attempt to open the Main.Storyboard it

[2018-01-05 20:25] therealjohn commented on #3139
@VincentDondain

I'll try and get the logs for you but right now it's way too long and spammed with:

[code]

In the meantime, I was able to reproduce this by connecting my device and opening Xcode > Windows > Devices and Simulators. Select my device and uncheck the Connect via Network setting. Then, when I try and wireless deploy I see this error again.

[code]

Maybe that will help you reproduce

[2018-01-06 12:42] HobDev commented on #3138
@VincentDondain  Thank you, I manage to use System.Threading.Overlapped via package reference. Also added extra properties that you mentioned. But again the package Windows.Win32.Registry throwing this exception:
`System.IO.FileNotFoundException has been thrown
Could not load file or assembly 'Microsoft.Win32.Registry' or one of its dependencies.`

[2018-01-06 13:48] HobDev commented on #3138
I open an issue in [the repo](https://github.com/jcurl/SerialPortStream/issues/45). The owner of the package says that the `Microsoft.Win32.Registry` is broken. As the package only says the minimum version is 4.3.0 but I can use 4.4.0

[2018-01-08 11:44] mandel-macaque commented on #3109
@nfritsche so, in summary and to try and keep everyone in the same page:

1. Break points in an specific project **DO NOT** work on VS for Mac.
2. Break points in a specific project **DO** work on VS for Windows.
3. Break points in a new project **DO** work.

Can you please let me know the following:

1. Where is the break point set?
2. What are the settings for the linker? It is probably not rela

[2018-01-08 12:59] rolfbjarne opened #3174 "Incremental builds is disabled when there are more than one binding projects"
As a workaround for bug #[52727](https://bugzilla.xamarin.com/show_bug.cgi?id=52727) we automatically disable incremental builds when there are more than one binding projects.

We should look into fixing this somehow.

One option was discussed (allowing third-party binding projects to opt out of incremental builds), but it was discarded:

* https://bugzilla.xamarin.com/show_bug.cgi?id=52727#c4
* h

[2018-01-08 13:34] GouriKumari opened #3175 "[XM]Warning "Cannot expand $(AppIdentifierPrefix) in Entitlements.plist without a provisioning profile" is generated while building mac apps with release config using d15-6 builds"
### Steps to Reproduce

1. Install Xamarin.Mac Version: 4.2.0.4
2. Create a new cocoa project or use an existing project
3. Build the app with release config

### Expected Behavior
App builds successfully without any warnings

### Actual Behavior
App builds with warning, "Cannot expand $(AppIdentifierPrefix) in Entitlements.plist without a provisioning profile". Is this expected? I built the mac p

[2018-01-08 13:56] itzseven7 opened #3176 "Notification Service Extension does not work in iOS 11 (Rich Push)"
### Steps to Reproduce

1. Build a blank app with associated Notification Service Extension on device running iOS 11 (11.2.1)
2. Build the same app on iOS 10 (10.3.3)

### Expected Behavior

The Notification Service Extension should be present on the device

### Actual Behavior

The Notification Service Extension is not present on the device

### Environment

- Visual Studio 7.3.2 (build 12)
- Mon

[2018-01-08 14:04] breyed opened #3177 "Build crash with generated code in .NET Standard library"
### Description

I created a .NET Standard class library, added a simple .proto file to it, and added a target in the .csproj to run the Protobuf code generator. I then referenced the class library from an Xamarin iOS project and instantiated the generated class from `Main`. This caused the iOS build to crash.

### Steps to Reproduce

1. Build [repro](https://github.com/breyed/xamarin-macios-netst

[2018-01-08 14:39] breyed opened #3178 "Live Run fails with PackageReference"
### Description

When a Xamarin iOS project uses `PackageReference` to reference an assembly, a normal build works, but Live Run does not. The ability to use `PackageReference` is important because it is needed to avoid bugs with referencing .NET Standard libraries. It also makes NuGet dependency management much easier.

### Steps to Reproduce

1.  Create a new Xamarin.Forms project.
2.  In the iO

[2018-01-08 15:03] VincentDondain commented on #3137
Hi, I created a quick sample with your code and got the audio to play automatically (no interaction at all) on simulator and device.

Here's the sample: https://www.dropbox.com/s/418ywb8j98u34oy/Bug3137.zip?dl=0

I used the same Xamarin.iOS version as you: https://gist.github.com/VincentDondain/14ac1d1b1ee32881181cef99a238e1c7

Does my sample work for you? If not then you'll need to share some sam

[2018-01-08 17:49] nfritsche commented on #3109
Yes, your summary is accurate, I apologize for not being more clear and not providing much info.
To answer your questions:

1. The breakpoints have been set all over the iOS project, it does not matter where it is in the iOS project, it will not break. In the shared code it will break, but even stepping out back to iOS it will just run.

2. I will attach my iOS project file

[learnermobile.iOS.txt

[2018-01-08 19:07] jamesmontemagno commented on #3178
Can you let me know what version of the live player you are running (in the app under about).

The latest TestFlight version of the live player support this scenario: https://developer.xamarin.com/guides/cross-platform/live/install/#Xamarin_Live_Player_for_iOS

[2018-01-08 20:31] therealjohn commented on #3156
@danbridgellc

Would you also re-upload a new log from the issue when you open the sample project? You might want to delete existing logs to make sure you have the correct one. The timestamps in the log should match the time you are testing it. The sample opens fine for me. However, I don't have any SFChart things installed.

[2018-01-09 03:40] jahmai commented on #3174
+1. We multiple native binding projects and therefore have incremental building disabled which slows down development significantly.

[2018-01-09 07:57] lowleetak opened #3182 "iOS Use Safe Area Layout Guides not working in library project"
### Steps to Reproduce

1. Create a new solution
2. Create a new iOS library
3. Create a storyboard file in the newly created iOS library project
4. Create a UIViewController in the storyboard and assign label's constraints using safe area layout.
5. Set iOS app project to reference to the library project
6. Set the UIViewController as first screen
7. Run the application in iOS 10 and iOS 11 simul

[2018-01-09 10:39] rolfbjarne opened #3183 "Our build doesn't support PATH containing paths with spaces"
Repro:

[code]

result:

[code]

Marek ran into this with workbooks: https://gist.github.com/marek-safar/796929c2194726b7f8b8c34bd7b39579 (where `PATH=/Users/marek/mono/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:/Library/Frameworks/Mono.framework/Versions/Current/Commands:/Applications/Xamarin Workbooks.app/Contents/SharedSupport/path-bin`)

[2018-01-09 12:17] alanmcgovern commented on #3156
The logic is (essentially) to request the list of assemblies from MSBuild after it processes/loads the project files contained in your solution. It would be curious if we were consistently getting the chart control in the list when your project does not reference it. It would imply there's some system level setting which is unexpectedly adding the reference.

One possible cause of that happening i

[2018-01-09 12:20] mandel-macaque commented on #3182
Hello,

In order to be able to reproduce the issue I created the following project/repo:

https://github.com/mandel-macaque/xamarin-issue-3182

I have ran the above example in the following simulators:

* iPhone SE 10.0 - [Error](https://gist.github.com/mandel-macaque/35ef08705e6c4d71459f56c0607c6942)
* iPhone 7 10.0 - [Error](https://gist.github.com/mandel-macaque/fa5adf6511ee126ef4413e794634f23b

[2018-01-09 12:24] mandel-macaque commented on #3178
Setting the lables to need-info until @breyed checks the version provided by @jamesmontemagno

[2018-01-09 13:16] mandel-macaque commented on #3177
Hello,

I have forked the project to fix it to be able to compile the project on MacOS X (simple change pointing to the correct tool in the nuget) https://github.com/mandel-macaque/xamarin-macios-netstandard-build-crash

With the above small change and the following [environment](https://gist.github.com/mandel-macaque/e2c825fb6bdce0204410c86120280c6d) I was able to [build](https://gist.github.com/

[2018-01-09 14:12] rolfbjarne commented on #3139
It looks like we're failing to mount the developer tools when doing wifi deploy. I'll have a look.

[2018-01-09 14:16] breyed commented on #3177
There are two different scenarios to consider:
1. Building both projects with Visual Studio for Mac.
2. Building both projects with Visual Studio for Windows. In this case, if I understand correctly, ClassLibrary1 is built on Windows only and IOS is built with VS for Windows using the VS Mac agent. (Correct?)

This issue only concerns the second scenario. In the production project, the equivalent

[2018-01-09 14:24] breyed commented on #3178
I was on the latest App Store version of Live Player. After updating to TestFlight version 1.4.129 (629), the build seemed to get further. Now the build fails with these errors:

1. The type or namespace name 'BigInteger' could not be found. [This is from System.Numerics.BigInteger in .nuget\packages\netstandard.library\2.0.1\build\netstandard2.0\ref\netstandard.dll.]

2. System.IO.DirectoryNotFou

[2018-01-09 14:50] chamons commented on #3175
Please assign this a real error / warning code and update mmp/mtouch docs - https://developer.xamarin.com/guides/ios/troubleshooting/mtouch-errors/#MT7xxx_MSBuild_error_messages with explaination.

[2018-01-09 15:17] mandel-macaque commented on #3109
Interesting, so, we have break points that are set in the iOS project that are part of your code and do not get loaded YET breakpoints in a shared dll are correctly stepped into.

Before we look into your application, which probably is not the culprit, do you have a small test case that does behave the same way? Can you use correctly the debugger in other simpler projects?

[2018-01-09 17:13] timrisi commented on #3117
When I click the link to the bitbucket repo I get an error that "This repository is currently unavailable."

[2018-01-10 01:10] lobrien opened #3189 "UIView.DisplayLayer(CALayer) raises NSInvalidArgumentException yet it implements the CALayerDelegate protocol"
### Steps to Reproduce

1. Create a new Xam.iOS app
2. In `ViewController.ViewDidLoad` add:
[code]

3. Run and receive an `NSInvalidArgumentException` with Reason "Unrecognized selector" `UIView displayLayer:`

### Expected Behavior

No exception. BUT I actually think this is a binding mistake and `DisplayLayer(CALayer)` should not be in `UIView`, as there is not a corresponding Obj-C / Swift meth

[2018-01-10 04:15] jamesmontemagno commented on #3178
I think we may have fixed this today actually. Is there another project that has the nuget in it?

Do you have a small repro that we can test out?

[2018-01-10 06:47] rolfbjarne commented on #3117
This is probably a duplicate of bug #[60640](https://bugzilla.xamarin.com/show_bug.cgi?id=60640)

[2018-01-10 06:51] rolfbjarne commented on #3117
And of bug #[60149](https://bugzilla.xamarin.com/show_bug.cgi?id=60149), which was fixed in https://github.com/xamarin/xamarin-macios/commit/e4d9895365bb0ed93733642b1e3eb7b640e0ffb8, which will be included in the upcoming 15.6 release

[2018-01-10 06:51] #3117 closed

[2018-01-10 11:55] mandel-macaque commented on #3189
This is quite interesting, as per Apple headers UIView is a CALayerDelegate which contains the displayLayer method -> https://developer.apple.com/documentation/uikit/uiview#relationships and https://developer.apple.com/documentation/quartzcore/calayerdelegate/2097261-displaylayer?language=objc

Yet, it is correct that the application crashes, in my case with the following env:

=== Visual Studio C

[2018-01-10 12:08] mandel-macaque commented on #3177
@breyed ok, so this is clearly a bug in the VS Windows agent, let me find out where are those bug currently being tracked so that someone from their team can take a look.

Regarding the iOS exception, could you show me the error? The fact that it only happens on iOS might, just might, be related to the linker which is something that UWP, .Net Core, Android etc.. do not have since on iOS with AOT a

[2018-01-10 12:10] mandel-macaque commented on #3176
Could you please let me know what did you do to confirm that the extension was not present? I'll create a project and will test it ASAP.

[2018-01-10 12:17] gabrieligbastos commented on #3117
@rolfbjarne by 15.6 you mean Visual Studio Mac or Xamarin.iOS 15.6? Is there any preview release date?
Thanks in regards.

[2018-01-10 14:02] breyed commented on #3178
In my production project, the Xamarin iOS references a .NET Standard class library, which references another .NET Standard class library. So yes, there are two projects referencing the netstandard NuGet.

I created a [branch](https://github.com/breyed/xamarin-macios-netstandard-build-crash/tree/live-player) from a previous repro I had put together. It has an IOS project, which references a .NET St

[2018-01-10 14:59] danbridgellc commented on #3156
Thank you both for responses, sorry for delay on my end...I worked on this over the weekend and here is what I found...

1. Launched VS
2. Cleaned up the logs
3. Opened my "real" project with ref to SfChart and attempted to open empty storyboard - failed as expected
4. Closed solution
5. Cleaned up the logs
6. Opened sample App1 project without ref to SfChart - still failed on SfChart

So that got

[2018-01-10 17:33] rolfbjarne commented on #3117
@gabrieligbastos version numbers are complicated, every component has its own version... 15.6 is a kind of global version number used to reference all products released together. The individual version numbers are: Xamarin.iOS v11.8 and Visual Studio for Mac v7.4.

IIRC the plan is to release the first preview of this today, but as always with previews plans might change at the last minute. In any

[2018-01-10 18:11] mandel-macaque commented on #3189
After closer inspection, I can confirm that this is what happens:

1. The binding is correct, the UIView class implemented the CALayerDelegate protocol which contains the displayLayer method.
2. The CALayerDelefate displayLayer method is optional as per the Apple headers: https://gist.github.com/mandel-macaque/52410c16d37f8a839d11708ef567a95c
3. We cannot, at compile time, tell you if the method i

[2018-01-10 18:11] #3189 closed

[2018-01-10 19:20] GouriKumari opened #3195 "[XI]LookInside sample fails with build error "error : Unexpected character ']' with d15-6"
### Steps to Reproduce

1. Open LookInside sample, ios-samples/ios8/LookInside
2. Build it

### Expected Behavior
App should build successfully

### Actual Behavior
App fails to build with an error "error : Unexpected character ']'. This issue occurs with d15-6 builds and not with d15-5  (11.6.X builds)

### Environment
[code]
### Build Logs

Build Log with Stable: https://gist.github.com/GouriKum

[2018-01-11 04:08] praeclarum opened #3198 "UIDocumentBrowserViewControllerDelegate.DidImportDocument bound incorrectly"
`IUIDocumentBrowserViewControllerDelegate` and `UIDocumentBrowserViewControllerDelegate` have DidImportDocument bound incorrectly.

[code]

should be: `documentBrowser:didImportDocumentAt:toDestinationURL:`

https://developer.apple.com/documentation/uikit/uidocumentbrowserviewcontrollerdelegate/2874196-documentbrowser

[2018-01-11 04:56] praeclarum commented on #3198
Oops, I misread the docs.

[2018-01-11 04:56] #3198 closed

[2018-01-11 06:08] rolfbjarne commented on #3117
@gabrieligbastos the previews have been released: https://releases.xamarin.com/preview-release-15-6-preview-2/

[2018-01-11 08:53] rolfbjarne commented on #3195
It looks like this is a problem with the sample, the jSON here is invalid: https://github.com/xamarin/ios-samples/blob/master/ios8/LookInside/LookInside/Resources/Images.xcassets/BigFlower.imageset/Contents.json

IIRC we report this now, because we changed the jSON parser.

The big question is how this invalid jSON was generated in the first place; if VSfM creates it (and still does), we need to f

[2018-01-11 11:56] mandel-macaque commented on #3177
After talking with the VS team they would like to know if you have the same failure via the command line, would you mind trying and posting the results in this issue @breyed ?

[2018-01-11 12:35] juripyykko opened #3199 "Could not AOT the assembly System.Runtime.CompilerServices.Unsafe.dll (MT3001)"
### Steps to Reproduce

1. Create new Cross-Platform Xamarin.Forms .NET Standard 2.0 project in Visual Studio (i used 2017 PC).
2. Open this project in Visual Studio for Mac.
3. Add NuGet Microsoft.EntityFrameworkCore.Sqlite to the iOS project.
4. Add the following for example to AppDelegate.cs in the iOS project:
   var temp = Microsoft.EntityFrameworkCore.PropertyAccessMod.Field;
5. Try to run t

[2018-01-11 14:10] spouliot commented on #3199
Thanks for the report. This should be already fixed in the current previews (i.e. upgrade to the beta channel).
Duplicate of https://bugzilla.xamarin.com/show_bug.cgi?id=60771

[2018-01-11 14:12] jstedfast commented on #3195
I verified last time that we generated valid json and we do. I suspect someone edited the file manually.

[2018-01-11 14:23] nfritsche commented on #3109
I have not been able to create a small test that does the same. This is an older project, created back in 2015, but has the most up to date packages and libraries. I can use the debugger just fine in sample projects that I create. I can even drop 'System.Diagnostics.Debugger.Break()' this in the iOS code and it will break.

[2018-01-11 15:58] mandel-macaque commented on #3109
Interesting, is there a way you could share the project?

[2018-01-11 16:11] rolfbjarne commented on #3195
@GouriKumari ok, this is an issue with the sample, which needs to be updated (the invalid jSON must be fixed).

[2018-01-11 16:19] spouliot opened #3200 "Incorrect debug symbols should warn (not error) during builds"
### Steps to Reproduce

The issue can be seen with the (unmerged) tests from https://github.com/xamarin/xamarin-macios/pull/3079 or bugzilla [61142](https://bugzilla.xamarin.com/show_bug.cgi?id=61142)

### Expected Behavior

A **warning** reporting that the debugging symbols are incorrect (e.g. out of date) and that it might affect how the application can be debugged.

### Actual Behavior

An `MT0

[2018-01-11 16:41] nfritsche commented on #3109
If you have a bitbucket account I could share the project with you.

[2018-01-11 19:51] xamarinshukla opened #3201 "Cannot find registrar.m"
### Steps to Reproduce

1. Existing Xamarin Forms project. Upgrade to latest Visual studio code.
To Be honest there is not much in the repro path. This started to happen right after I upgraded to latest Xcode and Latest Xamarin update from stable channel.
2. Archive for publishing/Debugging/running

### Expected Behavior
Build/run the app without any issues.
### Actual Behavior
Error in building.

[2018-01-11 21:06] timrisi commented on #3115
I'm seeing the same behavior.  Null values with Don't Link, but correct values with Link Framework SDKs.

[2018-01-12 08:37] Lapinou42 opened #3205 "Attempting to JIT compile method '(wrapper runtime-invoke) <Module>:runtime_invoke_void__this___int_long_object_long_object_int_Nullable`1<long>_int (object,intptr,intptr,intptr)'"
### Steps to Reproduce

1. Create a Database with EF Core (I used EF Core 2.0.1)
2. Create Entity model with these properties : (or others, I suppose it doesn't matter)
[code]

3. Launch the app (iOS). Everything is ok.
4. Add a new property like this one to the model :

 public string OrderedId { get; set; }

5. Do a migration.
6. Start the app.

### Expected Behavior
No exception

### Actual Beh

[2018-01-12 10:25] aconcagua21 opened #3206 "SetSelectedDomRange throws exception when range passed is null."
### Steps to Reproduce
Call WebKit.WebView.SetSelectedDomRange(range, affinity) with range = null.

### Expected Behavior
WebView should clear current selection.

### Actual Behavior
Throws ArgumentNullException exception

[2018-01-12 10:53] rolfbjarne opened #3207 "Test failure on bots: Mono.Security/Mac/Modern: MonoTests.Mono.Security.Authenticode.AuthenticodeDeformatterTest.VerifySignedAssembly"
This is a consistent test failure on wrench with the Mono.Security tests (but only on modern/macOS):

[code]

I'm not able to reproduce it locally, but the test fails if I copy the test .app to the bot and run it there (which rules out build differences).

Being able to change the test app locally also made it possible to get more information:

* This is the assert that fails: https://github.com/m

[2018-01-12 12:52] doudouLin opened #3210 "MTOUCH : error MT2001: Could not link assemblies. Reason: Object reference not set to an instance of an object"
### Steps to Reproduce

1. update mac mini operating system to High Sierra version 10.13.2
2. update xCode to 9
3. update all packages in xamarin iOS project
4. can not compile anymore, alway got the error: could not link assemblies....

### Expected Behavior

### Actual Behavior

### Environment

[code]

### Build Logs

[code]

### Example Project (If Possible)

[2018-01-12 13:17] fab421 opened #3211 "Xamarin.Build.Download.0.4.7 - Object reference not set to an instance of an object"
### Steps to Reproduce

I recently upgrated Xamarin in Visual Studio 2015, so my iOS project currently uses Xamarin.iOS 11.6.1.2 and NuGet package Xamarin.Firebase.iOS.Messaging 11.4.2.

### Expected Behavior

### Actual Behavior

Now my iOS project does not compile anymore.
I get this error message :

...\packages\Xamarin.Build.Download.0.4.7\build\Xamarin.Build.Download.targets(52,3): error : Ob

[2018-01-12 14:54] juripyykko commented on #3199
I've changed to beta channel on the Mac, but I still get the same error. Do I need to recreate the whole project on the beta channel versions?

[2018-01-12 15:11] #3166 closed

[2018-01-12 16:04] VincentDondain opened #3213 "[generator] Availability attribute incorrectly added on existing types with new protocol conformance"
### Steps to Reproduce

Add protocol `AVQueuedSampleBufferRendering` to `AVSampleBufferDisplayLayer`.

See [generated code](https://gist.github.com/VincentDondain/36cd2ca79628bb4b07a5145e46f0150c#file-diff-L66-L72).

### Expected Behavior

Since the type already exists and is working so do not alter availability (that would be problematic for older OSes).

### Actual Behavior

Availability is upda

[2018-01-12 16:55] gabrieligbastos commented on #3117
Hi @rolfbjarne,

Just updated it:

[code]

And still getting the same error:

[code]

Can you help me out?
The sample is here: https://gabrieligbastos@bitbucket.org/thrust/imow.git

[2018-01-12 17:24] rolfbjarne commented on #3117
@gabrieligbastos that's a different issue, so could you file a different bug? We'll get to it asap.

[2018-01-12 17:41] gabrieligbastos commented on #3117
Do you mean, just to open another issue here?

[2018-01-12 17:47] gabrieligbastos opened #3215 "MTOUCH : error MT2001: Could not link assemblies. Reason: Object reference not set to an instance of an object"
### Steps to Reproduce

1. Clone repository on Bitbucket: https://gabrieligbastos@bitbucket.org/thrust/imow.git
2. Add nuget repository linked to http://13.90.211.131/NugetServer/nuget
3. Build the project to a physical device

### Expected Behavior
To build and deploy it to physical device

### Actual Behavior
Failed to build with errors

### Environment

[code]

### Build Logs

[code]

### Examp

[2018-01-12 18:50] spouliot commented on #3215
*11.8.0.1* so it's the 15.6 beta, I'll have a look

[2018-01-12 18:55] spouliot commented on #3210
The steps to reproduce are not complete enough. This happens for something specific to your project so we need more details, ideally a small test case that reproduce the issue (that can be attached here).

[2018-01-12 19:03] VincentDondain opened #3217 "[generator] Don't re-add members as 'virtual' or 'new virtual' when conforming to protocol"
### Steps to Reproduce

`CNKeyDescriptor` conforms to `NSObjectProtocol` and when I added `CNKeyDescriptor` conformance to `NSString` it re-decalred a bunch of members that were already there (from `NSObject`).

See [generate code](https://gist.github.com/VincentDondain/36cd2ca79628bb4b07a5145e46f0150c#file-diff-L1033-L1376).

### Expected Behavior

The generator should be smart enough to not re-g

[2018-01-12 19:05] SittenSpynne commented on #3144
We're having a similar issue on our project, I wonder if it might be something that got addressed in a relatively recent Xamarin? For various reasons, my project lags a few versions behind the latest Xamarin libraries.

Here's what's on my dev machine, it's actually *newer* than our build machine:

[2018-01-12 19:54] gabrieligbastos commented on #3215
Ok, @spouliot . Thanks.

I created it in the other issue (#3117), so, just to let you know, it was also happening in the current stable Mac OS X 10.12.6, ok?

[2018-01-12 20:24] spouliot commented on #3217
To be more accurate: source code is duplicated, but binary-wise those duplicated methods ends up being `new virtual` which could cause hard to diagnose problems when subclassing `NSString`

[2018-01-12 20:31] spouliot commented on #3215
Such issues are unlikely to be related to your version of macOS.

By beta I meant **XI 11.8** (milestone 15.6) versus the current stable **XI 11.6** (milestone 15.5).

I know it's a lot of numbers... but short story: the same milestones are used across all Visual Studio products (see https://www.visualstudio.com/en-us/productinfo/vs2017-release-rhythm for more details), while the product numbers a

[2018-01-12 21:31] spouliot commented on #3215
after removing that (unneeded and not in git) file from the .csproj I can reproduce the error.

[2018-01-12 22:01] spouliot commented on #3215
This also happens with **XI 11.6.1.3** (stable), so it's not specific/related to 15.6.

[2018-01-12 22:39] #3200 closed

[2018-01-13 08:00] cmello418 commented on #3144
This is "closed"?  lol.  It's always something with xamarin, anytime something is updated.  I'm simply tired of it myself.  I have the same problem, and cannot distribute my latest app until this is resolved.  I maintain UWP, Android and iOS versions.  Combined, there's always issues to contend with.  After hanging in for several years, I'm beginning to wonder if this environment will EVER work fo

[2018-01-13 08:02] cmello418 commented on #3144
Also, try a different device with the latest iOS.  I'm testing on an iPad Pro.  By the way, this is not an issue with the emulator - only on actual devices.

[2018-01-13 08:07] cmello418 commented on #3144
BTW: I just solved the issue myself.  Uninstall the newtonsoft package, and then add it back.  Problem solved for me.  Still don't like the flippant attitudes around here - some of us have thousands of hours of work tied up in Xamarin apps, as well as clients and livelihoods.   Keep that in mind, please.

[2018-01-13 15:15] breyed commented on #3177
The Protobuf error is System.ArgumentException: Invalid embedded descriptor for "Test.proto". The debugger shows a string value for `descriptor`. The linker doesn't seem to be removing it (which would be nice, since I don't think I need it), but instead altering it in some way, or maybe some context change is interfering.

I tried building from the command line by executing `msbuild` on the Window

[2018-01-13 16:39] verybadcat opened #3219 "A project with two shared projects crashes VS Mac"
### Steps to Reproduce

1.  Create a Xamarin.IOS project
2. Create two shared projects inside it. Add references to them.
3. Have a class in one shared project refer to a class in the other shared project

### Expected Behavior

You can edit, build, and run the solution.

### Actual Behavior

Xamarin.IOS frequently crashes, and if it doesn't crash, the references may fail to resolve at build time.

[2018-01-15 09:47] doudouLin commented on #3210
@spouliot hi Spouliot, thank you very much for your reply. I haven't create test case and upload to github before, need a bit time to check how to do it. will come back as soon as i figure it out.

Best regards
Lin

[2018-01-15 10:17] mandel-macaque commented on #3109
Setting the bug to be in a future cycle and removing needs-info since I have received access to the private repo.

[2018-01-15 11:15] mandel-macaque commented on #3219
Hello,

I have tested the attached project, and in my case, not only VS does crash, but it crashes when I'm trying to add the creation of the A instance with the followign trace:

https://gist.github.com/mandel-macaque/c1906309f5268b7527e8790258d6d3eb

Nevertheless, once I added the instance via an other editor everything work. Also, compiling via de command line results in a successful build:

ht

[2018-01-15 11:23] mandel-macaque commented on #3201
Could you please add the full build logs and a sample project to try to reproduce the issue? A gist or a text file attached would be good for the logs, the project can be attached also once it is cleaned and zipped.

(You can drag and drop, something I must recognised is not super intuitive)

[2018-01-15 11:28] mandel-macaque commented on #3195
Created an issue in the right project:

https://github.com/xamarin/ios-samples/issues/204

Will close this one, both issues have a ref to each other.

[2018-01-15 11:28] #3195 closed

[2018-01-15 11:34] mandel-macaque commented on #3177
Ok, here we have a build from the command line from a windows machine:

https://gist.github.com/emaf/0481fdb699d974fbf97ff035b161d61e#file-gistfile1-txt

Setting the bug to future cycle as confirmed.

[2018-01-15 11:35] mandel-macaque commented on #3178
@jamesmontemagno any comments? This does not look like a XI bug, so we should close the issue and track it in the right project.

[2018-01-15 11:38] mandel-macaque commented on #3205
Could you please provide a small sample project that you expect to compile? Unfortunately we cannot be experts in all project and I am not familiar with EF Core and I would like to make sure that we both use the same testing code.

[2018-01-15 11:39] mandel-macaque commented on #3206
Could you please provide the full environment that was used to see the error.

The easiest way to get exact version information:
- On Visual Studio for Mac: "Visual Studio" menu, "About Visual Studio" item, "Show Details" button.
- On Visual Studio for Windows: "Help menu", "About Microsoft Visual Studio" item.
Then copy/paste the version information (you can use the "Copy Information" button).

[2018-01-15 12:42] aconcagua21 commented on #3206
Sure, see below.

However, the problem is in binding of SetSelectedDomRange: The "range" parameter is probably lacking the NullAllowed attribute. See the [documentation](https://developer.apple.com/documentation/webkit/webview/1408363-setselecteddomrange).

=== Visual Studio Community 2017 for Mac ===

Version 7.3.2 (build 12)
Installation UUID: 7b37c015-e264-4afb-8a25-3143fd201145
Runtime:
	Mono

[2018-01-15 13:44] itzseven commented on #3176
Hello,

I just sent a push with an image and noticed that the Notification Service Extension was not loaded.

Thanks

[2018-01-15 14:05] spouliot commented on #3210
In most case you can create a zip file from your project (do a clean first so it will be a lot smaller) and drag it into a comment text box of this issue.

[2018-01-15 16:29] spouliot commented on #3215
The error happens when processing `System.Configuration.ConfigurationException` from `System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089`

The above assembly is not part of XI BCL, it's a reference to the .net desktop framework. So the issue is that it's not reported correctly - but it would remain an error in your project.

You need to use XI BCL, net standard or a compatib

[2018-01-15 16:40] spouliot commented on #3215
Once fixed you'll get a correct:

[code]

[2018-01-15 17:14] spouliot commented on #3210
Your stack trace looks quite similar to the one from issue #3215
It's quite possible you are running into a similar case where you have a reference to a BCL assembly from the desktop .net (and not from XI SDK or net standard).

[2018-01-15 17:59] doudouLin commented on #3210
my company doesn't allow me to upload code to internet. I am not able to do that:(

[2018-01-15 18:02] doudouLin commented on #3210
sorry, i am new to Xamarin, could you please indicte me that where can i check and change this BCL reference? you mean Microsoft.Bcl.Build package?

[2018-01-15 18:05] doudouLin commented on #3210
can I write you email to discuss this? is it ok for you?

[2018-01-15 20:52] sushihangover opened #3230 "UIAppearance appearanceWhenContainedInInstancesOfClasses incorrectly restricted to tvOS"
Note: This is a C/P from my StackOverflow answer, so if you additional info, just ask, thanks.

* https://stackoverflow.com/questions/48262588/xamarin-ios-uiapperance-setdefaulttextattributes

There are a *number* of missing `UIAppearance` features in Xamarin.iOS and in regards to your question, there is a *missing* API.

* This is a bug, 🍣 I wrote my own `UIAppearance.cs` to add the missing featu

[2018-01-16 01:37] spouliot commented on #3207
hmm... it _might_ be because full fallbacks to the GAC ? or to the machine.config of the bot - which gives it the right mapping for the hash that the certificate requires

I'll have a look and ping @chamons if I suspect XM specific differences. FWIW it does not look like a regression.

[2018-01-16 13:39] #3206 closed

[2018-01-16 13:47] spouliot commented on #3199
@juripyykko make sure you do a **clean** on your solution before building with the **beta**. If it still happens attach your test case (clean, zip and drag'n'drop into a comment text box) and re-ope the issue.

[2018-01-16 14:14] rolfbjarne commented on #3135
The projects themselves are created here: https://github.com/xamarin/xamarin-macios/pull/3234 (but no tests have been moved/ported to unified)

[2018-01-16 14:15] spouliot commented on #3207
@rolfbjarne are those tests are run in parallel on wrench ?
the error code is not crypto related (it's about the .exe) and the logic to write it is not parallel safe

[2018-01-16 14:17] rolfbjarne commented on #3207
@spouliot: no, they're not run in parallel (and in any case I could reproduce by copying the .app to the bot and executing just the .app).

[2018-01-16 15:59] GouriKumari opened #3237 "[XI] MPSImageHistogramEqualizationTest failure on 9.3.5 device"
### Steps to Reproduce

1. Update System to XI, xamarin.ios-11.8.0.9.pkg
2. Checkout 0059e3e5b5519ac96070916453b2f7a8dab26ef0
3. Build and execute monotouch-test on an iOS 9.3.5 device

### Expected Behavior
Tests should pass on device

### Actual Behavior
[FAIL] MPSImageHistogramEqualizationTest.Constructors : System.ArgumentNullException : Value cannot be null.
[FAIL] MPSImageHistogramSpecificat

[2018-01-16 17:10] GouriKumari opened #3239 "[XI] System test failure on iOS 11.0.3 device"
### Steps to Reproduce

Update System to XI, xamarin.ios-11.8.0.9.pkg
Checkout 0059e3e
Build and execute system test on an iOS 11.0.3 device

### Expected Behavior
Tests should pass
### Actual Behavior
Observed that SocketTest.TestSelect1 :   #02 and  TcpListenerTest.TcpListener :   Expected: True failed on device .  WebClientTest.DownloadTwice : System.Net.WebException : Error getting response st

[2018-01-16 17:23] xamarinshukla commented on #3201
[build.log](https://github.com/xamarin/xamarin-macios/files/1636124/build.log)
[Spike.zip](https://github.com/xamarin/xamarin-macios/files/1636128/Spike.zip)

I removed the packages directory. This project is a simple project created on Visual Studio for Mac, Open->New->Forms project.

[2018-01-16 18:26] timrisi commented on #3087
We have not received the requested information. If you are still experiencing this issue please provide all the requested information then click the Reopen Issue button. Thanks!

[2018-01-16 18:26] #3087 closed

[2018-01-16 22:02] jamesmontemagno commented on #3178
We can no longer reproduce the issue with XAMLCompilation, so I assume one is already fixed. Going to test out the other project now.

[2018-01-16 22:24] jamesmontemagno commented on #3178
@breyed are you doing this in VS for Mac or VS 2017?

When I run your project I get a build issue:

/Users/jamesmontemagno/Downloads/xamarin-macios-netstandard-build-crash-live-player/ClassLibrary1/ClassLibrary1.csproj(5,5): Error MSB3073: The command "/Users/jamesmontemagno/.nuget/packages/Google.Protobuf.Tools/3.5.1/tools/windows_x64/protoc --proto_path=. --csharp_out=obj Test.proto" exited with

[2018-01-16 22:26] timrisi commented on #3239
@GouriKumari Do you get those failures every time?  On an 11.0.2 device I ran the tests with no failures.  Testing on an 11.1 device I am getting a few failures, but not the same failures every time.  (For instance, I got the SocketTest.TestSelect1 failure the first time, but not the TcpListenerTest.TcpListener failures.  Second time, I got the TcpListenerTest.TcpListener  failure, but not the Soc

[2018-01-17 00:02] jamesmontemagno commented on #3178
We validated the BigInteger issue and have it fixed pending a new release of the app

[2018-01-17 08:53] doudouLin commented on #3210
![image](https://user-images.githubusercontent.com/19983434/35033568-79791caa-fb6b-11e7-97b7-2798df17328c.png)

@spouliot hi Sebastien, I attached a photo for my reference in xamarin.iOS project, by BCL assembly, do you mean the references here?

cheers
Lin

[2018-01-17 09:37] juripyykko commented on #3199
[TestReproduceError.zip](https://github.com/xamarin/xamarin-macios/files/1638405/TestReproduceError.zip)

Same problem persists after clean build with the beta.

[2018-01-17 12:54] breyed commented on #3178
The build issue you're seeing is because the Protobuf code generation MSBuild target is Windows-specific, and you're running the build on the Mac. In my production workflow, all the projects (including database, web, and mobile projects) are built on Windows, except for iOS which uses the Mac agent. In intended the repro to be similar, where the .NET Standard DLL is built on Windows and the iOS pr

[2018-01-17 13:25] rolfbjarne opened #3241 "link sdk test crashes on release/device in RuntimeWrappedException"
### Steps to Reproduce

[code]

### Expected Behavior

No crash

### Actual Behavior

Crash report: https://gist.github.com/rolfbjarne/02653b55d353fa27a43b9aa5a5dc83e8

Terminal doesn't show anything interesting: https://gist.github.com/rolfbjarne/0850220eca6bc18632882eca27c23eee
### Environment

This happens both with master and d15-6, but only in release mode on device.

[2018-01-17 13:54] spouliot commented on #3210
They are references, but they are not *all* the references (it's recursive). One of them (not something we ship) is likely referencing a *desktop* (not mobile) version of a .net assembly. The mobile version does not include everything (e.g. `System.Configuration`) so the tool will fail when it encounters such references (since it's missing and cannot be bundled into the app).

[2018-01-17 14:13] doudouLin commented on #3210
Is there a way to check which one is referencing the desktop version of a .net assembly? and change it to the proper assembly?

I have seen that you adapted the linker code, added null check. Could that be helpful for my problem?

[2018-01-17 16:42] jamesmontemagno commented on #3178
Thanks for the additional information.

Seems like we are tracking multiple things here.

1. XAMLCompilation flag causes issues -> Verified Fixed
2. Issue with BigInteger in .NET Standard Library -> Fixed (pending release)
3. SQLite-NET PCL Issue -> Being tracked and worked on
4. Issue with protobuf NuGet -> Being tracked

[2018-01-17 21:00] spouliot opened #3247 "[rfc] Simpler fix for missing [DesignatedInitializer] for default constructors"
### Steps to Reproduce

Check xtro results, e.g. https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/5958/Extrospection_Report/

### Expected Behavior

No entry with `!missing-designated-initializer!` :)

### Actual Behavior

Many entries, but largely ones for default `.ctor` (or `init`), e.g.

[code]

This, right now, takes a bit of time to fix because it requires more work like https:

[2018-01-18 14:02] juripyykko opened #3252 ""Re-open" Could not AOT the assembly System.Runtime.CompilerServices.Unsafe.dll (MT3001)"
I wasn't able to re-open the issue, so creating a new one and referencing it from here:
#3199

[2018-01-18 14:59] VincentDondain opened #3253 "xtro doesn't report missing-requires-super for viewLayoutMarginsDidChange and viewSafeAreaInsetsDidChange"
The UIViewController.h header shows `NS_REQUIRES_SUPER` that are not reported by xtro.

[code]

There's not `missing-requires-super` in any `.ignore` file either.

We should investigate why `RequiresSuperCheck` doesn't report those two, maybe we're missing others too.

[code]

[2018-01-18 15:04] spouliot commented on #3253
looks like it's not scanned for some reasons (availability pre-checks ?)
because the code also reports `!extra-requires-super!`

[2018-01-18 15:06] VincentDondain commented on #3253
Oh so that's what you expected to find in the build of https://github.com/xamarin/xamarin-macios/pull/3248. Indeed it did not report any `extra-requires-super` either.

[2018-01-18 15:07] spouliot commented on #3253
yes, I expected an xtro error (either a real one or a bug) :)

[2018-01-18 15:09] spouliot commented on #3253
It's not a sharpie issue

[code]

[2018-01-18 15:12] msyuyigit opened #3254 "Getting malloc: *** error for object 0x610006830320: Non-aligned pointer being freed (2) error while running application on Mac OS with Xamarin"
### Steps to Reproduce

1. Run test application with 10 instances on one single box for 2 hrs
- Test application uses Xamarin platform to test business scenarios related to our product

### Expected Behavior
No crash

### Actual Behavior
Test app crashes with no logs except the log in system log which tells us there was an unaligned pointer being freed. This doesn't repro on a specific test or any

[2018-01-18 16:02] mandel-macaque commented on #3109
Assigning myself the bug since I have access to the project.

[2018-01-18 16:44] Cacata opened #3257 "Got a SIGSEGV while executing native code. This usually indicates a fatal error in the mono runtime or one of the native libraries used by your application."
### Steps to Reproduce

1. Building my Xamarin.iOS project.
2. Deploying project in iOS Device.

### Expected Behavior

I expect that my app runs without errors or other kind of exception.

### Actual Behavior

When app is deploying on the selected device the error launched.

### Environment

1.
Microsoft Visual Studio Enterprise 2017
Version 15.5.3
VisualStudio.15.Release/15.5.3+27130.2020
Micros

[2018-01-18 18:21] GouriKumari commented on #3239
I could reproduce this issue on only one device and both the tests failed locally and from CI Failures are also not consistent. I did see the behaviour that you mentioned while running tests from CI.

[2018-01-18 18:30] SotoiGhost opened #3259 "[Bugzilla #60430] EKEventViewController shows blacked-out screen with use of Xamarin.Google.iOS.MobileAds in iOS11"
Hi! I recently was working on [Bugzilla case #60430][1] and I moved it to the iOS team for a further investigation. I'm filing this issue to keep a track of Bugzilla case due I cannot set the Bug as New.

All the details are explained in Bugzilla.

[1]: https://bugzilla.xamarin.com/show_bug.cgi?id=60430

[2018-01-18 18:34] SotoiGhost opened #3260 "[Bugzilla #55246] Focusing on a UITextField is slow when using Xamarin.Google.iOS.MobileAds"
Hi! It's been a while since I moved [Bugzilla case #55246][1] to the iOS team and there has not been a response in a while. I'm filing this issue to keep a track of Bugzilla case due I cannot set the Bug as New.

All the details are explained in Bugzilla.

[1]: https://bugzilla.xamarin.com/show_bug.cgi?id=55246

[2018-01-18 19:07] chamons commented on #3254
This should be filed on https://bugzilla.xamarin.com/ with the example project inline and is related more to runtime anyway.

[2018-01-18 19:07] #3254 closed

[2018-01-18 21:17] Cacata commented on #3257
Please, somebody can help me with this. I don't know what I have to do!

[2018-01-18 23:50] rolfbjarne commented on #3241
I can also reproduce crashes with the following test suites under the same conditions (only 32-bit and when LLVM is enabled):

* Mono.Security: https://gist.github.com/rolfbjarne/d27e4c060510cad2f3238c202dec22e3
* monotouchtest: https://gist.github.com/rolfbjarne/10247eafe31be81014432ec668fc4ebe
* System
* System.Core
* System.Data
* System.Json
* System.Net.Http
* System.Runtime.Serialization
* S

[2018-01-18 23:53] timrisi commented on #3199
@juripyykko I reopened the issue for you.  Do you have a test case you can provide?

[2018-01-18 23:54] timrisi commented on #3252
I reopened the original issue for you, so I'm closing this one.

[2018-01-18 23:54] #3252 closed

[2018-01-19 01:14] spouliot opened #3265 "EntryPointNotFoundException: xamarin_localized_string_format_1"
While looking at https://bugzilla.xamarin.com/show_bug.cgi?id=41292 it became apparent that our default simlauncher is missing some symbols (or the native linker removes them).

### Steps to Reproduce

1. Add `NSString.LocalizedFormat("%@", 1)` to any template;
2. Run it on a simulator (with default)

### Expected Behavior

`1`

### Actual Behavior

[code]

### Environment

master

### Workaround

[2018-01-19 01:15] spouliot commented on #3265
I have not tried on macOS but it could be an issue too.

c.c. @rolfbjarne

[2018-01-19 13:54] spouliot commented on #3237
@GouriKumari what type of device is `XQAiPad2b` ? is it an iPad 2 ? because those don't support Metal (and the tests don't check for that)

[2018-01-19 14:08] Cacata commented on #3257
@timrisi I don't have a test project, and I can't share my source code for privacy reasons.

The crash only happens when deploying on the device (iPad Air 2, iOS 11.2.2), but builds with no problems.

[2018-01-19 14:14] Cacata commented on #3257
![image](https://user-images.githubusercontent.com/18515515/35154656-6aee448e-fd01-11e7-8bc2-0cd1ab2ac9c1.png)

An image from my Xamarin.iOS project property.

[2018-01-19 15:50] mandel-macaque commented on #3109
Hello,

I had some issues trying to compile the project, and rather than wasting time investigating I thought of asking you first, since you know the project and you might be able to give me some tips to get it to compile to move fwd the investigation. I get the following compiling issues:

/Users/mandel/Xamarin/issue-projects/learnermobile/packages/Xamarin.Forms.2.3.1.114/build/portable-win+net45

[2018-01-19 16:21] #3237 closed

[2018-01-19 16:22] GouriKumari commented on #3237
Yes, it is an older iPad and is connected to the bots.

[2018-01-19 17:34] KSchau commented on #3210
I am having the same problem - unable to link assemblies. Any news on when this fix will be deployed so I can try to see what assemblies are causing me trouble?

[2018-01-19 17:36] KSchau commented on #3215
I am having a similar issue - Could not link assemblies. Reason: Object reference not set to an instance of an object. Any news on when there might be a fix deployed?

[2018-01-19 18:49] spouliot commented on #3215
@KSchau it's not a fix - it will simply tell you what's wrong more precisely, i.e. a better error message

If you can extract a test case attach it here (or in another issue) and we'll look at it. It could be different but if it's the same (quite likely) we'll be able to tell you what's incorrectly referenced.

[2018-01-19 19:30] KSchau commented on #3215
Understood - I was just wondering whether/when that error message improvement will make it's way into the linker for easier error identification.

At the moment, I am trying to use a Mac that hasn't been updated to High Sierra / XCode 9.2 as my build host to see if I can get the app building again for the time being.

If that doesn't work, I'll try to get you a test case to work off of. To strip o

[2018-01-19 20:31] timrisi commented on #3257
The broader developer community would be the best and quickest place for additional troubleshooting help on this issue.
Posting a question on Stack Overflow [0] or the Xamarin Forums [1] would be the best next step.

[0] https://stackoverflow.com/questions/tagged/xamarin
[1] https://forums.xamarin.com/categories/ios

If you believe this is a bug in the Xamarin project as opposed to something in th

[2018-01-19 22:18] lobrien opened #3272 "Foundation.INSFilePresenter.PesentedItemOperationQueue misspells "Presented""
### Steps to Reproduce

1. Use Object Browser, etc. to view `Foundation.INSFilePresenter` interface

### Expected Behavior

"PresentedItemOperationQueue"

### Actual Behavior

"PesentedItemOperationQueue"

### Environment

[code]

[2018-01-19 23:23] jamchengms opened #3273 "NavigationController.HidesBarsOnSwipe Causes Memory Leak"
### Steps to Reproduce

1. Using Navigation Controller, navigate from one UIViewController A to another UIViewController B
2. In UIViewController B, set NavigationController.HidesBarsOnSwipe = true
3. In UIViewController B, set a breakpoint at DidReceiveMemoryWarning function.
4. In UIViewController B, swipe down to hide the navigation control. Swipe up again to show the navigation control.
5. Hit

[2018-01-20 21:48] garie opened #3274 "EntryCell Text Binding fails when iOS Auto-corrects text when the EntryCell loses focus (clicking outside of Entry)"
This may be the same or a related issue to [Bug 42096](https://bugzilla.xamarin.com/show_bug.cgi?id=42096).

### Steps to Reproduce

1. Make sure that Auto-Correction is enabled on the iOS device/sim in Settings -> General -> Keyboard. And if using a simulator, do not use the Hardware keyboard as you will not get auto-correction suggestions when using the Hardware Keyboard, so in the iOS Simulator

[2018-01-21 17:38] rihadavid opened #3275 "PresentViewControllerAsync task never finishes if failed"
### Steps to Reproduce

On iOS:
1. Schedule presenting a modal view controller for a few seconds ahead. Present with the method ``await PresentViewControllerAsync``
2. Meanwhile, present another modal view controller and keep it visible
3. When the second ``await PresentViewControllerAsync`` occurs, you will get a log ``Warning: Attempt to present <MyViewController: 0x7fc89dd41090>  on <MyNavigati

[2018-01-22 08:32] juripyykko commented on #3199
I'm unable to build it for the iPhone. That's the test I guess.

[2018-01-22 13:21] #3265 closed

[2018-01-22 18:27] timrisi commented on #3273
Xamarin.iOS is a thin layer on top of the native iOS frameworks. I tried rebuilding a sample in Xcode that does the exact same thing as your test project, and it behaved the same way.  The DidReceiveMemoryWarning method was hit in the AnotherViewController class after navigating back to the first VC.

The broader developer community would be the best and quickest place for additional troubleshooti

[2018-01-22 18:46] timrisi commented on #3274
What version of Xamarin.Forms are you using?

[2018-01-22 22:09] rodrigueslg opened #3279 "Error BI0000 Unexpected error - Xamarin.IOS Bindings"
### Steps to Reproduce

When trying to compile a native bindings project with AdyenCSE SDK, I get the following error:

/Volumes/DADOS/Empresa1/ios-auto-binding-tool/objc-automatic-master/bindings/AdyenCSE/BTOUCH: Error BI0000: Unexpected error - Please file a bug report at http://bugzilla.xamarin.com (BI0000) (AdyenCSE)

Here is the code:

[code]

[2018-01-22 22:50] VincentDondain commented on #3279
Hi,

Please include your full build logs, crash reports (if any), test case (to reproduce) and all your version information.

The test case is especially important here (it can be a stripped down super simple test case that shows the issue) since we're need to check the project options, native library and would be able to compile ourselves.

To get full build logs just set the log verbosity to dia

[2018-01-22 23:05] rodrigueslg commented on #3279
The code was generated using this tool: https://github.com/alexsorokoletov/objc-automatic
The pod to create the binding is: https://cocoapods.org/pods/AdyenCSE

**Enviroment**

Xcode - 9.2 (9C40b)
NuGet 3
ObjectiveSharpie (3.4)

Visual Studio Community 2017 for Mac
Version 7.3.3 (build 5)
Installation UUID: c1563fd1-31df-4833-a4d4-be73e3c4608a
Runtime:
	Mono 5.4.1.7 (2017-06/e66d9abbb27) (64-bit)

[2018-01-22 23:08] GouriKumari commented on #3241
@rolfbjarne: I didn't see this crash on device for linksdk with release+llvm config. Is there a specific configuration to check? BCL tests also executed on QA devices without issues.

[2018-01-23 01:26] dbrevitt opened #3283 "iOS project PropertyGroup element references automatically removed"
### Description
MSBuild PropertyGroup elements cannot be referenced within the `<AssemblyName>` element of a Xamarin Forms iOS .csproj file as the '$', '(' and ')' are automatically removed.

There appears to be some special processing that removes illegal characters from the assembly name when loading Xamarin Forms iOS projects. The merits of this are mentioned in a similar issue here: https://bu

[2018-01-23 02:45] #3272 closed

[2018-01-23 03:01] spouliot commented on #3241
@vargaz can you look if you can duplicate this ?

[2018-01-23 03:43] vargaz commented on #3241
When was the last time this worked/tested ?

[2018-01-23 13:08] garie commented on #3274
`<package id="Xamarin.Forms" version="2.4.0.18342" targetFramework="xamarinios10" />`

[2018-01-23 13:10] garie commented on #3274
Also updated to latest available `<package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="xamarinios10" />` and issue still occurs.

[2018-01-23 13:40] rolfbjarne commented on #3241
@vargaz it worked in d15-5, and it fails in master+d15-6. I'll bisect to see if I can find out more.

[2018-01-23 13:53] GouriKumari opened #3288 "Getting "dyld: Library not loaded: @rpath/Mono.framework/Mono" while debug tvOS extension project."
### Steps to reproduce:
1. Create a tvOS template project and add a TV Services Extension project.
2. Select tvOSextension project from menu and run it in debug mode.
3. Go To Simulator or device. Select the tvOSextension app from TopShelf and pull it down using apple tv remote for simulator and device.

## Expected Behaviour : App should deploy & hit breakpoint.

## Actual Behaviour:  Getting err

[2018-01-23 13:55] GouriKumari opened #3289 "Getting "dyld: Library not loaded: @rpath/Mono.framework/Mono" while debug tvOS extension project."
### Steps to reproduce:
1. Create a tvOS template project and add a TV Services Extension project.
2. Select tvOSextension project from menu and run it in debug mode.
3. Go To Simulator or device. Select the tvOSextension app from TopShelf and pull it down using apple tv remote for simulator and device.

## Expected Behaviour : App should deploy & hit breakpoint.

## Actual Behaviour:  Getting err

[2018-01-23 13:56] GouriKumari commented on #3288
Opened the same issue twice, closing this one.

[2018-01-23 13:56] #3288 closed

[2018-01-23 18:24] VincentDondain commented on #3289
I could confirm that with the above steps to reproduce, we cannot hit a breakpoint set on `get { return TVTopShelfContentStyle.Sectioned; }` (TVService templates) while we can with XI 11.6.1.3 (d15.5 stable).

I got the same error Gouri mentioned, this is indeed a regression.

[2018-01-23 18:48] spouliot commented on #3289
@jstedfast can you have a look ? it might be related to the recent code signing changes

c.c. @rolfbjarne in case it's related to code sharing

[2018-01-23 19:53] VincentDondain commented on #3275
Hi, could you please provide a quick test case showing the issue? This way we'd have the exact code you used to trigger the issue and will be able to investigate your project options.

Please also include your full build logs.

To get full build logs just set the log verbosity to diagnostic at the following locations:
- On Visual Studio for Mac: Preferences > Projects > Build
- On Visual Studio fo

[2018-01-23 20:27] VincentDondain commented on #3283
Hi,

`xamarin-macios` is only for issues against the SDK and this seems (I confirmed internally with @emaf) to be an issue with the Xamarin VS Extension on Windows.

Please report a **new issue** with Visual Studio 2017 directly within the IDE. Simply use **Help > Send Feedback > Report a Problem** to file your issue.

I believe @hartez redirected you here because he thought the issue was against

[2018-01-23 20:27] #3283 closed

[2018-01-23 21:02] rihadavid commented on #3275
Hi Vincent, thanks for the reply. Unfortunately, I currently don't have much time to cooperate on the bug, I just reported it, hoping that someone from xamarin staff will try to resolve it. I believe that I provided clear and simple steps to reproduce it and I believe that it is that kind of bug that is happening in every situation, in every environment.

One quick example when it should happen, h

[2018-01-23 22:56] rolfbjarne commented on #3289
From the build log:

[code]

this looks like something for @jstedfast

[2018-01-23 23:55] rolfbjarne commented on #3241
@vargaz it regressed here: https://github.com/xamarin/xamarin-macios/commit/0cd74f2ed9d8389f1230568a8073586afc1f9082

[2018-01-24 01:31] vargaz commented on #3241
Could you get a stack trace from lldb ?

[2018-01-24 04:20] spouliot commented on #3215
The mono bump part of https://github.com/xamarin/xamarin-macios/pull/3282 fixed this issue. It will be part of our preview 4 (for 15.6).

[2018-01-24 04:20] #3215 closed

[2018-01-24 04:21] spouliot commented on #3210
The mono bump part of https://github.com/xamarin/xamarin-macios/pull/3282 fixed this issue. It will be part of our preview 4 (for 15.6).

[2018-01-24 04:21] #3210 closed

[2018-01-24 06:21] rolfbjarne commented on #3241
@vargaz yes, but it's not very helpful:

[code]

from the value of `$sp` it seems the app's trying to execute the stack somehow.

[2018-01-24 06:29] rolfbjarne commented on #3241
@GouriKumari do you have a build log and an execution log?

@vargaz for some reason I can only reproduce this if I launch the tests and ask them to automatically execute, it doesn't crash if I just launch the app and then manually tap to run the tests. Given that it seems related to exceptions, maybe the stack has to look a certain way for this to trigger?

[2018-01-24 06:48] vargaz commented on #3241
This is using mono 2017-10 right ?

[2018-01-24 08:53] projectgoav opened #3292 "NSUrlSessionHandler : ArgumentNullException : Param Name 'Pointer'"
### Steps to Reproduce

SImiliar issue as: https://bugzilla.xamarin.com/show_bug.cgi?id=61054 but happens more frequent. Decided to raise here as it occurs more frequently than this original ticket suggests.

1. Setup HttpClient with an NSUrlSessionHandler as the HttpMessageHandler
2. Make requests to API
3. Attempt to read HttpResponseMessageContent using `ReadAsStringAsync()` or `ReadAsStreamAsy

[2018-01-24 09:34] rolfbjarne commented on #3241
@vargaz yes, this is mono 2017-10.

[2018-01-24 12:05] ChetanLimitless commented on #3210
The same issue am facing,I am using "realm" I have separately created .net standard library for realm where an initialising the object for realm.Now a adding this lib. to my iOS project and add the reference of the lib.After importing that lib whenever  I create object of that lib ever I get the compile time error.
 May I know any easy and clean way to remove this error.

[2018-01-24 16:13] VincentDondain commented on #3292
Hi,

Thanks for taking to time to open this issue but we try not to duplicate bugs. If you think you can more reliably reproduce an existing bug, that information has to be shared on the original bug (not a new one).

I'll close the GitHub issue and link to it in [bugzilla](https://bugzilla.xamarin.com/show_bug.cgi?id=61054). Feel free to add as much information as you want there.

_Note: the samp

[2018-01-24 16:13] #3292 closed

[2018-01-25 01:24] kspearrin commented on #3115
@timrisi Is there any solution? This is stopping is from updating many of our dependencies.

[2018-01-25 14:00] spouliot opened #3303 "AVAudioUnitComponentManager default .ctor can crash on macOS 10.13.3"
### Steps to Reproduce

1. Run introspection on mac

### Expected Behavior

It works.

### Actual Behavior

It crash on bots - but I have not see this locally.
https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/6079/Test_Report/

It looks like this should not have been bound since there's a singleton-like static property to use the type. It needs to be removed while keeping binary comp

[2018-01-25 17:01] VincentDondain commented on #3303
Yes I didn't (and still don't) get this crash locally.

[2018-01-25 22:27] jgold6 opened #3316 "Building Xamarin.iOS from source does not install mlaunch"
### Steps to Reproduce

1. Build XI from the public source code and install it as the system XI
2. Open VS4M and create an iOS SIngle View app project
3. Deploy the app to a simulator

### Expected Behavior
App will deploy
### Actual Behavior
Popup indicating that app can't be launched due to missing mlaunch

### Environment

[code]

[2018-01-25 22:35] spouliot commented on #3316
@rolfbjarne since we already have the URL (in `Harness.cs`) to the `mlaunch` binary, maybe we can extract it (elsewhere) and add a makefile target to download and install it ?

[2018-01-26 04:24] spouliot opened #3320 "xcode9.3 _temporary_ hacks umbrella"
Add PR where some _temporary_ adjustments were required to work with a beta. This does not replace filing rdars with Apple but will make it easier to review them later (in case a future beta fix them).

CoreGraphics PDF issues with beta1
https://github.com/xamarin/xamarin-macios/pull/3319

[2018-01-26 06:37] vargaz commented on #3241
Its caused by this commit:
https://github.com/mono/mono/commit/ab20369d5f0b5cba4e7671f59eac36095cc18a18

[2018-01-26 14:07] KennethKr opened #3323 "Refit 4.1.0 linking issue"
### Steps to Reproduce

Using latest Refit 4.1.0  on iOS I get this exception and crash when using the "Link sdk frameworks only" build option. I do not have the same problem on Android.

When turning off linking, it works fine. Please see the attached screenshot. The interface where the exception is triggered is pasted below. Its the [Get("/order")] method.

https://github.com/paulcbetts/refit/is

[2018-01-26 15:24] peterringset opened #3324 "Missing bindings in AVCapturePhoto"
### Steps to Reproduce

1. Try to capture a photo using the new `AVCapturePhotoOutput` class
2. Implement interface method `public void DidFinishProcessingPhoto(AVCapturePhotoOutput output, AVCapturePhoto photo, NSError error)` to get the finished photo
3. Extract photo data from `AVCapturePhoto` to use.

### Expected Behavior
The class doesn't bind all ObjC properties and methods, so that photo c

[2018-01-26 16:01] VincentDondain commented on #3324
Hi,

Yes we do have some missing iOS 11 bindings for AVFoundation. You can see them here: https://github.com/xamarin/xamarin-macios/blob/master/tests/xtro-sharpie/iOS-AVFoundation.ignore

We're also missing (and it's not reported by xtro): `@interface AVCapturePhoto (AVCapturePhotoConversions)`.

This is where: `- (nullable CGImageRef)CGImageRepresentation NS_AVAILABLE_IOS(11_0);` is reported.

Ap

[2018-01-26 16:24] spouliot commented on #3324
@mandel-macaque there a few things already in 15.6 or master that might also need to be back ported.

[2018-01-26 16:24] VincentDondain commented on #3323
Hi,

Can you provide a small test case showing the issue?

I am not familiar with the Refit package and I'm having a hard time reproducing the issue only with the code you pasted (:

Thanks.

[2018-01-26 16:29] spouliot opened #3325 "mmp should warn when building 32bits macOS applications"
### References

* https://developer.apple.com/news/?id=01242018c
* https://developer.apple.com/news/?id=01242018d

### Expected Behavior

A warning when building 32 bits Xamarin.Mac applications.

### Actual Behavior

No warning

[2018-01-26 17:33] pritamwalpole opened #3329 "IOS Deploy Issue"
I am using the Xamarin Live Player to deploy the Xamarin.forms to Ipad. I am getting the Unhandled Error Launching Soft debugger and bunch of errors below that and in the next dialog box i am getting the Exception: Mono.Debugging.Soft.ConnectionException: could not connect to the debugger and bunch of erros below that at the same time i am able to see that I am seeing Vizualization error on my ipa

[2018-01-26 18:09] KennethKr commented on #3323
I did some more research into this.

I changed the signature of my method from

[Get("/order")]
Task<TOrderListResponse> List(string route, string createdAfter, CancellationToken? cancellationToken);
to

 [Get("/order")]
Task<TOrderListResponse> List(string route, string createdAfter, CancellationToken token = default(CancellationToken));
Now it works. Any idea why? And remember, this is only an i

[2018-01-26 18:16] VincentDondain commented on #3329
Hi,

This in the repository for the **Xamarin.iOS and Xamarin.Mac SDKs**. For a bunch against the Xamarin Live Player, please use bugzilla: https://bugzilla.xamarin.com/describecomponents.cgi?product=Live%20Player

Also, as a reminder, for any new bug please include your full build logs, crash reports (if any), test case (to reproduce) and all your version information.

To get full build logs just

[2018-01-26 18:16] #3329 closed

[2018-01-26 18:28] VincentDondain commented on #3323
Ok I could confirm this bug with the following environment: https://gist.github.com/VincentDondain/52445d66550d45650f30b09e0c9c5c5a

Moving away from the nullable type (on the `List` method) does indeed seem to solve the issue.

[2018-01-26 19:09] gonzalonm opened #3338 "mono-symbolicate isn't working as expected"
`mono-symbolicate` command replaces an obfuscated stacktrace into a readable stacktrace with lines number of classes. An existing [bug](https://bugzilla.xamarin.com/show_bug.cgi?id=43417) is related with this one.

### Steps to Reproduce

1. Download [iOS.app.mSYM.zip](https://github.com/xamarin/xamarin-macios/files/1668855/iOS.app.mSYM.zip) and [err.log](https://github.com/xamarin/xamarin-macios/

[2018-01-26 21:06] spouliot commented on #3241
weird, some compiler mis-optimization ?
c.c. @BrzVlad

[2018-01-26 21:35] spouliot commented on #3323
@KennethKr the linker works by doing a static analysis of the application. It's often the pieces used by reflection that are tricky. If something else use `A` then it will work with reflection. If nothing use `A` (statically) then reflection will fail. IOW changing your signature might just bring what's needed (and not really related to the signature itself).

The fact that `[Preserve]` is added t

[2018-01-26 22:10] spouliot commented on #3323
quick workaround, add:
[code]
inside your application.

That ensure both the getter and setter of `Handle` are _seen_ by the linker - which means they won't be removed (and won't cause the issue above).

I'll have a look why (in refit) but it's really used thru reflection and (unless preserved) it's normal for the linker to remove it.

[2018-01-26 22:16] KennethKr commented on #3323
Thank you for clearing that up. I’ve changed my usage of Refit, like stated above, as my first attempt isnt really correct (using CancellationToken?). So, from my point of view it’s fine now.

Based on your comments it seems this behaviour is correct from the linker point of view, and that this could be closed?

[2018-01-26 22:16] spouliot commented on #3323
![screen shot 2018-01-19 at 10 34 12 am](https://user-images.githubusercontent.com/260465/35462986-6cb3c4cc-02bc-11e8-9de5-b3afb5712ec5.png)

@VincentDondain all the hints for the workaround could be seen inside VS using the debugger (when debugging the BCL is enabled).

[2018-01-26 22:19] spouliot commented on #3323
@KennethKr yes, I'll bring this up with refit soon (out of town next week). Thanks for the sample, that really helps!

[2018-01-26 22:19] #3323 closed

[2018-01-26 22:20] KennethKr commented on #3323
Quick question, out of interest, why isnt this an issue on Android? The same code works with linking there.

[2018-01-27 16:18] spouliot commented on #3303
@VincentDondain this seems to be an issue on the bots (after they were updated). I'm not sure why neither you or I could duplicate it. However it needs to be committed to `master` too since it still fails there. It can be closed afterward (it was not automatically).

[2018-01-27 21:32] MAlshehri commented on #3199
Same problem [Xamarin Forums](https://forums.xamarin.com/discussion/comment/316016)

[2018-01-28 23:26] VincentDondain commented on #3338
Hi,

This is a mono issue, not a Xamarin.iOS / Xamarin.Mac (SDK) one (:

Would you mind opening the exact same issues against mono? https://github.com/mono/mono/issues/new

_Note: unfortunately we don't have yet the ability to move issues between repos (soon)._

[2018-01-28 23:26] #3338 closed

[2018-01-29 09:57] rolfbjarne commented on #3289
The fix was merged (https://github.com/xamarin/xamarin-macios/commit/d86b0822a46fa383e7f599f8bc302b78c06aeef6), could you verify the fix with a wrench package? Then we might look into getting the fix into d15-6 somehow.

[2018-01-29 09:57] rolfbjarne commented on #3289
@GouriKumari ^ forgot to mention you

[2018-01-29 11:14] MarcosCobena opened #3349 "Lots of errors with a NuGet package depending on .NET Standard"
### Steps to Reproduce

1. Create a new Xamarin.Forms app backed with .NET Standard
  - in Windows can be easily done through the latest template,
  - in macOS you'll have to move core PCL to .NET Standard manually
2. Add https://www.nuget.org/packages/DevsDNA.GettingStarted.XamarinForms/1.0.0-beta to your .NET Standard core lib. (please note the -beta suffix, this' intended)
3. Build iOS project

[2018-01-29 14:12] gonzalonm commented on #3338
Sure, I will file it in mono issues. Thanks

[2018-01-29 15:01] dalexsoto commented on #3144
@cmello418 This isn't closed :) but we would really want to get to the bottom of this issue. If you or someone else is able to reproduce this please share either the steps to get into this error condition or a test case. If you are into the position to share your project that has this issue please fill private bug at https://bugzilla.xamarin.com

[2018-01-29 15:22] BrzVlad commented on #3241
@spouliot @rolfbjarne Shouldn't I be able to run these tests on an iphone6 (arm64) ?

 CreatingStagingDirectory: 52%
 ExtractingPackage: 57%
 InspectingPackage: 60%
 TakingInstallLock: 60%
 PreflightingApplication: 65%
 InstallingEmbeddedProfile: 65%
 VerifyingApplication: 70%
 IncorrectArchitecture: Failed to find matching arch for 32-bit Mach-O input file /private/var/installd/Library/Caches/com

[2018-01-29 16:03] rolfbjarne commented on #3241
@BrzVlad you need iOS 10.3 or earlier, iOS 11+ doesn't support 32-bit.

[2018-01-29 16:32] dalexsoto commented on #3144
Hello Again!

@arielbh helped us to figure this out with his project (thanks a lot!). The issue is that something is trying to instantiate via `Activator` class an instance of `System.ComponentModel.ReferenceConverter` via its `System.Type` ctor but since it isn't referenced directly in you application it gets removed by the [managed linker](https://developer.xamarin.com/guides/ios/advanced_topics

[2018-01-29 16:32] #3144 closed

[2018-01-29 17:45] GouriKumari commented on #3289
@rolfbjarne : I checked it with XI d15-6 11.8.0.8 and  could reproduce the issue. ## Logs:

Verified with Xamarin.iOS master: 11.9.0.100 and breakpoint  for tvOS extension does hit.
I observed a few discrepancies while launching tvOS extension app:
1)  I could launch the extension project when the break point is still hit and I can step in and out
2) Another case, break point is hit and I can step

[2018-01-29 20:42] JamesNK commented on #3144
What about updating Xamarin including the metadata for ReferenceConverter by default? This seems like a fairly common issue.

[2018-01-29 22:23] dalexsoto commented on #3349
I am able to reproduce this issue also on Visual Studio For Mac, diagnostic build -> https://gist.github.com/dalexsoto/b3026a9e698cd2276f709c3df1236f3d

[2018-01-29 22:45] dalexsoto commented on #3349
Sample Project: [GHIssue3349.zip](https://github.com/xamarin/xamarin-macios/files/1675533/GHIssue3349.zip)

[2018-01-30 09:41] rolfbjarne commented on #3289
@jstedfast could you please create the PR to backport this to d15-6?

[2018-01-30 13:48] jstedfast commented on #3289
Back-ported to 15.6: https://github.com/xamarin/xamarin-macios/pull/3354

[2018-01-30 15:41] KotiJocki opened #3357 "Crash on iOS 9 & 10 while downloading images"
### Steps to Reproduce

1. Download and install the InPlay app from the iOS AppStore to a device running iOS 9 or iOS 10 (iPhone 5c, iOS 10.3.3 was what I've reproduced it on but HockeyApp is reporting all devices running iOS 9 & 10)
2. Wait for an NBA basketball game to be available in the app (45 minutes before game start)
3. Proceed to the Draft screen
4. Observe the app crashes

This crash was

[2018-01-30 15:56] duzenko opened #3358 "[iOS] NullReferenceException on a reused ContentPage with a grouped ListView"
### Steps to Reproduce

Using the attached sample
1. Click on the Switch button on the first page
2. Click on the Switch button on the second page

### Expected Behavior
App does not crash.

### Actual Behavior
App crashes.

### Environment

[code]

### Build Logs

[1.txt](https://github.com/xamarin/xamarin-macios/files/1678360/1.txt)

### Example Project (If Possible)

[temp.zip](https://github.c

[2018-01-30 16:08] nfritsche commented on #3109
Any update on this?
Did you get it building by switching to dev branch?

[2018-01-30 17:23] dalexsoto commented on #3357
Hello @KotiJocki thanks for reaching out.

With the provided information we are not really able to tell you what's going on, seems to be related to `FFImageLoading.Cache.DownloadCache`, we'll need a test case that reproduces this behavior in order to track this down.

[2018-01-30 18:49] dalexsoto commented on #3349
Hello @MarcosCobena the team had a look at your issue and concluded that you nuget package isn't built correctly, it seems you are packaging the whole Net runtime dlls inside your package and this is causing `csc` to not be able to build your project

[code]
and a lot more.

I would suggest looking to other nuget packages like https://github.com/jamesmontemagno/SettingsPlugin/tree/master/nuget or

[2018-01-30 18:49] #3349 closed

[2018-01-30 19:53] #3358 closed

[2018-01-30 20:09] VincentDondain opened #3359 "Add a StrongDictionary to SecKey.GenerateKeyPair"
While [PR 3350](https://github.com/xamarin/xamarin-macios/pull/3350): "[Security] Refactoring Sec-keys" is a good step toward making `SecKey.GenerateKeyPair` more usable (by making some internal keys public), I believe we should consider adding an API with a strong dictionary.

The discussion in https://developer.apple.com/documentation/security/1395339-seckeygeneratepair?language=objc explains ex

[2018-01-30 21:10] GouriKumari opened #3361 "[XI]MonkeyApp Project fails to build with an error: Failed to resolve "Newtonsoft.Json.JsonSerializerSettings" reference from "Newtonsoft.Json"
### Steps to Reproduce

1. Open https://github.com/xamarin/xamarin-forms-samples/tree/master/WebServices/AzureSearch/MonkeyApp
2. Build Sample

### Expected Behavior
App should build successfully

### Actual Behavior
http://xqa.blob.core.windows.net/gist/report-c98cb1f5fdc54ff4a61de17de864362f.txt
This App isn't building with d15-5 as well but the error is different. http://xqa.blob.core.windows.n

[2018-01-30 21:15] therealjohn commented on #3164
Unfortunately, right now we don't have enough information to investigate this issue and find a solution. If this is still an issue for you, please update to our latest version. If you are still able to reproduce the problem, please provide us with more info!

[2018-01-30 21:15] #3164 closed

[2018-01-30 21:58] spouliot commented on #3359
it was also mentioned in https://bugzilla.xamarin.com/show_bug.cgi?id=34135
@VincentDondain please close (and cross-link) the old/bugzilla one since it's name does not make it easy to identify

[2018-01-30 22:04] VincentDondain commented on #3359
@spouliot I don't see where it was mentioned in https://bugzilla.xamarin.com/show_bug.cgi?id=34135. As far as I can tell that bug was only asking for the keys to be exposed. Which is the point of https://github.com/xamarin/xamarin-macios/pull/3350. I was thinking I'll close the bug when that PR lands (:

[2018-01-30 23:36] dalexsoto commented on #3361
I am able to reproduce but I am not 100% sure this is X.I fault/bug let me dig more

[2018-01-30 23:51] dalexsoto commented on #3361
Yup this isn't our fault, the iOS project is missing the [Newtonsoft.Json](https://www.nuget.org/packages/Newtonsoft.Json) by adding that package into the Xamarin.iOS project a I am able to build successfully.

[code]

@GouriKumari I see you already opened issue https://github.com/xamarin/xamarin-forms-samples/issues/267 I'll comment my findings and close this issue in favor of the other one.

[2018-01-30 23:51] #3361 closed

[2018-01-31 11:26] mandel-macaque commented on #3109
Yes, I have the dev branch building. I'm going step by step through all the dlls to find the culprit and report it here. Sorry for the lack of feedback.

[2018-01-31 14:10] rolfbjarne commented on #3289
@GouriKumari can you double-check that the bug occurs on device as well? I can reproduce in the simulator, but not on device, and it would affect how serious the bug is.

[2018-01-31 16:18] MarcosCobena commented on #3349
Thanks @dalexsoto and rest for your help on this, I finally could sort the errors out, although ended up in a different issue, which thinks comes more related to how NuGetizer works.

[2018-01-31 16:25] GouriKumari opened #3367 "[macOS]Mac App failed to publish with error:"Unsupported Architectures. Your executable contained the following disallowed architectures: '[i386 Payload/MacCoolApp.app/Contents/MonoBundle/libMonoPosixHelper.dylib)]""
### Steps to Reproduce

1. Open  https://github.com/olegoid/SubmissionSamples/tree/master/MacCoolApp
2. Build and archive
3. Upload macapp.pkg to iTunesConnect

### Expected Behavior
Upload should be successful

### Actual Behavior
Failed with an error "ERROR: ERROR ITMS-90240: "Unsupported Architectures. Your executable contained the following disallowed architectures: '[i386 (in com.xamarin360.m

[2018-01-31 17:26] mandel-macaque commented on #3109
In order to have the debugger working in your project you can delete the following from the solution file:

[code]

There is no need to add anything. I have tested it locally and it works. Please let me know if this is a workaround you are willing to use.

[2018-01-31 17:31] dalexsoto commented on #3367
mmm, I think this is just a release configuration issue, supported archs option here must be set to x86_64

<img width="958" alt="supportedarchs" src="https://user-images.githubusercontent.com/204671/35637352-8fd674c0-0679-11e8-9c67-e7b9947a546e.png">

[2018-01-31 17:32] dalexsoto commented on #3367
mmm never mind, I double-checked the configuration and seems to be this way already

[code]

[2018-01-31 17:33] GouriKumari commented on #3367
I did check that supported architecture is already set to x86_64, https://github.com/olegoid/SubmissionSamples/blob/master/MacCoolApp/MacCoolApp/MacCoolApp.csproj#L53

[2018-01-31 17:40] dalexsoto commented on #3367
I cannot seem to repro with current master let me test with d-15

[code]

[2018-01-31 17:41] dalexsoto commented on #3367
@GouriKumari if you have the binary handy could you run this command on the executable?

`lipo -info Release/MacCoolApp.app/Contents/MacOS/MacCoolApp`

[2018-01-31 17:47] GouriKumari opened #3368 "[XI]System.ComponentModel.DataAnnotations is crashing on a 32 bit device when llvm is enabled with release config"
### Steps to Reproduce

1. Execute System.ComponentModel.DataAnnotations on a 32 bit device with Release config and llvm enabled.

### Expected Behavior
Test should run successfully

### Actual Behavior
Test crashes on device

### Environment
Xamarin.iOS
Version: 11.8.0.18 (Visual Studio Community)
Hash: 4c56cbbf

Device: iPad2 9.3.5
This test passed on 64 bit devices iPhoneX  and iPadAir

### Bui

[2018-01-31 17:52] dalexsoto commented on #3367
Ahh it seems it is not the main executable, sorry I should have reviewed the error message more carefully, the culprit is `libMonoPosixHelper.dylib`

[code]

[2018-01-31 17:54] dalexsoto commented on #3367
It seems we need to remove any other 32 bits from helper libs too, not just the main executable.

/cc @chamons

[2018-01-31 19:24] chamons commented on #3367
We might have to strip libMonoPosixHelper.dylib in release configurations...

[2018-01-31 20:18] GouriKumari opened #3369 "[XI]System tests failure on 32 bit device with Release and llvm enabled"
### Steps to Reproduce

1. Build and Execute System tests on 32 bit device with Release config and llvm enabled

### Expected Behavior
Tests should pass successfully
### Actual Behavior
Most of Blocking CollectionTests fails with NRE and Enumerator_Current in SortedDictionary Test crash which causes System test not to finish successfully. These issues occur only when llvm is enabled.
### Environme

[2018-01-31 20:25] dalexsoto commented on #3368
I can reproduce what Gouri is seeing in an iPhone 5

Crash log: https://gist.github.com/dalexsoto/78a8f87e70a4bb85c078633e75e70b48#file-crash-log
Console log: https://gist.github.com/dalexsoto/78a8f87e70a4bb85c078633e75e70b48#file-console-output

/cc @spouliot FYI

[2018-01-31 20:31] dalexsoto commented on #3368
[code]

[2018-01-31 20:35] GouriKumari opened #3370 "[XI]MonoDataSqlite failures on a 32 bit device with Release+llvm config"
### Steps to Reproduce

1. Execute MonoDataSQLite tests on 32 bit device with Release+llvm config

### Expected Behavior
All tests should pass successfully.

### Actual Behavior
Tests failed.
Test Log: https://gist.github.com/GouriKumari/41e7bc778c0f9020bbf124ee919c0bde

### Environment
Xamarin.iOS
Version: 11.8.0.18 (Visual Studio Community)
Hash: 4c56cbbf
Branch: d15-6

Device: iPad2 9.3.5
Tests

[2018-01-31 20:46] spouliot commented on #3368
c.c. @vargaz

[2018-01-31 20:58] vargaz commented on #3368
Isn't this the same as:
https://github.com/xamarin/xamarin-macios/issues/3241

[2018-01-31 21:06] dalexsoto commented on #3368
@vargaz Could be but the crashlog is different

[2018-01-31 21:17] dalexsoto commented on #3369
I can also reproduce this in an iPhone 5

Crash log: https://gist.github.com/dalexsoto/9a70da64017ede7e534c514d5f75a57e#file-crash-log
Console log: https://gist.github.com/dalexsoto/9a70da64017ede7e534c514d5f75a57e#file-console-log

This does seem like a dupe of https://github.com/xamarin/xamarin-macios/issues/3241

/cc @spouliot @vargaz

[2018-01-31 21:32] GouriKumari opened #3371 "[XI] ImageInverterExtn app displays a blank app on simulator"
### Steps to Reproduce

 1. Download and open https://developer.xamarin.com/samples/monotouch/ios8/ImageInverter/ImageInverter.zip
2. Set iOS Deployment target to 11.0 or higher in both main and extension app
3. Set Extension App as startup project and rebuild the project
4. Deploy it in iOS simulator
5. Open ImageInverter app in iOS simulator
6. Enable ImageInverterExtn App in it

### Expected Be

[2018-01-31 21:34] dalexsoto commented on #3370
I can reproduce this in iPhone 5, can't repro in iPhone 6 Plus using latest d15-6 branch 4c56cbbf025378220b7fa46d66aad9b40d5eb90a

Test log: https://gist.github.com/dalexsoto/fc8bf0fc9d78f723203712189fcfa837

/cc @spouliot @vargaz

[2018-01-31 22:02] JamesNK opened #3372 "Include ReferenceConverter.ctor(Type) with linker by default"
The missing ctor causes this common error - https://github.com/xamarin/xamarin-macios/issues/3144

Neither the end user or Newtonsoft.Json is using that ctor. Something inside the .NET Framework is using reflection to invoke the ctor which causes an error when the linker doesn't include it.

Xamarin should link it by default rather than forcing the user to debug the error, search the web, and then

[2018-01-31 22:05] JamesNK commented on #3372
If you are worried about bloating the final package size with unnecessary methods, you could do something fancy like conditionally include `ReferenceConverter.ctor(Type)` when you detect `Newtonsoft.Json` is referenced.

[2018-01-31 23:44] dalexsoto commented on #3372
We acknowledge this enhancement request, therefore marked it as such.

However, this does not necessarily mean we will take actions on it as we still need to discuss its feasibility internally and make sure it is not conflicting with other features.

[2018-01-31 23:56] brendanzagaeski commented on #3241
Non-public work item to track inclusion of the revert into Visual Studio 2017:
 <https://devdiv.visualstudio.com/DevDiv/_workitems?id=560564>.

[2018-02-01 00:34] brendanzagaeski commented on #3241
Perhaps for @BrzVlad, since the "Align stack" change is being reverted for now, <https://bugzilla.xamarin.com/show_bug.cgi?id=16808> can be reopened to track a different future fix for it, correct?

[2018-02-01 01:50] dalexsoto commented on #3371
Hello @GouriKumari

I am not able to reproduce the issue you are seeing the sample is crashing on me on the simulator, the funny thing is that nothing is printed on the logs, on device won't open at all either. That being said I went and downloaded the Apple sample this port is based on and it does not work either so if this is a line by line port it is likely the sample needs to be updated to mat

[2018-02-01 06:20] nfritsche commented on #3109
This is amazing! I have lived with using inline breakpoints and console for debugging for the past 5 months. It works perfectly now, looking at the blame. It looks like I added this as a workaround for [this](https://bugzilla.xamarin.com/show_bug.cgi?id=56246)  bug.

Thanks for all your help!

[2018-02-01 06:20] #3109 closed

[2018-02-01 10:59] mandel-macaque commented on #3109
Glad to help! Please do remember to remove me from the bitbucket project :)

[2018-02-01 12:17] rolfbjarne commented on #3370
This test succeeds if I apply the fix for #3241, so I'm closing as a dup of that one.

[2018-02-01 12:17] #3370 closed

[2018-02-01 12:34] rolfbjarne commented on #3369
This test succeeds if I apply the fix for #3241 locally, so I'm closing as a dup of that one.

[2018-02-01 12:34] #3369 closed

[2018-02-01 12:56] rolfbjarne commented on #3368
This test succeeds if I apply the fix for #3241 locally, so I'm closing as a dup of that one (for some reason the native stack trace here is actually present, which made it look like it was different from #3241).

[2018-02-01 12:56] #3368 closed

[2018-02-01 14:36] mykyta-bondarenko-gl opened #3377 "[XI] UI freezes while invoking `ARKit.ARSCNView.Session`"
### Steps to Reproduce

1. Download a ([project](https://github.com/mykyta-bondarenko-gl/private-samples/tree/audio-in-arkit/ios11/ARKitAudio))
2. Open:
 - `ARKitAudio/ViewController.cs` file and look at the line 184;
 - `ARKitAudio/Extensions/ARSCNViewExtensions.cs` file and look at the lines 71-72;
3. Uncomment any of these lines (any of these ways show working with `Session` property).
4. Run t

[2018-02-01 14:43] chamons opened #3378 "NSUserName and associated methods are unbound"
From: https://forums.xamarin.com/discussion/120438/logged-in-user-name

There are a number of C functions unbound in macios.

https://developer.apple.com/documentation/foundation/1414297-nsusername?language=objc

[2018-02-01 14:50] chamons commented on #3378
Workaround:

[code]

[2018-02-01 15:26] dalexsoto commented on #3378
Just a little of sugar, using `Constants.FoundationLibrary` instead of the path and also use string in the exposed properties 😃

[code]

---

[code]

[2018-02-01 17:18] GouriKumari commented on #3289
I couldn't reproduce this issue on device. Breakpoint in extension project gets hit as expected. Tested with current beta which failed for tvOS simulator.

## Screencast: https://screencast.com/t/h4rsIARzlz
## Test Env: https://gist.github.com/GouriKumari/8cc9d0cd53c32689d4a1ec5b6bc67a46

[2018-02-01 17:25] BrzVlad commented on #3241
@brendanzagaeski I can't reproduce any issues on the test case from that bug and I remember this commit in particular was not directly related to that bug. I think it was a separate issue from runtime tests but can't remember exactly. I think we should leave the bug closed and keep an eye open for new intermittent assertions on CI.

[2018-02-01 18:21] brendanzagaeski commented on #3241
Interesting. Thanks!

[2018-02-01 18:23] MichaelShapiro opened #3379 "Storyboard with more than 26 ViewControllers - Disappearing constraint lines"
### Steps to Reproduce
In Xamarin iOS project if storyboard has more than 26 View Controllers the constraint lines become invisible (disappear) on each ViewController.

1. Create iOS project with storyboard
2. Open storyboard, remove all view controllers (if any exist)
3. Place a new ViewController
4. Place a Button and a Label on the ViewController
5. Switch to Constraints mode and create some co

[2018-02-01 19:46] spouliot commented on #3378
is this not already covered by `Environment.UserName` ? https://msdn.microsoft.com/en-us/library/system.environment.username(v=vs.110).aspx

[2018-02-01 19:54] spouliot commented on #3377
This sounds a lot like https://bugzilla.xamarin.com/show_bug.cgi?id=60393
and documentation should have been updated for it

[2018-02-01 19:55] dalexsoto commented on #3378
And @spouliot is completely right, `Environment.UserName` == `NSUserName` in my case

[2018-02-01 21:58] dalexsoto commented on #3377
Yes this is a dupe of Bug https://bugzilla.xamarin.com/show_bug.cgi?id=60393, if I change the code to an using all works as expected, so you need to either dispose the `CurrentFrame` manually or place it inside a using.

[code]

[2018-02-01 21:58] #3377 closed

[2018-02-01 22:10] dalexsoto commented on #3379
I was able to reproduce this using the provided test case.

/cc @alanmcgovern FYI

[2018-02-01 22:30] spouliot commented on #3377
Just double checked that it's in our documentation
https://developer.xamarin.com/api/member/ARKit.ARSessionDelegate.DidUpdateFrame/p/ARKit.ARSession/ARKit.ARFrame/

[2018-02-01 22:54] brendanzagaeski commented on #3241
Cross-referencing status note: The pull request to bring the Mono revert into the xamarin-macios `xamarin:d15-6` branch has now been merged in https://github.com/xamarin/xamarin-macios/pull/3380.

[2018-02-02 12:58] mykyta-bondarenko-gl commented on #3377
Thank you! Sorry that before I didn't check the Bugzilla (only github).

[2018-02-02 13:45] mykyta-bondarenko-gl opened #3383 "`SceneKit.SCNPhysicsWorld.ConvexSweepTest` method doesn't work properly"
### Steps to Reproduce

1. Download a project
2. Open a `Fox2.Shared/Character.cs` file and look at the line 787. Put a breakpoint to the line 789.
3. Run the project
4. Run forward using control on the bottom left corner.

### Expected Behavior
The `ConvexSweepTest` method return collision contacts.

### Actual Behavior
The `ConvexSweepTest` method doesn't return anything. Output is empty.

### E

[2018-02-02 14:58] therealjohn commented on #3379
@MichaelShapiro Thanks for your feedback! I was able to reproduce this and I've logged t[his issue in Bugzilla](https://bugzilla.xamarin.com/show_bug.cgi?id=61207) where the team working on the designer will be able to track and update it accordingly. Please refer to that bug to continue tracking this.

[2018-02-02 14:58] #3379 closed

[2018-02-02 15:13] spouliot commented on #3383
@dalexsoto can you have a look ? I thought that was back ported to 15.6

[2018-02-02 15:17] spouliot commented on #3371
@dalexsoto since it was hinted as a regression from 15.4 can you try again with that version ?
If it does not work then please close this (since it's not a bug in the products) and open an issue in the sample repo (plus cross-links). Thanks!

[2018-02-02 15:24] spouliot commented on #3303
Comments from last PR mention it's fixed (but it was not closed automatically)

[2018-02-02 15:24] #3303 closed

[2018-02-02 19:20] dalexsoto commented on #3383
@spouliot I do not see anything specific to `SceneKit.SCNPhysicsWorld.ConvexSweepTest` in master that needs to be back ported, its been the same since forever, do you recall anything else that needed to be back ported ?. That being said, will have a look at the sample.

[2018-02-02 19:50] #3241 closed

[2018-02-02 20:10] dalexsoto commented on #3371
I have tested the sample with d15-4 [0] and I see no difference with my previous testing results.

[0]:
[code]

[2018-02-02 20:10] #3371 closed

[2018-02-02 20:58] jgold6 commented on #3183
I just ran into this as well. Had to remove "workbooks" from /etc/paths.d to build XI/XM

[2018-02-03 00:51] dalexsoto commented on #3383
Hello @mykyta-bondarenko-gl, `SceneKit.SCNPhysicsWorld.ConvexSweepTest` is working fine, the issue lives inside your helper class `SimdExtensions.SetPosition` it seems your matrix positions are a little off 🙂

<img width="410" alt="screen shot 2018-02-02 at 6 38 58 pm" src="https://user-images.githubusercontent.com/204671/35760970-aaac78e0-0849-11e8-901e-36291d6d5a69.png">

vs

<img width="182" al

[2018-02-03 00:51] #3383 closed

[2018-02-03 19:49] blmiles commented on #3372
@JamesNK you said: "...rather than forcing the user to debug the error, search the web, and then eventually find the issue above and fix it themselves."

Question: what then IS the solution to this while we're awaiting a possible fix?

My app compiles until I call the JsonConvert.SerializeObject(myObject) method.
Then I get: Constructor on type 'System.ComponentModel.ReferenceConverter' not found.

[2018-02-03 20:05] JamesNK commented on #3372
Having a Linker.xml that includes the constructor is the fix. You can do that now - https://github.com/xamarin/xamarin-macios/issues/3144#issuecomment-361303109

Xamarin should include it by default so developers don't need to jump through these hoops.

[2018-02-04 22:18] spouliot commented on #3257
There's sadly nothing actionable in the bug report. Please try to either

a. *best* - reduce your application (removing code) as much as possible while being able to reproduce the crash. When it cannot be reduced anymore share this code with us (it can be done thru bugzilla, or another mechanism, to ensure it remains private);

b. Attach the symbolicated crash report (from the device) to this issu

[2018-02-05 02:56] GouriKumari opened #3389 "[XI]MetalPerformance Shaders test failures on an iPadAir"
### Steps to Reproduce

1. Build and Execute monotouch-test on an iPad Air 11.2.5  device.
The device version of iPadAir is 11.2.5 and not 8.4.

### Expected Behavior
All tests pass

### Actual Behavior
[FAIL] KernelTest.MPSKernelCopyTest : System.Exception : Could not initialize an instance of the type 'MetalPerformanceShaders.MPSKernel': the native 'initWithDevice:' method returned nil.
	[FAIL]

[2018-02-05 08:29] mykyta-bondarenko-gl commented on #3383
@dalexsoto thank you very much! Sorry for that :(

[2018-02-05 11:54] juripyykko commented on #3199
@spouliot @timrisi  Any update on this? We're getting closer to release and haven't been able to run the app on an iPhone yet. Is someone looking at it? Can I assist in any way?

[2018-02-05 14:49] wiltwitt commented on #3210
I have same issue.  I am using PCL.  It works fine on iPhone emulator on Mac but not on physical device.

[2018-02-05 15:08] KotiJocki commented on #3357
Hi @dalexsoto

I've not been able to reproduce this problem with a sample project.

[2018-02-05 15:08] #3357 closed

[2018-02-05 16:48] mykyta-bondarenko-gl opened #3392 "The `SceneKit.SCNSceneRenderer.OverlayScene` property can not be null (but should be)"
I am working on the original Apple sample and found a difference between the API: I can set `null` to the
[OverlayScene](https://developer.xamarin.com/api/property/SceneKit.ISCNSceneRenderer.OverlayScene/) property using `swift` but can not do it using `Xamarin`.

### Steps to Reproduce

1. Create an instance of `SCNView`
2. Set not-nullable value to the `OverlayScene` property
3. Set `null` to th

[2018-02-05 17:47] spouliot commented on #3372
@blmiles do you have a test case you can share with us ?

If that `ReferenceConverter` constructor is used by reflection from the BCL/SDK the we should fix this (it's a bug) inside our tools - based on condition where this is needed (not impacting other use cases). However the previous bug report could not be confirmed by the team (only externally).

[2018-02-05 18:05] rolfbjarne commented on #3289
Workaround: add `--mono:static` to the additional mtouch arguments in _all_ projects' iOS Build options.

[2018-02-05 21:03] spouliot commented on #3392
The ObjC [documentation](https://developer.apple.com/documentation/scenekit/scnscenerenderer/1524051-overlayskscene?language=objc) does not mention it's `nullable`

However it's optional on the swift [documentation](https://developer.apple.com/documentation/scenekit/scnscenerenderer/1524051-overlayskscene)

[2018-02-05 21:54] spouliot commented on #3372
Since we moved to reference sources it seems there are more type converters then before (in mono). I have not hit `ReferenceConverter` (so a test case would be nice) but we're also missing `NullableConverter` (easy to test).

Still if anyone can share a test case or just the stack trace it would be helpful since we preserve them (the type descriptors) only if the code path can hit the case. I don'

[2018-02-05 22:01] divega opened #3394 "Query throws Exception with Xamarin iOS -> linking issue"
_From @rob2212 on November 2, 2017 16:29_

When I query a DbSet e.g. with a simple ToList() call I get the exception shown below. The exception is only thrown on real iOS device. It works with the iOS emulator.

`var test = context.Images.ToList();`

[code]
The problem seems to be the linking behavior with the Xamarin project. I've tried to disable linking for some assemblies in the iOS Xamarin pr

[2018-02-05 22:01] divega commented on #3394
_From @ajcvickers on November 6, 2017 20:40_

@rob2212 Would it be possible for you to post a code listing or project that reproduces what you are seeing? It looks like this is likely a Xamarin issue, but we would like to investigate before potentially filing an issue with them.

[2018-02-05 22:01] divega commented on #3394
_From @rob2212 on November 7, 2017 6:6_

I will prepare sample project for reproduction later on.

[2018-02-05 22:01] divega commented on #3394
_From @rob2212 on November 8, 2017 8:56_

@ajcvickers I've created a test project which you can use to reproduce the issue. I've inserted some warnings at the relevant places. Where can I upload it? Attachments here can only be 10 MB.

[2018-02-05 22:01] divega commented on #3394
_From @ajcvickers on November 8, 2017 16:52_

@rob2212 Two things to try:
* Many people just creat a new github repo and put the project there
* Clean the project and, given that NuGet can restore packages needed, the cleaned. unbuilt project may be smalll enough to attach.

[2018-02-05 22:01] divega commented on #3394
_From @rob2212 on November 9, 2017 11:8_

@ajcvickers
[TestApp.zip](https://github.com/aspnet/EntityFrameworkCore/files/1457362/TestApp.zip)

[2018-02-05 22:01] divega commented on #3394
_From @eusebiu on November 13, 2017 20:37_

Any news on this? Thanks!

[2018-02-05 22:01] divega commented on #3394
_From @NPadrutt on November 14, 2017 10:48_

I have the same issue with the extension ToListAsync().

[2018-02-05 22:01] divega commented on #3394
_From @eusebiu on November 16, 2017 19:4_

After updating to 2.0.1 and call .Any(), I get: The type initializer for 'Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions' threw an exception
**Inner exception: Sequence contains no matching element**
  at System.Linq.Enumerable.Single[TSource] (System.Collections.Generic.IEnumerable`1[T] source, System.Func`2[T,TResult] predicate) [0x000

[2018-02-05 22:01] divega commented on #3394
_From @DeepakRoy on November 22, 2017 9:50_

I have the same issue, is there any solution?

[2018-02-05 22:01] divega commented on #3394
_From @eusebiu on November 22, 2017 11:5_

I found an workaround (as it was blocking me to release the app), inspired by @rob2212 - use linkskip.
Set Configuration to Release, Link Framework SDK only and add these in mtouch arguments:

`--linkskip=Microsoft.EntityFrameworkCore --linkskip=Microsoft.EntityFrameworkCore.Relational --linkskip=Microsoft.EntityFrameworkCore.Sqlite --linkskip=Remotion.Li

[2018-02-05 22:01] divega commented on #3394
_From @NPadrutt on November 22, 2017 12:49_

@eusebiu nice, so far it seems to work! thank you very much! :)

[2018-02-05 22:01] divega commented on #3394
_From @evertonutfpr on January 18, 2018 17:5_

Any news on this? Thanks!

[2018-02-05 22:01] divega commented on #3394
_From @shanhongyue on February 4, 2018 9:26_

I did not encounter this problem in the iPhone X simulator, but encountered in my real iPhone X machine, which was very interesting.

[2018-02-05 22:09] GouriKumari opened #3395 "[XI]OptimizeGeneratedCodeTest.IntPtrSizeTest : non-empty body [LinkAll test] failed with Release config on device"
### Steps to Reproduce

1.  Update System to xamarin.ios-master build, bec116c273ab119c648522a28c3f650881ed4d9e
2. Execute LinkAll tests on device with Release config with or without llvm enabled

### Expected Behavior
All tests should pass

### Actual Behavior
OptimizeGeneratedCodeTest.IntPtrSizeTest :   non-empty body [LinkAll test] failed with Release config on device

### Environment
Build Rev

[2018-02-05 23:02] DeepakRoy commented on #3394
Tried various options mentioned above with linkskip still no luck finally ended up converting datatype datetime? to string also double? To string then everything worked.

[2018-02-05 23:18] rolfbjarne commented on #3395
I can reproduce this, I'll have a look.

[2018-02-06 02:19] #3372 closed

[2018-02-06 03:59] spouliot commented on #3394
EntityFrameworkCore uses quite a bit of reflection which has a few drawbacks: performance (it's slower) and hiding code usage from static analysis tools.

The later is the reason why, when the linker is enabled (default for device builds), you run into issues at runtime. The linker cannot see everything that's required, because there's no _hints_ from the library to help it, so code used *only* th

[2018-02-06 03:59] #3394 closed

[2018-02-06 09:24] bhavinjoshi opened #3398 "Can't resolve the reference 'UIKit.UIViewController Acr.Support.iOS.Extensions::GetTopViewController(UIKit.UIApplication)'"
### Steps to Reproduce

### Expected Behavior
I am using Arc.UserDialog(7.0.1) Library in my Xamarin Project using Xamarin Forms. And when i try to Build & archive application for testflight  or i try to run it in iPhone mobile it shows error as below

Can't resolve the reference 'UIKit.UIViewController Acr.Support.iOS.Extensions::GetTopViewController(UIKit.UIApplication)'
referenced from the meth

[2018-02-06 12:50] Cheranarasu opened #3399 "Got a SIGSEGV while executing native code. This usually indicates a fatal error in the mono runtime or one of the native libraries used by your application in Xamarin.iOS"
### Steps to Reproduce

I tried to download pdf format file using NSUrlSession and shown progress in UI.

Code Snippet:

[code]
Get download progress using following NSUrlSessionDwonloadDelegate:
Code to setup delegate and the delegate code itself:
[code]
It works fine but need to download three format file with single button click and also show progress of all format file download in a single pro

[2018-02-06 13:54] lewurm opened #3400 "build breaks if $PATH contains whitespace"
### Steps to Reproduce

1.
[code]

2. `make all`
[code]

### Expected Behavior

Should not break build. For what it's worth, VMware Fusion also adds a path with a whitespace.
### Environment

current master

### Workaround
quote paths with `"`

[2018-02-06 14:08] bigDave1357 opened #3401 "Code signing / package signing in Visual Studio for Mac not working"
### Steps to Reproduce

1. Application is configured to be signed using Developer ID and Mac distribution ID.
2. Appropriate distribution profile in place and downloaded
3. Building produces a package as expected but the package will fail Gatekeeper test when downloaded from the Internet - reports as signed by an unknown developer. Package otherwise works normally, if this check is bypassed.

###

[2018-02-06 15:03] spouliot commented on #3399
^ it looks like you're trying to access a non secure resource, e.g. `http://`, and have not editing for `Info.plist` to allow this.

Apple started to disallow this, by default, a few years back. Try this with an `https://` URL to see if it solves your issue.

[2018-02-06 15:17] mandel-macaque commented on #3401
Hello,

Can you please either share the project you are having issues with or provide access to it? I have created a simple application and have had no issues with the signing process.

[2018-02-06 15:18] mandel-macaque commented on #3400
@lewurm is this happening in the xamarin-ios project? Or is it in Workbooks?

[2018-02-06 15:19] bigDave1357 commented on #3401
Would a copy of the signed package be useful for diagnosis?

[2018-02-06 15:21] mandel-macaque commented on #3398
Hello,

Can you please add a sample project that reproduces the issue as well as the full enviroment information?

The easiest way to get exact version information:
- On Visual Studio for Mac: "Visual Studio" menu, "About Visual Studio" item, "Show Details" button.
- On Visual Studio for Windows: "Help menu", "About Microsoft Visual Studio" item.
Then copy/paste the version information (you can us

[2018-02-06 15:26] lewurm commented on #3400
it's happening on the build of `xamarin-macios`

[2018-02-06 15:36] spouliot commented on #3247
@dalexsoto @rolfbjarne comments please ? :)

[2018-02-06 15:54] spouliot commented on #3274
This issue was moved to xamarin/Xamarin.Forms#1806

[2018-02-06 15:54] #3274 closed

[2018-02-06 15:58] rolfbjarne commented on #3247
I like the idea :smile:

Although it seems weird to say the type is the designated initializer. Adding (yet!) another (generator only) attribute could make it more self-documenting: (`[DesignateDefaultInitializer]`, `[DefaultConstructorIsDesignatedInitializer]`, `[DesignateDefaultConstructor]`, or something else).

[2018-02-06 16:05] spouliot commented on #3389
That's quite weird since those tests have:
[code]
so they should be ignored on iOS 8.4 and you should see something like
[code]

Are you sure your tests revision were _in sync_ ?

[2018-02-06 16:19] spouliot commented on #3400
dupe of https://github.com/xamarin/xamarin-macios/issues/3183

[2018-02-06 16:19] #3400 closed

[2018-02-06 16:40] GouriKumari commented on #3389
I rechecked the device-version. The device version on which this issue is happening is on iPadAir 11.2.5.

Test Log: https://gist.github.com/GouriKumari/05d9c12b3e1f09f74f92d792303568e9

GitRevison and XI version installed are same in bot: https://gist.github.com/GouriKumari/f92070a2d2038a4fe1338369bd168dca

[2018-02-06 17:21] sayedihashimi opened #3403 "File->New Project: Choice of Target Platforms not being remembered"
### Steps to Reproduce

1. New Project -> Blank Forms App
1. Uncheck `Android`
1. Finish creating the project
1. New Project -> Blank Forms App
1. Notice that `Android` is checked

### Expected Behavior

The state of the checkboxes in `Target Platform` should be remembered for that user
For users who are targeting a specific platform this can cause frustration because an extra project will be crea

[2018-02-06 17:29] sayedihashimi opened #3404 "XAML not properly cased in New Item dialog"
The following Item Templates have `Xaml` in the description. They should be changed to use the correct branding `XAML`.

 - Forms->Forms Content Page Xaml
 - Forms->Forms ContentView Xaml

[2018-02-06 17:39] sayedihashimi commented on #3404
Closing because I've filed this in the wrong place.

[2018-02-06 17:39] #3404 closed

[2018-02-06 17:39] sayedihashimi commented on #3403
Closing because I've filed this in the wrong place.

[2018-02-06 17:39] #3403 closed

[2018-02-06 17:52] dalexsoto commented on #3247
Yup, I like the idea too and agree with @rolfbjarne comments having

[code]

Feels a bit weird, but maybe instead of having another Attribute for this, we can have something like this `[DesignatedInitializer (DefaultCtor = true)]` or `[DesignatedInitializer (EmptyCtor = true)]`

[code]

[2018-02-06 18:50] spouliot commented on #3247
We already have `[DisableDefaultCtor]` so maybe `[DesignatedDefaultCtor]` ?

Even if, from scratch, I would prefer if we had `[DefaultCtor (Disable = true, Designated = true)]` instead of a proliferation of attributes.

Of course the case above does not make sense :)

[2018-02-06 19:08] dalexsoto commented on #3247
XAMCORE_4_0? :D

`[DesignatedDefaultCtor]` sounds great to me! 👍

[2018-02-06 19:55] GouriKumari commented on #3367
Verified submission with a nativeframework that has 32 bit and 64 bit part and submission wasn't allowed.
##Logs:
Build Log: https://gist.github.com/GouriKumari/f49cd6936f6f7a93bc6d020122ca1c24
Submission Log: https://gist.github.com/GouriKumari/5b8fdb69fcd8bbf29354948cdfefba2e

[2018-02-06 20:47] GouriKumari opened #3406 "[XI]WatchOS apps fail to build with error "Undefined symbols for architecture armv7k" using XI with mono-2017-12 support"
### Steps to Reproduce

1. Open or create a new watchOS sample
2. Build it with Release|iPhone config

### Expected Behavior
App should build successfully

### Actual Behavior
App fails to build with error: https://gist.github.com/GouriKumari/66f9a07284774f479ebea69877922ac6 .
This issue occurs only with Release|iPhone config.

### Environment

Test Env: https://gist.github.com/GouriKumari/af3f4d4

[2018-02-06 21:38] kdubau opened #3407 "MTOUCH : error MT3001: Could not AOT the assembly in eShopOnContainers sample"
### Steps to Reproduce

1. Clone https://github.com/dotnet-architecture/eShopOnContainers
2. `nuget restore eShopOnContainers-iOS.sln`
3.  `msbuild eShopOnContainers-iOS.sln /p:Platform=iPhone /p:Configuration=Debug /p:MtouchArch="ARM64" /p:CodesignKey="<your key>" /p:CodesignProvision="<your dev profile>"`

### Expected Behavior
Build succeeds.

### Actual Behavior
AOT compilation fails.
[code]

[2018-02-06 21:43] spouliot commented on #3407
c.c. @vargaz

[2018-02-06 22:23] rolfbjarne commented on #3247
👍 to `[DesignatedDefaultCtor]`

[2018-02-06 22:52] kdubau commented on #3407
I should add this happens with the latest commit on that sample repo, but since that might change, it's this commit https://github.com/dotnet-architecture/eShopOnContainers/commit/5b25dfdd256723377ce0da75c5ff162351557d03 at this time.

[2018-02-07 03:42] dalexsoto commented on #3279
I see various errors in your API definition like

[code]

Removing `[Static]` is incorrect since the native selector is a `static` one and some others down the line.

`objc-automatic` is a unsupported tool by Xamarin and while it uses our tooling like [ObjectiveSharpie](https://developer.xamarin.com/guides/cross-platform/macios/binding/objective-sharpie/) to generate the API definition to interfac

[2018-02-07 10:14] mandel-macaque commented on #3401
Yes, although I would like to try and generate a similar package locally to be able to pinpoint what is not working. I would like to try and triage the bug and set it to the right part of the code. Nevertheless, that would be a step forward in the investigation :)

[2018-02-07 10:15] bigDave1357 commented on #3401
OK - download available from this link

Version 2.2.0.0 for Mac <http://avn.co.uk/files/appsuite/macOS/AF.OSX-2.2.0.pkg>

[2018-02-07 11:05] #3395 closed

[2018-02-07 11:35] mandel-macaque commented on #3182
I am attaching an objc project that targets 10.0 that uses safe area layout and that, when executed in a iOS sim using 10.0 works, as well as, in a sim with 11.2:

![screen shot 2018-02-07 at 12 29 25](https://user-images.githubusercontent.com/2190086/35914327-2d4b21e0-0c03-11e8-89a9-dce7f3ec24d8.png)
[SimpleSafeAreaGuides.zip](https://github.com/xamarin/xamarin-macios/files/1702865/SimpleSafeArea

[2018-02-07 12:31] alanmcgovern commented on #3182
The library project in this sample contains `Storyboard.storyboard`. This storyboard file is set to use the 'Project Deployment' ios version as it's deployment target.
<img width="1208" alt="screen shot 2018-02-07 at 12 29 42" src="https://user-images.githubusercontent.com/264396/35916543-a277e3be-0c02-11e8-8862-7b3fdcaf5f68.png">

The problem is that the library project cannot read the 'deploymen

[2018-02-07 12:34] mandel-macaque commented on #3182
Closing issue after @alanmcgovern gave a way to fix the issue.

[2018-02-07 12:34] #3182 closed

[2018-02-07 12:56] blmiles commented on #3372
Sorry this has taken a while to reply.

Actually, the error: Constructor on type 'System.ComponentModel.ReferenceConverter' not found... was correct.

Sorry, I cannot post my code but will try with an analogy :)

I have interface IAnimal and IDog : IAnimal and ICat : IAnimal
I have concrete classes Dog : IDog an Cat : ICat
I have a List<IAnimal>() Animals which contains dog n cats.

JsonConvert.Se

[2018-02-07 14:05] KennethKr opened #3420 "Wrong resx resources chosen when multiple languages setup on iOS"
If you setup resx files for several languages and add more languages on the iPhone, the prime language  doesnt seem to be chosen. I've added Norwegian as the only language in a project with a norwegian and english resx, then it works, if I add english as the secondary language on the phone, then the english resx is chosen.

### Steps to Reproduce

1. Add a project with a "Strings.nb-NO.resx" and a

[2018-02-07 15:39] mandel-macaque commented on #3420
Hello, this might be an issue related with [bug 59596](https://bugzilla.xamarin.com/show_bug.cgi?id=59596)

It is important, not only that you add the resources files but that you let the iOS system know that your application is translated, and which languages it supports. Please can you confirm you are doing so, there is a nice explanation in the following [comment](https://bugzilla.xamarin.com/s

[2018-02-07 16:33] mandel-macaque commented on #3176
I have tried the sample that can be found in https://developer.xamarin.com/samples/monotouch/Notifications/ and the notifications are installed. Can you double check the issue. If the issue does continue to exist can you please provide full build logs of the application so that we can study the compilation process and ensure that the extension is indeed added.

To get full build logs just set the

[2018-02-07 17:25] mandel-macaque commented on #3407
@kdubau is there any steps I need to follow to compile the app and test it? I did a simple checkout but had the following errors: https://gist.github.com/mandel-macaque/7b5f0c7aaf8fa18ddcc23761aa023de7

[2018-02-07 18:36] #3392 closed

[2018-02-07 20:44] spouliot commented on #3253
Found the issue on the plane. PR incoming (after rebuilding with master's head)

[2018-02-08 04:16] Cheranarasu commented on #3399
Hi @spouliot ,

I tried to download https:// URL only. Download properly works with CreateDownloadTask and had problem when use CreateDownloadTaskAsync only. I need to use async to achieve my scenario. Need to download three format file with single button click.

Regards,
Cheran

[2018-02-08 05:13] spouliot commented on #3399
That's weird because you should not be seeing the message you pasted.

Anyway the best way to solve this is to attach a self-contained test case to this issue so we're able to duplicate the same crash (just by running the test case and see if crash). There's a lot of moving pieces in networking code and duplicating results can often be hard (timing, servers, protocols...).

[2018-02-08 05:27] spouliot commented on #3372
@blmiles thanks for following up :)
I think we nailed it down. Our move to use more of MS BCL source code supported more type converters than mono had.

[2018-02-08 07:56] KennethKr commented on #3420
Thank you @mandel-macaque. I added the below code to my Info.plist, and now it seems to work.

[code]

[2018-02-08 11:18] mandel-macaque commented on #3420
@KennethKr this is a common mistake. As a rule of thumb, remember that you have to let the iOS system know the app is translated, even if you are not using the Apple translation services, so adding the list is a must. Closing the issue :)

[2018-02-08 11:18] #3420 closed

[2018-02-08 11:31] Cheranarasu commented on #3399
Hi @spouliot ,

Sorry for inconvenience.

I tried to download `http:// `only, it download properly if `CreateDownloadTask` used and error occurs only if use `CreateDownloadTaskAsync` process. I have used below link process for App Transport Security policy,
https://stackoverflow.com/questions/32631184/the-resource-could-not-be-loaded-because-the-app-transport-security-policy-requi

Please find sam

[2018-02-08 12:00] gabrieligbastos commented on #3215
Hi @spouliot , Thanks for response.
Let me ask something, is it possible to have more info about the existing error?

Like who is referencing System.Configuration.ConfigurationException?

Thanks in regards,

[2018-02-08 12:24] mandel-macaque commented on #3389
@GouriKumari I have ran the tests with an iPad Air 2 with iOS 11.2 Build version 15C5092b with master 6f59487700ec9af031e2940209bdd4d803cf9286 and those tests do pass. On the other hand, I have a new failure:

[FAIL] PassTest.BoardingPass :   LocalizedName

[2018-02-08 13:44] #3253 closed

[2018-02-08 16:37] mandel-macaque commented on #3389
@GouriKumari  also tested with d15-6 with the same device as the previous comment with hash 1c6f300ef26ff1fb06965a8accae473eb5f96ec3 and had no failures.

[2018-02-08 18:20] spouliot commented on #3389
@GouriKumari that makes no sense on that device/version. It's like MPS is not available
Please reboot the device and try again

[2018-02-08 19:13] GouriKumari commented on #3389
I retested manually. I could reproduce the issue before and after restart.
## Logs:

Build log: https://gist.githubusercontent.com/GouriKumari/738bdba07f475b997370787d90102172/raw/f889b9f8e7cd02a159aeb1376f9f9d20dbd3575c/gistfile1.txt
Test Log: https://gist.github.com/GouriKumari/df21ec37645a7eb0836cadb293ce140a

iPad Air (MD785LL/A) Version 11.2.5 (15D60)

Test passes on an iPhone8 11.2.5 (15D60)

[2018-02-08 20:19] Nixon-Joseph commented on #3210
I see that this issue has been resolved, how do I get the version where it is fixed?/How long until a stable version with the fix comes out? On a deadline with the app, and need to make sure I can build and deploy ios.

Thanks!

[2018-02-09 10:08] mandel-macaque commented on #3389
@spouliot I'm not an expert in Metal, but initWithDevice can fail if the device is not supported [docs](https://developer.apple.com/documentation/metalperformanceshaders/mpskernel/1618763-initwithdevice?language=objc).

@GouriKumari you can confirm you tested with an iPad Air and not with an iPad Air 2, correct? It might be the case that the device is not longer supported and we need to modify the

[2018-02-09 10:12] mandel-macaque commented on #3389
@spouliot I'm thinking something like in the following [diff](https://gist.github.com/mandel-macaque/c6fae25d27c83f118a00462f3ab18b3d)

[2018-02-09 10:27] Kortdag opened #3441 "Linking on Xamarin IOS apparently removes some EF Core 2.0 features"
### Steps to Reproduce
Run on a real device. Haven´t testet on emulator.
Fix Info.plist certificates to you own

1. Run sample project with Linker behavior "Link SDK frameworks Only". And deploy
2. Run sample project with Linker behavior "Dont link"
3. var test = context.Blogs.Include(x => x.Posts).ToList(); in app delegate fails i scenario 1) with [Microsoft.EntityFrameworkCore.EntityFrameworkQue

[2018-02-09 11:58] mandel-macaque commented on #3441
Hello,

I tried to test the supplied application but it does not build since the platform of the EF dependency lib does not match with the Xamarin.iOS runtime:

![screen shot 2018-02-09 at 12 55 32](https://user-images.githubusercontent.com/2190086/36026749-bf77cdf2-0d98-11e8-81c6-bd3b4cd2e913.png)

Can you please fix the project and resubmit. Nevertheless, it is important to note that it might be

[2018-02-09 12:02] mandel-macaque opened #3445 "PassTest.BoardingPass : LocalizedName fails on iPad Air 2 device iOS 11.2"
### Steps to Reproduce

1. make run-ios-dev64-monotouch-tests using an  iPad Air 2 with iOS 11.2 Build version 15C5092b

### Expected Behavior

All tests pass.

### Actual Behavior

[FAIL] PassTest.BoardingPass : LocalizedName

### Environment

Failure occurs in

master: https://github.com/xamarin/xamarin-macios/commit/6f59487700ec9af031e2940209bdd4d803cf9286
d15-6: https://github.com/xamarin/xama

[2018-02-09 13:08] Kortdag commented on #3441
Hi

Huh, it builds finde on my machine. On my machine the error just shows up since to get migrations to work I seems to have to target both cnetstandard and coreapp like so in the proj file
<TargetFramework>netstandard2.0</TargetFramework>

Anyway I changes it back to only netstandard2.0 which makes the VS error not showing up.
It compiles fine on my machine and the issue remains to be there.

Ho

[2018-02-09 14:18] rolfbjarne opened #3446 "mlaunch may try to connect to devices over wifi even for devices where wireless debugging is disabled"
### Steps to Reproduce

1. Try to launch an app on a device with iOS 11+ or tvOS 11+ where wireless debugging is _not_ enabled.
2. This may happen:

        warning MT1043: Failed to launch the application using the instruments service. Will try launching the app using gdb service.
        --- inner exception
        error HE0032: Could not mount developer tools on 'iPadAir': Object reference not

[2018-02-09 14:59] spouliot commented on #3445
IIRC a large part of PassKit does not work on iPad
@mandel-macaque can you check the tests ? in case it's missing a check to exclude iPads
also add the stack trace of the failure, makes it easier to see what's going on without an iPad around :)

[2018-02-09 15:02] spouliot commented on #3441
might be a duplicate of https://github.com/xamarin/xamarin-macios/issues/3394

[2018-02-09 15:06] spouliot commented on #3407
@mandel-macaque gist seems incomplete (truncated?)
can you paste the error here (in GitHub) and link to the build log with less verbosity (from msbuild) ?

[2018-02-09 15:18] Kortdag commented on #3441
Looks like the same issue.
Still not a reliable workaround as mentioned since one never know when other things break.
But I guess the conclusion is that the only place to fix this in a robust way is if its done in the Core EF framework??

From: Sebastien Pouliot [mailto:notifications@github.com]
Sent: Friday, February 09, 2018 4:02 PM
To: xamarin/xamarin-macios <xamarin-macios@noreply.github.com>

[2018-02-09 15:47] mandel-macaque commented on #3177
@emaf Can you take a closer look into this since it is just hapenning.

[2018-02-09 17:09] rolfbjarne commented on #3445
Seems like a language problem.

I get this on one device:

[code]

and this on another:

[code]

[2018-02-09 17:21] #3389 closed

[2018-02-09 17:25] mandel-macaque commented on #3401
Could you please increase the logging level for msbuild (as shown in the image) and provide the out put?

![screen shot 2018-02-09 at 18 25 10](https://user-images.githubusercontent.com/2190086/36040720-9d766a96-0dc6-11e8-83ef-f4027dc246db.png)

[2018-02-09 18:08] spouliot commented on #3445
we better just assert it's not null for localized output
anything else will be painful to maintain

[2018-02-09 18:13] mandel-macaque commented on #3445
@spouliot what about the following:

[code]

[2018-02-09 18:13] mandel-macaque commented on #3445
Although just ensuring is not null or empty would be good enough an simple.

[2018-02-09 18:23] spouliot commented on #3445
There are nunit attributes to set the current culture (for a test)
However that (like your code) does not map to iOS native language - so that will still fail

[2018-02-09 18:29] mandel-macaque commented on #3445
@spouliot yeah, I'll simply add test to ensure that is not null or empty, that will be more maintainable. (PR in the way).

[2018-02-09 20:15] #3445 closed

[2018-02-09 22:55] jassmith opened #3449 "System.ComponentModel.DataAnnotations throws exception on IOS Actual Device"
_From @kishorupare on February 9, 2018 9:44_

I have use System.ComponentModel.DataAnnotations in portable class project. This work great in Android Actual Device but failed on IOS actual device. In IOS emulator it work great but not on Actual iPhone. It thows deployment error as

Could not AOT the assembly '/Users/rnr_mac/Library/Caches/Xamarin/mtbs/builds/RujulERP_Mobile.iOS/43d2ca3e2c725a70d6f4

[2018-02-09 23:02] spouliot commented on #3449
The Ahead-of-Time (AOT) compiler is only used on device builds. It's a requirement from Apple - using the Just-In-Time (JIT) compiler is not allowed on the App Store.

The [MT3001](https://developer.xamarin.com/guides/ios/troubleshooting/mtouch-errors/#MT3001_Could_not_AOT_the_assembly_) error means the AOT compiler did not produce any output. IOW something went wrong when compiling it - but it do

[2018-02-10 06:08] kishorupare commented on #3449
Test case is simple. I have Create EnumPicker same as mentioned in "[](https://intellitect.com/xamarin-forms-enumbindablepicker)/" with description. You can create sample project with EnumPicker and test on iPhone, you will easily get the issue. This work great in Android but failed in IOS.
will this helpful for you or else guide me to get complete build log since application get crash with error

[2018-02-10 23:36] dalexsoto opened #3452 "[rfc] ExternizerAttribute: Teach generator how to do P/Invokes from interface definitions."
### Steps to Reproduce

Currently there is no way for the generator to produce [P/Invoke](http://www.mono-project.com/docs/advanced/pinvoke/) signatures.

### Expected Behavior

Generator must be able to produce P/Invoke definitions to avoid manual code. I must note that this is not intended to 100% remove manual code of P/Invokes but to be an additional tool to avoid it whenever possible.

### Po

[2018-02-11 15:50] spouliot commented on #3452
I like the idea but while it's fine **not** to support every possible cases, the proposal must support the most **common** cases (not just the ones we're trying to solve at this moment). Looking where our `DllImport` comes from it's clear that:

* it's uncommon to have p/invokes inside `NSObject`, most of them are inside `INativeObject` - that requires a bit of extra code (e.g. .ctors, Dispose pat

[2018-02-11 15:53] #3247 closed

[2018-02-11 18:31] dalexsoto commented on #3452
I love these ideas! ❤️

This was the main idea behind supporting `[return: Release]` because we set `owns: false` when doing `GetNSObject` and `GetINativeObject` but yeah makes sense to bring this into `INativeObject` context.

Will do!

---

This is because `Visibility` enum has `Disabled` value and can't change that nor I wanted to have yet another `Visibility` enum.

[code]

`ExternVisibility`

[2018-02-12 04:14] Cheranarasu commented on #3399
Hi @spouliot ,

I am struck on this for a week. Please give your valuable suggestion on this.

Regards,
Cheran

[2018-02-12 11:23] mohakbarokar commented on #3289
This issue is tested on Build : https://wrench.internalx.com/Wrench/ViewLane.aspx?lane_id=5920&host_id=392&revision_id=927710

& the breakpoint is hitting for TvServiceExtension.

Screencast Link: http://www.screencast.com/t/diqDm05DB6s

Observation: Breakpoint again points to same line number even after the execution is continued

We can mark the Bug as Resolved Fixed.

[2018-02-12 11:29] mandel-macaque commented on #3407
@spouliot build is complete (gist trucates it, but you can access it) but I'll do an other gist with a smaller amount of verbosity for use to have the information.

[2018-02-12 11:31] mandel-macaque commented on #3401
@jstedfast pinging you here since you might have more knowledge it what can be going on.

[2018-02-12 12:12] mandel-macaque commented on #3176
Hello,

Looking in bug within bugzilla I have found the following that could be a duplicate of this issue: https://bugzilla.xamarin.com/show_bug.cgi?id=53207 Can you please read the recommendations in the bug and confirm that it is a duplicate of your issue?

[2018-02-12 14:39] bigDave1357 commented on #3401
The information provided is already from a build set to Diagnostic level logging.

[2018-02-12 18:14] mandel-macaque commented on #3406
This issue was moved to mono/mono#6948

[2018-02-12 18:14] #3406 closed

[2018-02-12 18:18] mandel-macaque commented on #3406
Moving to mono as per comment here: https://github.com/xamarin/xamarin-macios/pull/3421#issuecomment-364958876

[2018-02-12 18:53] GouriKumari opened #3463 "[XI]BluetoothLeExplorer sample fails to build with Native Linking error with master build"
### Steps to Reproduce

1. Open https://github.com/xamarin/mobile-samples/tree/master/BluetoothLEExplorer/BluetoothLEExplorer.iOS
2. Build the sample

### Expected Behavior
App should build successfully.

### Actual Behavior
App fails to build with error. MTOUCH : error MT5211: Native linking failed, undefined Objective-C class: MBProgressHUDDelegate. The symbol '_OBJC_CLASS_$_MBProgressHUDDelegat

[2018-02-13 00:09] spouliot commented on #3449
I'm sorry but

does not mean anything to me. I guess it's a XF template ? but without version information I'm not sure it would yield the same results.

To get full build logs just set the log verbosity to diagnostic at the following locations:
- On Visual Studio for Mac: Preferences > Projects > Build
- On Visual Studio for Windows: Tools > Options > Projects and Solutions > Build and Run

On Vis

[2018-02-13 06:40] kishorupare commented on #3449
Thanks for reply and guidance.
Exact version information and full build log are attached here. please check them and do inform if required further information.
[VersionInfo.txt](https://github.com/xamarin/xamarin-macios/files/1718889/VersionInfo.txt)
[Build Error.txt](https://github.com/xamarin/xamarin-macios/files/1718905/Build.Error.txt)
[Build Output File.txt](https://github.com/xamarin/xamarin

[2018-02-13 12:47] #3156 closed

[2018-02-13 13:55] spouliot commented on #3449
The error was

[code]

and this is not the version of `System.ComponentModel.DataAnnotations.dll` that ships with Xamarin.iOS.

[code]

it should have been resolved from under

[code]

Somehow your project has a reference to a different binary. We'll need a self contained test case to figure out what it is.

[2018-02-13 15:06] rolfbjarne commented on #3446
Reopening, still not fixed in xamarin-macios.

[2018-02-13 16:12] Nixon-Joseph commented on #3215
Hey all, I updated my visual studio max to the beta channel to get 15.6 preview 4 to fix this issue. Now when I try to run the app on an apple device from windows, I get this error:
`2>C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Xamarin\iOS\Xamarin.iOS.Common.targets(777,3): error : Failed to resolve "Java.Interop.IJavaPeerable" reference from "Java.Interop, Version=0.

[2018-02-13 16:59] VincentDondain commented on #3463
Hi,

Couple of precisions:

1. The sample from https://github.com/xamarin/mobile-samples/tree/master/BluetoothLEExplorer/BluetoothLEExplorer.iOS isn't up to date, you need to remove `[Register]` that are used between 2 partial classes.
2. The repro is to build against **device**.

Other than that, I could indeed reproduce the MT5211 error with Xamarin.iOS 11.9.0.163. https://gist.github.com/Vincen

[2018-02-13 18:15] Seekeer opened #3472 "Xamarin.forms custom label do not refresh size on binding update in iOs"
### Steps to Reproduce

1. Create custom label.
2. Set binding to some text, which is inited afte constructor initialization.

### Expected Behavior
Text displayed
### Actual Behavior
Control width/height isn't updated. Ordinary label works just fine with same binding.

### Environment
iOs

[code]

### Example Project (If Possible)
[IosLabelTest 2.zip](https://github.com/xamarin/xamarin-macios/fil

[2018-02-13 18:26] Cacata commented on #3257
Thanks a lot for your help. I've been just update my testing device (iPad Air 2)to the new 11.2.5 iOS version and the App it's running again.

[2018-02-13 18:26] #3257 closed

[2018-02-13 20:13] spouliot commented on #3367
The fix also need\ to cover the case of other architectures, e.g. https://bugzilla.xamarin.com/show_bug.cgi?id=42464

[2018-02-13 20:45] spouliot commented on #3463
c.c. @rolfbjarne not a lot of changes in this area since 15.6 - at least beside yours :)

[2018-02-13 20:49] kdubau commented on #3407
@mandel-macaque you should build `eShopOnContainers-iOS.sln` not `eShopOnContainers.sln`.

[2018-02-13 20:52] VincentDondain commented on #3472
This issue was moved to xamarin/Xamarin.Forms#1876

[2018-02-13 20:52] #3472 closed

[2018-02-13 21:01] spouliot commented on #3441
@Kortdag Yes, they are the only people who knows what's used thru reflection (to preserve them) and that list can differ across versions (which we would not be able to deal with).

If the previous workaround is not complete enough then please update your test case, re-open the issue and we'll have a look.

[2018-02-13 21:01] #3441 closed

[2018-02-14 11:15] kishorupare commented on #3449
I have given reference of same dll from E:\Program Files\VS and SDK\Common7\IDE\ReferenceAssemblies\Microsoft\Framework\Xamarin.iOS\v1.0 in IOS project only. but this time also build failed.
Please suggest how can i move further

[2018-02-14 12:16] Cheranarasu commented on #3399
Hi @spouliot ,

Is this Xamarin issue or not?. Please suggest any workaround for this if it is Xamarin issue or give any other suggestion to implement my process . I have already attached sample source in previous conversation itself. Please help me on this.

Regards,
Cheran

[2018-02-14 12:54] mandel-macaque commented on #3176
Will close the bug since we have one already reported in bugzilla. Please, if you do not agree feel free to re-open the issue.

[2018-02-14 15:01] JosePendao opened #3479 "Storyboard/Designer doesn't allow to set font size bigger than 200"
### Steps to Reproduce

1. Open Sample Project
![image](https://user-images.githubusercontent.com/32713788/36210973-ca2b0c02-1197-11e8-9f01-71e26e040b99.png)

2. Try to set font size > 200 on the Widget, you see that it does not apply
![image](https://user-images.githubusercontent.com/32713788/36210995-d5b1b30a-1197-11e8-8143-5853f0ecdbee.png)

3. If you set it to 150  and you see that it applies

[2018-02-14 15:24] spouliot commented on #3449
Like I mentioned before: _We'll need a self contained test case to figure out what it is._ Please attach one to the issue and we'll have a look at it.

[2018-02-14 15:34] mandel-macaque commented on #3407
@kdubau will get back to you asap, thx for the feedback.

[2018-02-14 16:01] spouliot opened #3480 "linkall fails `LinkAllRegressionTest.AssemblyReferences_16213` with mono 2017-12"
### Steps to Reproduce

1. Run linkall unit tests

### Expected Behavior

No failure

### Actual Behavior

`LinkAllRegressionTest.AssemblyReferences_16213` fails

### Environment

master with mono/2017-12

[2018-02-14 16:28] spouliot commented on #3399
@mandel-macaque can you please have a look at the attached sample ? thanks!

[2018-02-14 16:53] marek-safar commented on #3480
What is `AssemblyReferences_16213` test about?

[2018-02-14 19:03] VincentDondain opened #3486 "Similar to the work on `SecKey.GenerateKeyPair` we need to add a strong dictionary to `SecKey.CreateRandomKey`"
### Steps to Reproduce

Here's the Swift code, here's the doc https://developer.apple.com/documentation/security/1823694-seckeycreaterandomkey.

[code]

We currently don't have a way to do that because we didn't open the keys (they are `[Internal]`).

### Expected Behavior

Similar to https://github.com/xamarin/xamarin-macios/pull/3438 we should have a strong dictionary based on the Apple document

[2018-02-14 19:18] mdbech commented on #3486
As I have a stake in the matter I would like to do it.

[2018-02-14 19:26] spouliot commented on #3480
it's a canary test so we can detect if `System.Transactions.dll` ever becomes a requirement of the test app (that requirement was removed a long time ago). The app only creates an instance of `SqlConnection`.

[2018-02-14 20:13] cwensley opened #3488 "xamarin_get_frame_length causes serious performance issues"
### Steps to Reproduce

When you have many base class calls with a stret (and possibly other scenarios), it appears Xamarin.Mac uses `xamarin_get_frame_length` which is now taking up most of the processing time for something that would otherwise go very fast.  This causes a very large performance issue when overriding things like `NSView.Frame`, `NSView.SetFrameSize`, etc as they can be called a v

[2018-02-14 20:44] VincentDondain commented on #3488
Hi @cwensley, thanks for the bug report.

Yes a test case would really help us confirm the issue and then investigate quickly. Could you provide it?

[2018-02-14 21:04] spouliot commented on #3488
Interesting, maybe we should use `NSCache` there - so we don't fill up memory with all variations. Still we need measurements (so a test case) first to see if (and how much) caching helps.
c.c. @rolfbjarne

[2018-02-14 21:43] rolfbjarne commented on #3488
Try enabling the static registrar (add `--registrar:static` to the additional mmp arguments in the project's Mac Build options) and see if that helps.

[2018-02-14 21:45] cwensley commented on #3488
Hi @rolfbjarne, thanks for the suggestion but unfortunately it's not possible as we are embedding Xamarin.Mac into our own native application.  We also need to support having plugins which wouldn't be able to be statically linked afaik.  Unless there's a way to do that that I'm not aware of?

[2018-02-14 22:02] #3446 closed

[2018-02-14 22:44] spouliot commented on #3488
This is being done for Visual Studio for Mac which also uses plugins and also have a special launcher. So it's not the _common_ way to build an XM application but you should be able to reap some benefits from using the static registrar.

[2018-02-14 22:53] cwensley commented on #3488
@spouliot oh wow, that sounds fantastic.  I'll have to look into that.

As for this particular issue, I am quite embarrassed to say that it appears to be due to our custom launcher not actually calling `xamarin_initialize_dynamic_runtime` and `xamarin_initialize` properly as  libxammac.dylib was moved.  After getting those to be called correctly this issue has completely disappeared.

I really app

[2018-02-14 23:34] cwensley commented on #3488
Ok, I think I need to go home.  It's been a long day.  This issue is actually still happening, I was looking at the wrong thing. );   I'll try to get a repro together, but I can't reproduce it with a "standard" Xamarin.Mac application so it'll take me a bit to do that.

[2018-02-15 03:41] #3480 closed

[2018-02-15 10:01] oristanovic commented on #3176
Hello,
We did further testing and here's what we got:
No problem whatsoever with Xamarin app running on iOS 10 or with the native app running on iOS 11.
However, every single time we send a rich notification to a Xamarin app running on iOS 11 we get the following log:

Feb 15 10:29:17 iPhone SpringBoard(ApplePushService)[19082] <Notice>: <private> Delivering message from apsd: <private> 13691 <pri

[2018-02-15 11:39] IndraXamarin commented on #3463
We have a Mac app in production that uses bluetooth and that needs a very urgent fix for the issue  https://bugzilla.xamarin.com/show_bug.cgi?id=60696.

Could Xamarin confirms if it's woking on it and give an estimate on timescales?

Regards

[2018-02-15 13:37] KlaasTroost opened #3496 "NavigationPage.Navigation.PopToRoot(false) does not show RootPage on MacOS"
### Steps to Reproduce

1. Create Xamarin Forms project
2. Add MacOS
3. add a MasterDetailPage
4. Add a NavigationPage to the Detail page
5. Push 5 pages using the Navigation property.
6. At the end Close all pages with Navigation.PopToRoot(true)

### Expected Behavior
My expectation was that my first (the root) page would show up.

### Actual Behavior
PopToRoot(false) does do the job if you look

[2018-02-15 13:48] therealjohn commented on #3496
This issue was moved to xamarin/Xamarin.Forms#1894

[2018-02-15 13:48] #3496 closed

[2018-02-15 15:49] therealjohn opened #3499 "HKBloodGlucoseMealTime misspellings in bindings"
The bindings for `HKBloodGlucoseMealTime` misspell the cases: the proper words are `Postprandial` and `Preprandial` (after and before mealtime) but they are bound as `Ostprandial` and `Reprandial`

### Environment
[code]

[2018-02-15 16:38] VincentDondain commented on #3499
The same issue is happening with `HKInsulinDeliveryReason`. [Apple doc](https://developer.apple.com/documentation/healthkit/hkinsulindeliveryreason?language=objc). [Guilty code](https://github.com/xamarin/xamarin-macios/commit/15952065416d8122bfea068d18fe5a3bf8f736a4#diff-1f1dffde6d92e19c27aa6bb0569e2e63R535)

[2018-02-15 17:55] warejacob commented on #3148
Issue still persists.

For anyone else trying to get it working add this to your Info.plist file (right click on Info.plist -> Open With -> XML (Text) Editor):

`<key>NSCalendarsUsageDescription</key>`
`<string>Add calendar events</string>`

anywhere should be OK, right before the closing `</dict>` tag is recommended.

[2018-02-16 15:10] spouliot commented on #3359
@VincentDondain did you not merge this one yet ?

[2018-02-16 15:52] VincentDondain commented on #3359
Yes fixed in https://github.com/xamarin/xamarin-macios/pull/3438, I forgot to add this issue's number in my commit message.

[2018-02-16 15:52] #3359 closed

[2018-02-16 17:08] kdubau opened #3513 "MTOUCH : error MT4116: Could not register the assembly '<redacted>': System.NullReferenceException: Object reference not set to an instance of an object"
### Description

Recent regression (in last ~1 day) on `master` causing a build failure.

[code]

### Environment
Failed build http://build.devdiv.io/1390450
 - xamarin.ios-11.9.0.215
- MonoFramework-MDK-5.10.0.107

### Regression status
Last successful build http://build.devdiv.io/1385799
 - xamarin.ios-11.9.0.170
- MonoFramework-MDK-5.10.0.107

### Build Logs

Available in the CI build links, th

[2018-02-16 17:45] GouriKumari opened #3514 "[XI]Sample failed to build with an MT4125 error invalid type in signature. The interface must have a Protocol attribute specifying its wrapper type"
### Steps to Reproduce

1. Open ios-samples/ios8/SingleWordKeyboard/SingleWordKeyboard/SingleWordKeyboard.csproj
2. Build sample

### Expected Behavior
App builds successfully

### Actual Behavior
App fails to build with error,  MTOUCH : error MT4125: The registrar found an invalid type 'UIKit.IUITextInput' in signature for method 'KeyboardExtension.KeyboardViewController.TextWillChange': The inte

[2018-02-16 17:49] mandel-macaque commented on #3407
@kdubau I just tested the application with master after the mono bump and I got the application to compile and run in an iPad Air 2.

Build env: https://gist.github.com/mandel-macaque/b7b746752e913f88d5d942fd96cca748
Build output: https://gist.github.com/mandel-macaque/f9f73fd8caa597756c276a023a722fb0

commit of the branch: 5b25dfdd256723377ce0da75c5ff162351557d03

[2018-02-16 17:49] #3407 closed

[2018-02-16 18:34] GouriKumari opened #3516 "[tvOS]LinkExtraDefsTest tests failed on device with Release config"
### Steps to Reproduce

1. Update System to Xamarin.iOS master mtouch 11.9.0.254 (master: 4cd3f5c2)
2. Execute LinkSdk test with Release config

### Expected Behavior
Tests should pass
### Actual Behavior
[FAIL] LinkExtraDefsTest.Corlib :   System.Security.PermissionSet
[FAIL] LinkExtraDefsTest.MonoTouch :   [MonoTouch.]CoreBluetooth.CBUUID
[FAIL] LinkExtraDefsTest.System :   System.Net.Mime.Conte

[2018-02-16 18:38] GouriKumari opened #3517 "[tvOS]OptimizeGeneratedCodeTest.BaseOptimizeGeneratedCodeTest.SetupBlockPerfTest failure on device with Release config"
### Steps to Reproduce

1. Update System to Xamarin.iOS master mtouch 11.9.0.254 (master: 4cd3f5c)
2. Execute LinkAll test with Release config

### Expected Behavior
Tests should pass
### Actual Behavior
[FAIL] OptimizeGeneratedCodeTest.BaseOptimizeGeneratedCodeTest.SetupBlockPerfTest : ObjCRuntime.RuntimeException : BlockLiteral.SetupBlock is not supported when the dynamic registrar has been link

[2018-02-16 20:12] VincentDondain commented on #3516
Confirmed with build logs links in description.

[2018-02-16 21:05] spouliot commented on #3516
This project should be built with `-xml=${ProjectDir}/extra-linker-defs.xml "` and I don't see it in the build logs.

[2018-02-16 21:17] VincentDondain commented on #3137
Since we haven't heard back from you, I'll consider this issue as resolved. If you are still experiencing this issue please provide all the requested information then click the Reopen Issue button. Thanks!

[2018-02-16 21:17] #3137 closed

[2018-02-18 07:17] razmojazz opened #3522 "CMMotionManager throws exception on StartAccelerometerUpdates"
### Steps to Reproduce

The code below throws the exception
Object of type 'System.Func '3[CoreMotion.CMAccelerometerData, Foundation.NSError, System.Object]' cannot be converted to type 'CoreMotion.CMAccelerometerHandler'

Code (slightly modified from the example on the Xamarin website).

            motionManager = new CMMotionManager();
             Samples = new List<Accel3DPoint>();

[2018-02-19 02:44] GouriKumari opened #3523 "[XI]Building watchintent sample with Release config failed with MTOUCH : error MT4116: Could not register the assembly 'Xamarin.iOS': System.NotSupportedException: Specified method is not supported. ""
### Steps to Reproduce

1. Open https://github.com/olegoid/SubmissionSamples/tree/master/WatchOSIntents
2. Build with Rlelease config

### Expected Behavior
app builds successfully

### Actual Behavior
Failed to build with error: " MTOUCH : error MT4116: Could not register the assembly 'Xamarin.iOS': System.NotSupportedException: Specified method is not supported."

### Environment

[code]

### Bu

[2018-02-19 10:31] Cheranarasu commented on #3399
Hi @spouliot / @mandel-macaque ,

Could you please update any on this?

Regards,
Cheran

[2018-02-19 10:36] #3513 closed

[2018-02-19 10:45] rolfbjarne opened #3525 "Build our assemblies deterministically"
We should pass `/deterministic` to csc when compiling our assemblies.

See also: http://blog.paranoidcoding.com/2016/04/05/deterministic-builds-in-roslyn.html

This obviously requires merging #3393 first.

[2018-02-19 11:05] oristanovic opened #3526 "Notification Service Extension does not work in iOS 11 (Rich Push)"
### Steps to Reproduce

This is a follow up to the issue https://github.com/xamarin/xamarin-macios/issues/3176

1. Build a blank app with associated Notification Service Extension on device running iOS 11 (11.2.1)
2. Build the same app on iOS 10 (10.3.3)

### Expected Behavior

The Notification Service Extension should not be killed by the system and the rich push should be displayed

### Actual B

[2018-02-19 11:49] mandel-macaque commented on #3176
@oristanovic  just to be precise, the native app does not have any issues with the startup time of the notifications. Can you provide a sample or access to the notification xamarin version to take a look and see if we can improve its performance?

[2018-02-19 11:58] mandel-macaque commented on #3176
Just to double check and make sure we are in the same page. The application does have this issue in release mode, correct? (I made this assumption but I prefer it to be explicit).

[2018-02-19 16:29] GouriKumari opened #3533 "[XI] RuntimeFeatureTest.NoNewFeaturesAdded failure in mscorlib tests"
### Steps to Reproduce

1. Update System to Xamarin.iOS d15-7 build, mtouch 11.10.0.1 (d15-7: eadb8376)
2. Execute mscorlib tests on iOS and tvOS device

### Expected Behavior
Tests should pass

### Actual Behavior
RuntimeFeatureTest
2018-02-18 21:41:04.320 mscorlibtests[55322:12178179] 	[FAIL] RuntimeFeatureTest.NoNewFeaturesAdded :   Expected is <System.ValueTuple`2[System.String,System.Boolean]

[2018-02-19 18:58] dalexsoto commented on #3526
I've reopened original issue https://github.com/xamarin/xamarin-macios/issues/3176 in favor of this one so we can have all the info in a single thread. Thanks!

[2018-02-19 18:58] #3526 closed

[2018-02-19 19:00] dalexsoto commented on #3176
Info provided in https://github.com/xamarin/xamarin-macios/issues/3526 from @oristanovic, closed last issue in order to keep all the info in a single thread.

---

### Steps to Reproduce

This is a follow up to the issue https://github.com/xamarin/xamarin-macios/issues/3176

1. Build a blank app with associated Notification Service Extension on device running iOS 11 (11.2.1)
2. Build the same app

[2018-02-19 19:04] dalexsoto commented on #3176
@@oristanovic please provide answers to @mandel-macaque's requests above also if you think https://bugzilla.xamarin.com/show_bug.cgi?id=53207 is a good fit for your request please close this issue and comment on the bug instead.

[2018-02-19 19:59] imhoffj opened #3537 "Cannot Install"
### Steps to Reproduce

1. macOS Sierra - 10.12.6
2. Download Visual Studios for Mac, latest
3. Double Click install

### Expected Behavior
Starts installation.
### Actual Behavior
Silently fails
### Environment

By running the installer from terminal, receive the following. Any help is appreciated.

justins-MacBook-Pro:~ justin$ /Volumes/Visual\ Studio\ for\ Mac\ Installer/Install\ Visual\ Studio

[2018-02-19 22:25] cwensley commented on #3488
Ok, I've finally narrowed this down to a concrete example from our large codebase.  The following code demonstrates the problem.  Note that I know that 1000 items in an NSPopUpButton is unreasonable, but the performance problem spans various controls and callbacks which takes up about 80% of the launch time of our app.

[code]

With my tests, Xamarin.Mac Classic takes **0.34 seconds** for the abov

[2018-02-20 02:56] dalexsoto commented on #3533
I can confirm this issue

[code]

using

[code]

[2018-02-20 02:57] dalexsoto commented on #3533
cc/ @spouliot / @vargaz

[2018-02-20 03:21] migueldeicaza opened #3540 "[AppKit] NSApplication.NextEvent should have an override that takes a strongly typed NSRunLoopMode"
The current declaration takes a string, which we have to marshal, and internally, might not be compared for content equality, but for pointer equality.

[code]

[2018-02-20 03:22] migueldeicaza opened #3541 "[AppKit] NSApplication.NextEvent expiration parameter should be nullable."
In the following AppKit definition, the expiration parameter can be null:

[code]

Should be "[NullAllowed] NSData expiration"

[2018-02-20 03:37] dalexsoto commented on #3522
Hello @razmojazz

Sample: [GHIssue3522.zip](https://github.com/xamarin/xamarin-macios/files/1738822/GHIssue3522.zip)

I followed your instructions and created a sample project that tries to reproduce your issue. I am **not** getting any issues with the provided sample code.

Please download this sample and try yourself. If you are able to reproduce the issue with the given sample please include yo

[2018-02-20 05:38] dalexsoto commented on #3540
Is now being addressed here https://github.com/xamarin/xamarin-macios/pull/3542

[2018-02-20 05:39] dalexsoto commented on #3541
Is now being addressed here https://github.com/xamarin/xamarin-macios/pull/3542

[2018-02-20 06:07] dalexsoto commented on #3205
We have not received the requested information. If you are still experiencing this issue please provide all the requested information then click the Reopen button. Thanks!

[2018-02-20 06:07] #3205 closed

[2018-02-20 07:50] daserge commented on #3537
Hello @imhoffj ! Thanks for reporting the issue.
While we are investigating it, could you please check if any path in `/etc/paths` or `/etc/path.d/*` contains Unicode symbols or tabs, or maybe starting with a space?
It would be ideal if you could post the `/etc/paths` and `/etc/path.d/*` contents somewhere and share the link :)
Workaround for now could be some manipulation of paths in these locati

[2018-02-20 08:45] rolfbjarne commented on #3488
This is slow because after every `AddItem` we fetch the entire array of items: https://github.com/xamarin/xamarin-macios/blob/2a964030a88efc35acfa987778da7950bb32d1f3/src/appkit.cs#L7651

and since the array increases in size after every `AddItem`, this turns out to be exponential.

That said, you can avoid the call to `xamarin_dyn_objc_msgSend` (and thus the call to `xamarin_get_frame_length` by

[2018-02-20 08:50] rolfbjarne opened #3543 "Unnecessary calls to NSNull.Null slows performance"
### Steps to Reproduce

1. Use test case from here: https://github.com/xamarin/xamarin-macios/issues/3488#issuecomment-366817032
2. The code ends up converting a native `NSArray` with thousands of elements to a managed `NSMenuItem[]`
3. The NSArray > NSMenuItem[] conversion ends up calling `NSArray.UnsafeGetItem<T>` for every element, which calls `NSNull.Null`, which calls native code every time:

[2018-02-20 09:05] rolfbjarne opened #3544 "Unnecessary calls to NSNull.Null slows performance"
### Steps to Reproduce

1. Use test case from here: https://github.com/xamarin/xamarin-macios/issues/3488#issuecomment-366817032
2. The code ends up converting a native `NSArray` with thousands of elements to a managed `NSMenuItem[]`.
3. Each array element ends up calling `NSArray.UnsafeGetItem<T>`, which calls `NSNull.Null.Handle`: https://github.com/xamarin/xamarin-macios/blob/2a964030a88efc35ac

[2018-02-20 10:36] rolfbjarne commented on #3516
The same thing happens on our device bots (and locally for me). I'll have a look.

[2018-02-20 11:01] itzseven commented on #3176
Hello,

There is only an issue with the Xamarin app.

Here is a summary :
- the extension **works** in a **native** app for both iOS 10 and 11
- the extension **works** in a **Xamarin** app for iOS 10
- the extension **does not work** in a **Xamarin** app for iOS 11

We also don't think that the problem is related to the extension's performance as it occurred every time the we tested it.

Neither

[2018-02-20 12:09] bigDave1357 commented on #3401
Any progress on this, please?

[2018-02-20 12:47] imhoffj commented on #3537
@daserge you hit is exact! Can't tell you how much I appreciated - thanks! Install is going good. I think this was a remnant file in the path.d/ from time machine backup or something from past environment setup. The file was corrupt and was .play.swap. This is very exciting, thanks so much!

[2018-02-20 12:47] #3537 closed

[2018-02-20 13:12] ThumbGen opened #3547 "[Apple Watch] Crash when attempting to use Digital Crown but ONLY if published in Store"
### Steps to Reproduce

1. Deploy any Apple Watch (targeting 3.0) using Release build
2. Attempt to use the Digital Crown (rotate)
3. App crashes

NOTE: This happens only in Release builds, having LLVM enabled and Bitcode disabled. When debugging or deploying as "AdHoc" it works well.

**NOTE: It seems that using LLVM breaks the code; switching LLVM off, it works (MtouchUseLlvm set to false).**

T

[2018-02-20 13:40] spouliot commented on #3544
We could make `NSNull.Null` avoid (expect the first time) a call to native code (i.e. cache it).
That would not introduce a new API and fix both our (internal) and user code.

[2018-02-20 14:15] spouliot commented on #3533
@dalexsoto move issue to mono repo and label with with `target-xamarin-ios`

[2018-02-20 14:37] daserge commented on #3537
Great! Thanks for the details 👍

[2018-02-20 15:31] mandel-macaque commented on #3399
@Cheranarasu looking at the issue, will get back to you with more information ASAP.

[2018-02-20 15:40] jstedfast commented on #3401
So far I've been unable to reproduce this. Could you post diagnostic build logs? The ones you've provided are not diagnostic level.

[2018-02-20 16:41] #3516 closed

[2018-02-20 16:41] #3517 closed

[2018-02-20 16:48] mandel-macaque commented on #3399
I have taken a look at the issue and the problem is not related to Xamarin but on how you are using the API. I have modified a little your code [here](https://gist.github.com/mandel-macaque/5beb397e24921303ac66f705a341e676) to get you application to run and download several images asynchronously using the OS because you wanted to use a background session. The tasks are started in the background wh

[2018-02-20 16:48] #3399 closed

[2018-02-20 16:58] #3499 closed

[2018-02-20 17:17] mandel-macaque commented on #3324
@peterringset @spouliot on it.

[2018-02-20 18:07] spouliot commented on #3488
@cwensley note that **XamMac (classic) != MonoMac**.
The former has a lot (even most) of Xamarin.Mac features/fixes but remains 32bits only.
The later is even older and development/updates stopped the XamMac (classic) started.

[2018-02-20 18:14] cwensley commented on #3488
Fair enough, hence is why my performance tests (and the example I posted) is between XamMac (classic) and Xamarin.Mac (unified).  We want to get off of using MonoMac since we understand it is ancient (and has many problems) in comparison.

[2018-02-20 19:14] dalexsoto commented on #3533
This issue was moved to mono/mono#7145

[2018-02-20 19:14] #3533 closed

[2018-02-20 19:46] spouliot commented on #3488
ok, I thought your baseline was MonoMac :)
the array creation _cost_ should be nearly identical then.

As for `--marshal-objectivec-exceptions=disable` your best bet is to build a _regular_ XM app (using that argument) and see the generated ObjC code (.m files). You'll see something like

[code]

among other things that could interest you. Your own embedding code needs to do the same.

[2018-02-20 20:18] cwensley commented on #3488
Right, sorry I made that a little confusing.  MonoMac is our baseline as that's what we're switching from, but I don't expect it to be identical in performance (though we are hoping for better).

I didn't realize that building a regular XM app generates .m files, I'll take a look at that next time, thanks!!

Awesome, this is exactly what I was looking for - I'll give it a go.  I really appreciate

[2018-02-20 20:30] dalexsoto opened #3553 "[Xcode 9.3] MetalPerformanceShaders Bindings"
### Bindings of MetalPerformanceShaders and MPS* sub frameworks

Changes introduced in `MetalPerformanceShaders` in Xcode 9.3 are marked as **experimental** inside `MetalPerformanceShaders.h` so we have no way to know which APIs are going to stay and which ones are going to change.

In order to avoid breaking changes in our binaries we will postpone the bindings until we get a more clear picture w

[2018-02-21 03:37] migueldeicaza opened #3555 "[Mac] Help with Runtime.GetNSObject on a dynamically loaded Xamarin.Mac runtime"
I am trying to update Mono's Winforms stack to use Cocoa, and would like to do this without
setting up a bundle.   There are a few blog posts that describe how to achieve this, but before
I can even get there, I ran into a Xamarin.Mac problem that prevents me from getting the basics
in place.

The `NSApplication.SharedApplication` property is supposed to initialize `NSApplication` on
demand, and t

[2018-02-21 04:38] spouliot commented on #3555
My current mono is not in sync with XM master

[code]

However using the launcher from the app seems to work from the command-line

[code]

which makes me think it can be some initialization, e.g. making sure you load `AppKit` ...

Also in the attached sample you're not calling (directly) `TryGetNSObject`, instead you call `GetNSObject` - but you should be calling `GetNSObject<NSApplication>`, the

[2018-02-21 06:57] #3540 closed

[2018-02-21 06:57] #3541 closed

[2018-02-21 07:00] cwensley commented on #3488
@spouliot Just to confirm, using `MarshalManagedExceptionModeDisabled` has solved our problem at this time.  I still think it'd be worth investigating how to make `get_method_description` work faster with objects that have many protocols as it'd be nice to be able to make use of the exception wrapping.

Thanks everyone for the help!

[2018-02-21 08:27] #3514 closed

[2018-02-21 09:14] Cheranarasu commented on #3399
Thanks for your update. I thought you may misunderstood my concept. I have to download three file in a single click with background process too and maintain a three file download progress into single progress bar (Put calculation to progress by receiving byte divided by total byte of three file). If we do like above, download couldn't wait for another and also one file completed then download comp

[2018-02-21 09:14] rolfbjarne commented on #3488
You're right, we should look into `xamarin_get_frame_length` to see if we can speed it up (maybe store results in a hash table instead of calculating them again and again?).

Taking off the `need-info` label, since we have enough information here.

[2018-02-21 11:41] bigDave1357 commented on #3401
Here's the build with diagnostic logging:

Rebuilding...

Cleaning Solution: AppSuite (Release)
Removing output files...
Clean complete
Removing output files...
Clean complete
Removing output files...
Clean complete
Removing output files...
Clean complete
Removing output files...
Clean complete
Removing output files...
Clean complete
Removing output files...
Clean complete
Removing output files...

[2018-02-21 12:16] rolfbjarne commented on #3207
The problem seems to be .cer files with MD2 hash in the local certificate store.

To repro locally, download [tbp-6546A03DB81D12D07693F0BA7A72B873.cer](https://www.dropbox.com/s/61gg0q0mwbrp39c/tbp-6546A03DB81D12D07693F0BA7A72B873.cer?dl=0), put it in `~/.config/.mono/certs/Trust` and run the test again.

It goes more or less like this:

* Mono creates a list of all the trusted root certificates f

[2018-02-21 12:36] #3523 closed

[2018-02-21 12:45] rolfbjarne commented on #3452
What about `[BindPInvokeAttribute]`?

Otherwise I think it's good :smile:

👍

[2018-02-21 13:19] spouliot commented on #3488
@cwensley thanks for the confirmation! I'm glad it solved the issue in your application.

@rolfbjarne yep, that goes back to my original `NSCache` comment ;-)

[2018-02-21 14:29] spouliot commented on #3207
@rolfbjarne thanks for the detective work
It's `mcs/class/corlib/CommonCrypto/MD2Managed.g.cs` that should be used in this case.
I'll look why it's not resolved (probable a missing `#if`  somewhere)

[2018-02-21 14:41] jstedfast commented on #3401
I don't know why, but that still isn't diagnostic level logging :(

I should be seeing information about which tasks are running and what their arguments are but I don't. All I see is the output of the tools (ibtool, mmp and codesign) that msbuild is invoking.

That said, the reason it says "signed by unknown developer" when someone tries to install this package downloading it off the internet is

[2018-02-21 14:44] bigDave1357 commented on #3401
Then there’s another bug. Since I definitely have the build option set to diagnostic. I’ve done this on both submissions, so do we have another bug that needs to be cleared first, before this can be properly investigated.

I note you comment about “Signed by unknown developer” but I have configured the signing using the appropriate keys. It is NOT configured to use the 3rd Party Mac Developer key,

[2018-02-21 14:49] jstedfast commented on #3401
Are you building from the console to get the log? Or are you copying the output in the VS4Mac "Build Output" window?

[2018-02-21 14:49] bigDave1357 commented on #3401
The latter

[2018-02-21 14:54] jstedfast commented on #3401
Okay, that should work... and just to verify:

If you go to the **Visual Studio** menu and select **Preferences...**, then click on the **Build** item under the **Projects** section, you see this?

![Screenshot](https://content.screencast.com/users/jeff.xamarin/folders/Jing/media/e6ace7ee-c3e4-48a7-925d-3dc161925084/00000049.png)

[2018-02-21 15:11] chamons commented on #3555
So my initial guess is that one or more parts of the init code we call in startup:

https://github.com/xamarin/xamarin-macios/blob/master/runtime/launcher.m

is needed, but I'll do some digging to see what.

[2018-02-21 15:22] bigDave1357 commented on #3401
Correct. I’ve checked this setting several times. Visual Studio Menu, Preferences, Projects group, Build item, check the log verbosity. It’s DIAGNOSTIC.

[2018-02-21 15:27] chamons commented on #3555
Hmmm, when I copy everything into the bin folder I get things mostly working, well until Cocoa throws a fit about no info.plist
[code]

[2018-02-21 15:31] jstedfast commented on #3401
Here's what the Build Output looks like for me:

[code]

Specifically, what I am looking for is the DetectSigningIdentity step:

[code]

[2018-02-21 15:38] jstedfast commented on #3401
Are you by chance building a **MonoMac** project instead of a **Xamarin.Mac** project?

If so, that might explain why you have different build output (it uses a completely different build system) and why I've been unable to reproduce using Xamarin.Mac.

[2018-02-21 15:39] bigDave1357 commented on #3401
Yes, its a legacy product based on MonoMac. Didn’t realise that would affect the logging.

[2018-02-21 15:50] jstedfast commented on #3401
Okay, thanks, that explains everything :)

And don't feel bad, I didn't even know we still had the old MonoMac (aka Classic) build system so that makes 2 of us :)

[2018-02-21 15:52] bigDave1357 commented on #3401
Thanks for the feedback. One question answered.

I’m in the process of getting this legacy system updated to the new Xamarin.Mac but until that work has been completed, we still have a occasional updates to make to this code and would like to distribute it with a signed package.

So for now, I’m still needing to solve the signing problem….

[2018-02-21 16:18] chamons commented on #3555
Ok, this works:

https://gist.github.com/chamons/c6c3e8273dd93af3f5b5a741aa5ffb81#file-gistfile1-txt-L17

With the important bit being:

	var appkit = ObjCRuntime.Dlfcn.dlopen ("/System/Library/Frameworks/AppKit.framework/AppKit", 0);

Which we normally do here: https://github.com/xamarin/xamarin-macios/blob/master/src/Foundation/NSObject.mac.cs#L46

I am uncertain why we aren't hitting this in yo

[2018-02-21 16:32] chamons commented on #3555
@alanmcgovern Explained to me why this is the case - A static ctor in NSApplication will cache null if it isn't preloaded.

Seems like this is wrapped up, please reopen if not the case.

[2018-02-21 16:32] #3555 closed

[2018-02-21 16:39] jstedfast commented on #3401
What values do you have in your .csproj for these keys (for the configuration you are building for)?

[code]

(Note: you might not have a CodeSignProvision value)

Assuming the values look correct, the problem might be that we are codesigning a symlink for libsqlite3.dylib which overwrites the signature for libsqlite3.0.dylib?

I might also be wrong about the Gatekeeper error/warning message. Come

[2018-02-21 17:03] spouliot commented on #3555
😸

[2018-02-21 17:07] chamons commented on #3555
As usual, your initial guess was correct @spouliot  :)

[2018-02-21 17:12] dalexsoto commented on #3547
Adding test case:
[GHIssue3547.zip](https://github.com/xamarin/xamarin-macios/files/1744983/GHIssue3547.zip)

[2018-02-22 01:09] dalexsoto commented on #3201
Hello @xamarinshukla I gave it a try and I can't reproduce the issue you are seeing, do you mind giving this another try but deleting the `bin/` and `obj/` folders manually? Also make sure you are using the latest stable versions of Xamarin.

Another thing, is this happening on a build bot? (invoking build via command line) Or is this happening from Visual Studio for Mac?

[2018-02-22 06:14] rolfbjarne commented on #3201
This is the error:

this means the compiler (`/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang`) couldn't be found, which probably means that Xcode is corrupted somehow. Try deleting and installing Xcode again to see if that helps.

[2018-02-22 09:55] bigDave1357 commented on #3401
Here’s the relevant keys from the release configuration were using

<EnableCodeSigning>true</EnableCodeSigning>
<CodeSigningKey>Mac Developer: Jennifer Lukas (5VJL4BCP56)</CodeSigningKey>
<CreatePackage>true</CreatePackage>
<EnablePackageSigning>true</EnablePackageSigning>
<PackageSigningKey>3rd Party Mac Developer Installer: Added Value Solutions Limited (4T58MD9D2N)</PackageSigningKey>

We don’t

[2018-02-22 12:33] Therzok opened #3567 "[MMP][MTouch] Request for strict assembly loading and binding redirects support"
### Steps to Reproduce

1. Generate the static registrar for a given set of dlls
2. Have duplicates which don't match as version numbers

### Expected Behavior
There should be a way to apply a binding redirects file that can be used when doing strict assembly loading

### Actual Behavior
My fault, implemented it as selecting the first option

### Environment
Any

### Example Project (If Possible)

[2018-02-22 12:42] #3567 closed

[2018-02-22 12:43] Therzok opened #3568 "[MMP] Add recursive ignore directories"
Static registrar implementation for VSM added support for recursive search directories for probing for assemblies.

Implement a recursive ignore directories to ignore scanning some directories in the app bundle we have.

This would prevent possible issues such as 2 dlls referencing xammac being out of sync between the bundled Xamarin Inspector app bundle and the main VSM bundle

[2018-02-22 14:26] spouliot opened #3570 "Updating error documentation generation/workflow"
Here **errors** means both errors and warnings.

### Current Situation

* We have a good workflow that ensure any new error gets documented in the same PR. However it's not clear how contributors can participate in this workflow;

* The number of errors has grown a lot over the years. Just loading the *single* error document on a slow internet connection take time. Also the position in the documen

[2018-02-22 15:06] jstedfast commented on #3401
For distribution outside of the App Store, you need to use the following certificates:

    Developer ID Application: Jennifer Lukas
    Developer ID Installer: Jennifer Lukas

(I'm guessing at the name Jennifer Lukas appearing in the certificate name, but it **must** start with the literal string "Developer ID Application" and "Developer ID Installer")

[2018-02-22 15:07] bigDave1357 commented on #3401
OK. I’ll give that a try.

[2018-02-22 15:16] chamons commented on #3570
I like the idea. Keeping MM and MT errors in sync, across branches without overlap is not fun and easy to screw up.

Question - Do we know what processing docs.microsoft.com uses to generate their pages? Instead of adding yet another custom documentation step, I'd prefer stealing someone else's if possible.

[2018-02-22 15:22] joelmartinez commented on #3570
docs.microsoft.com uses a conceptually similar system to xamarin's docpub ... which is to say they can publish docs from a group of markdown documents. We are literally right in the middle of migrating our guides over to this system, so it will be as simple as depositing the markdown documents in a github repository and they will be published.

[2018-02-22 16:34] xamarinshukla commented on #3201
Is there a clean Xcode uninstall script? or it is just drag and drop to
trash?

On Thu, Feb 22, 2018 at 12:14 AM, Rolf Bjarne Kvinge <
notifications@github.com> wrote:

[2018-02-22 17:39] razmojazz commented on #3522
Hi!

I tried to run your code, but it doesn't work on Live player on my iPhone 6 (It showed a warning once and nothing happens when I click "Start Accelerometer").

I was not sure if it was a Mac problem or a Live Player problem, but it seems to be the latter. Should I just repost in the Live Player forum?

[2018-02-22 17:58] conceptdev commented on #3570
You can see if you click the _Edit_ button, the source is basic markdown with YAML header info.

https://github.com/dotnet/docs/blob/master/docs/csharp/misc/cs0841.md

if the source content is actually a single-file XML or something), you'd need a preprocessor that splits it up into these individual markdown files... but from that point, it's super-easy to get published. we can create a private or

[2018-02-22 18:38] chamons opened #3577 "MM0134 needs links to documentation"
In https://github.com/xamarin/xamarin-macios/pull/3564 we're submitting without links to describe how you update.

https://github.com/xamarin/xamarin-macios/pull/3564/files#r169805463

[2018-02-22 18:53] spouliot commented on #3570
@conceptdev thanks for the link - we'll have a look before going forward

As for a repo we want to keep this inside our main repo - just because it's the easiest/safest way to ensure no new/updated error code ever gets committed without documentation :)

[2018-02-23 02:04] dalexsoto opened #3581 "UIRequiredDeviceCapabilities must also be present in frameworks' info.plist when container app is set to arm64 to avoid ERROR ITMS-90502"
## Description

When container app's `info.plist` has `UIRequiredDeviceCapabilities` set to `arm64` only i.e.

[code]

all frameworks' `info.plist` inside `Frameworks` directory should also contain `UIRequiredDeviceCapabilities` set to `arm64` else you will get the following error when submitting your app to iTunes Connect:

References:
* https://github.com/CocoaPods/CocoaPods/issues/4514
* https:

[2018-02-23 03:01] dalexsoto commented on #3547
I was able to reproduce this issue

Crashlog: https://gist.github.com/dalexsoto/93ff0d644439772b37cc5999a882ae1c

[code]

iOS 11.2.6, iPhone X
watchOS 4.2.3  Watch first gen

[2018-02-23 04:28] dalexsoto opened #3582 "[rfc] NativeObjectAttribute: The class attribute to generate INativeObjects classes"
### Description

Currently we do not provide a mechanism in the generator to generate bindings for [Core Foundation objects](https://developer.apple.com/documentation/corefoundation/cftyperef?language=objc) or objects like [VTSession](https://developer.apple.com/documentation/videotoolbox/vtsession).

The idea is to teach the generator how to create the boilerplate code for this kind of objects an

[2018-02-23 04:41] dalexsoto commented on #3452
Added property to proposed attribute:

IsFirstParamHandle: Instructs the generator to create the P/Invoke signature with an extra parameter placed at the beginning that will be used to pass the Handle property of the container instance object.

This is basically to play nice with the generated class of [NativeObject](https://github.com/xamarin/xamarin-macios/issues/3582) and be able to generate qu

[2018-02-23 06:46] rolfbjarne commented on #3582
I like the idea :smile:

A few points:

* I think it should be `ObjCRuntime.NativeObject` to match `ObjCRuntime.INativeObject`.
* We use constructor chaining usually:

[code]
* You don't need to generate the destructor, the base destructor will be called anyway.

[2018-02-23 11:02] rolfbjarne commented on #3452
@dalexsoto can't you use the `[Static]` attribute (or lack thereof) to do the same?

[code]

This would generate an instance method on the `NFoo` class, where the first argument to the P/Invoke is the handle of the native object.

OTOH this:

[code]

would generate a static P/Invoke that exposes the first IntPtr argument as well.

[2018-02-23 13:14] filipnavara opened #3584 "ACTool is rerun with no source code changes"
### Steps to Reproduce

1. Create a Xamarin.Mac project.
2. Add some image assets.
3. Build
4. Build again

### Expected Behavior

The ACTool is executed during first build (step 3), but it is skipped on a rebuild with no changes (step 4).

### Actual Behavior

ACTool is run whether input files have changed or not. This may significantly affect build times during a usual debugging cycles.

### Env